<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../">
        <span class="logo-text">PB029: Zadání zápočtových dokumentů</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Zápočtové úlohy jsou dvě: první je TeXem vysázený text odevzdávaný
        na papíře, druhou úlohou je návrh a použití vlastního jednoduchého 
        XML jazyka.
    </p>
    <p>
        Pozdní odevzdání zápočtových dokumentů z&nbsp;jiného důvodu než omluveného
        (doložená nemoc apod.) je možné do prvního vypsaného zkouškového
        termínu, ale bude bodově penalizováno 5&nbsp;body za každý zápočtový
        dokument. O opravu pozdě odevzdaných dokumentů požádejte vyučující e-mailem.
    </p>
    <p>
        Pokud nejste s hodnocením svých zápočtových dokumentů spokojeni,
        můžete je přepracovat a požádat o opětovné ohodnocení na svém opravném
        termínu. Přepracované dokumenty budou penalizovány 5 body.
    </p>
    <p>
        Závěrečné úlohy student vypracovává <em>samostatně</em>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="tex">
            První zápočtový dokument&nbsp;– TeXem sázený dokument
        </span>
    </h2>
    <ol>
        <li>
            Dokument bude v&nbsp;češtině nebo slovenštině.
            <em>Pokud nejste rodilí mluvčí češtiny ani slovenštiny, můžete dokument připravit také v angličtině.</em>
        </li>
        <li>
            Dokument bude napsán pravopisně správně.
            <em>České a slovenské dokumenty nerodilých mluvčí češtiny a slovenštiny budou z jazykového hlediska hodnoceny shovívavě.
            Uveďte prosím tuto skutečnost přímo v textu dokumentu např. jako poznámku pod čarou.</em>
        </li>
        <li>
            Dokument bude mít dvě obsahově stejné podoby&nbsp;&ndash;
            elektronickou a&nbsp;papírovou:
        </li>
        <ul>
            <li>
                Elektronická verze bude klikací (hypertextový rejstřík apod.).
            </li>
            <li>
                Před tiskem papírové verze použijte šablonu
                <a href="../practices/slucovani-dokumentu/#ukoly-k-procviceni">
                <code>odplist</code></a> (dostupnou také na
                <a href="https://www.overleaf.com/read/cjdswxqmnjhk">službě Overleaf</a>)
                a dokument vytiskněte jednostranně na papír formátu A4, abychom
                ho mohli automaticky naskenovat.
            </li>
        </ul>
        <li>
            Na výběr máte ze dvou typů dokumentů: váš životopis, nebo referát o&nbsp;TeXu.
        </li>
        <ol>
            <li>
                <strong id="tex-cv">Životopis</strong>
            </li>
            <ol>
                <li>
                    Váš dokument bude sestávat ze dvou částí:
                    První část bude obsahově váš strukturovaný 
                    životopis, druhý bude průvodní nebo doporučující dopis 
                    k&nbsp;životopisu, anebo jiný obsahově kompaktní text (esej,
                    seminární práce, kapitola závěrečné práce, atd.).
                    Tento text má mít jasně odlišená a vysázená
                    metadata (autor, nadpis), číslování stránek. Měl by být napsán
                    odborným stylem. Rozsahově ho však
                    upravte tak, aby se vešel do zadaného rozsahu.
                </li>
                <li>
                    Rozsah vašeho dokumentu bude <em>právě</em> pět stran.
                </li>
                <li>
                    Dokument bude obsahovat bibliografii zpracovanou programem BibTeX 
                    nebo BibLaTeX. Bibliografie se <em>ne</em>bude nacházet na samostatné straně.
                </li>
                <li>
                    Dokument bude obsahovat rejstřík vytvořený programem 
                    <tt>xindy</tt>/<tt>texindy</tt>. Rejstřík se rovněž nebude nacházet
                    na samostatné straně (jinými slovy tedy není možné zaplnit dvě a
                    více stran pouze rejstříkem a bibliografií).
                </li>
                <li>
                    Dokument bude mít vloženou bitmapovou grafiku (například, ale ne
                    nutně, vaši fotku v&nbsp;životopisu).
                </li>
                <li>
                    Dokument bude obsahovat vektorovou grafiku: obrázky vytvořené
                    <a href="../practices/obrazky-v-texu#latex">v&nbsp;LaTeXu</a>
                    nebo pomocí <a href="../practices/wysiwyg-dtp/#inkscape"><abbr
                    title="What You See Is What You Get">WYSIWYG</abbr> nástroje
                    Inkscape</a>.
                </li>
            </ol>
            <li>
                <strong id="tex-cstug-article">Referát</strong>
            </li>
            <ol>
                <li>
                    Ve svém dokumentu poreferujte o zajímavé TeXové technologii.
                    Inspirovat se můžete (ale nemusíte):
                    <ul>
                        <li>
                            články v časopise <a href="https://tug.org/tugboat/contents.html">TUGboat</a>;
                            zaměřte se na články pro nováčky označené heslem „Introductory“
                        </li>
                        <li>
                            programem konference
                            <a href="https://tug.org/tug2024/program.html">TUG 2024</a>
                            nebo <a href="https://tug.org/meetings.html">jiných TeXových
                            setkání</a>, ze kterých jsou často dostupné i videozáznamy
                        </li>
                        <li>
                            TeXovými balíčky dostupnými
                            ve <a href="https://ctan.org/topics/cloud">webovém katalogu
                            CTAN</a>
                        </li>
                    </ul>
                    Vybrané téma konzultujte s vyučujícím.
                </li>
                <li>
                    Očekává se, že popisovanou TeXovou technologii použijete pro
                    řešení vlastního problému, nebo ji zasadíte do širšího
                    kontextu. Pokud vycházíte z příspěvku na konferenci nebo
                    jiného zdrojového dokumentu, snažte se obohatit čtenáře nad
                    rámec toho, co by se dozvěděl ze zdrojového dokumentu, ne ho
                    otrocky převyprávět.
                </li>
                <li>
                    Rozsah vašeho dokumentu budou <em>nejméně</em> čtyři strany.
                </li>
                <li>
                    Dokument bude napsán odborným stylem a bude členěný na
                    abstrakt, úvod, stať a závěr. Pro lepší představu si můžete
                    prohlédnout povedené dokumenty svých kolegů z minulých let:
                    <ul>
                        <li><a href="https://dml.cz/handle/10338.dmlcz/151757">Sazba hudebních skladeb</a> od Karla Šebely, vyšla ve <a href="https://dml.cz/handle/10338.dmlcz/151753">Zpravodaji CSTUGu 2023/1–2</a></li>
                        <li><a href="https://dml.cz/handle/10338.dmlcz/151758">Pohľad TeXového nováčika na prezentáciu „Bricks and Jigsaw Pieces“ z TUGu 2022</a> od Matúše Vančíka, vyšel ve <a href="https://dml.cz/handle/10338.dmlcz/151753">Zpravodaji CSTUGu 2023/1–2</a></li>
                        <li><a href="https://www.overleaf.com/read/hmxhshbgnbzm#9d22a9">Overleaf Community Edition: Postup inštalácie a rozdiely oproti Overleaf Professional</a> od Michala Stano, vyjde ve Zpravodaji CSTUGu 2024/1–4</li>
                    </ul>
                </li>
                <li>
                    Pro přípravu dokumentu použijte šablonu
                    <a href="https://www.cstug.cz/bulletin/bulstyl.shtml">
                    <code>csbulletin</code></a> (dostupnou také na
                    <a href="https://www.overleaf.com/latex/templates/cstug-bulletin-article/yjdcyxtkmxmz">službě Overleaf</a>).
                </li>
                <li>
                    Dokument bude obsahovat bibliografii zpracovanou programem
                    BibTeX nebo BibLaTeX. Pokud vycházíte z příspěvku na konferenci
                    nebo jiného zdrojového dokumentu, vaše bibliografie bude
                    odkazovat přinejmenším tento zdrojový dokument.
                </li>
                <li>
                    Odevzdáním svého dokumentu jej nabízíte k vydání ve
                    <a href="https://www.cstug.cz/zpravodaj/o-zpravodaji/">Zpravodaji
                    CSTUGu</a>. Kromě výše uvedených požadavků by měl váš dokument
                    splňovat požadavky uvedené v&nbsp;<a href="https://www.cstug.cz/zpravodaj/pokyny/">pokynech
                    pro autory</a>.
                </li>
            </ol>
        </ol>
        <li>
            Nejpozději <strong>do neděle 10.&thinsp;11.&thinsp;2024, 23:59</strong> můžete
            plné zdroje elektronické verze umožňující přesazbu dokumentu ve formě jediného
            komprimovaného archivu odevzdat nanečisto a zapojit se do
            <a href="#peer-assessment">vzájemného hodnocení</a>
            s ostatními studenty. Odměnou vám bude zpětná vazba k vašemu dokumentu
            a až 6 bodů.
        </li>
        <li>
            Hotová papírová verze bude odevzdána na papíře, s&nbsp;podpisem tvůrce,
            nejpozději <strong>do pondělí 16.&thinsp;12.&thinsp;2024, 12:00</strong>.
            sekretářce kateder (FI MU místnost B407, případně schránka před ní),
            Dejte si prosím pozor na kvalitu tisku &ndash; kontury znaků by měly
            být jasně viditelné a grafické prvky by neměly být rozpixelované.
        </li>
<!--        <li>
           Papírová verze bude odevzdána jedním z následujících způsobů:
           <ol>
              <li>
                na papíře, s&nbsp;podpisem tvůrce, nejpozději <strong>do
                čtvrtka 2.&nbsp;12.&nbsp;2021, 9:00h</strong>, sekretářce
                kateder (místnost B407, případně schránka před ní),
              </li>
              <li>
                na papíře, s&nbsp;podpisem tvůrce poštou <strong>s&nbsp;datem
                poštovního razítka v&nbsp;roce 2020</strong> na následující
                adresu:
                <ul>
                  <li>Fakulta informatiky MU</li>
                  <li>Sekretariát kateder</li>
                  <li>Jana Halámková</li>
                  <li>Botanická 68a</li>
                  <li>602 00 Brno</li>
                  <li>Česká republika</li>
                </ul>
              </li>
              <li>
                vzhledem k&nbsp;distanční výuce byla 28. 11. přidána
                ještě možnost zaslání elektronickou poštou <strong>s
                hlavičkami <tt>Date</tt> a
                <tt>Received</tt> v&nbsp;roce 2020 (v libovolném
                časovém pásmu)</strong> a s&nbsp;hlavičkou
                <tt>Subject: PB029: &lt;vaše-učo&gt;</tt>
                na adresu <tt>sojka@fi.muni.cz</tt> v&nbsp;archivním
                formátu PDF/A.
              </li>
           </ol>
           Pokud zvolíte způsob 1, nebo 2, dejte si prosím pozor na kvalitu
           tisku &ndash; kontury znaků by měly být jasně viditelné a grafické
           prvky by neměly být rozpixelované. Pokud zvolíte způsob 3, použijte
           nástroj <a href="https://verapdf.org/home/">VeraPDF</a> pro kontrolu,
           že váš dokument je ve formátu PDF/A. Pro vytváření PDF/A dokumentů
           v&nbsp;LaTeXu vizte např.
           <a href="https://mj.ucw.cz/vyuka/bc/pdfaq.html">tento článek</a>.
        </li>
-->
        <li>
           Plné zdroje elektronické verze umožňující přesazbu dokumentu 
           budou ve formě jediného komprimovaného archivu nejpozději do 
           téhož data v&nbsp;Odevzdávárně předmětu v&nbsp;IS&nbsp;MU.
        </li>
    </ol>

    <!-- Návěští sekce. -->
    <h2>
        <span id="xml">
            Druhý zápočtový dokument&nbsp;– návrh vlastního jazyka XML
        </span>
    </h2>
    <p>
        Úkolem je navrhnout vlastní jednoduchý XML jazyk pro uchovávání
        databáze kontaktů (adresář osob).
    </p>
    <ol>
        <li>
            Každá osoba je (ne nutně jednoznačně) identifikována svým 
            jménem.
            <ul>
            <li>
                To je značkami logicky rozděleno minimálně na křestní jméno
                a příjmení.
            </li>
            </ul>
        </li>
        <li>
            Pro každou osobu je možné evidovat libovolné množství
            <ul>
            <li>
                e-mailových adres,
            </li>
            <li>
                telefonních čísel a
            </li>
            <li>
                odkazů na webové stránky.
            </li>
            </ul>
            Volitelně je pro adresy, čísla a odkazy možné specifikovat typ
            z&nbsp;předdefinovaného seznamu přípustných voleb, např.
            <code>osobní</code>, <code>pracovní</code>, <code>jiná</code>.
        </li>
        <li>
            Krom e-mailů, telefonů a odkazů na web umožněte specifikaci 
            jiného typu kontaktu jako dvojice jména služby (libovolný 
            uživatelem zadaný rozumně dlouhý řetěz písmen a číslic, např. 
            <code>Skype</code>, <code>Jabber</code> apod.) a ID uživatele 
            v&nbsp;dané službě (opět libovolný rozumně dlouhý řetězec
            s povolenými speciálními znaky jako zavináč 
            [<code>@</code>] apod.).
        </li>
        <li>
            Umožněte ke kontaktu přidat libovolný počet poštovních adres 
            strukturovaných na
            <ul>
            <li>
                jméno ulice,
            </li>
            <li>
                číslo orientační/popisné,
            </li>
            <li>
                PSČ,
            </li>
            <li>
                město apod.
            </li>
            </ul>
        </li>
        <li>
            Umožněte přidat libovolný počet poznámek (nestrukturované 
            textové pole s&nbsp;větší povolenou délkou a možností zadávat více 
            řádků textu).
        </li>
    </ol>
    <p>
        Technicky je úkolem:
    </p>
    <ol>
        <li>
            Navrhnout XML jazyk dle volného textového zadání výše,
        </li>
        <li>
            formalizovat jeho specifikaci vytvořením strojově validovatelné 
            gramatiky v&nbsp;jazyce XML Schema (případně jiném formalizmu typu 
            RELAX NG, Schematron apod.; to ale předem konzultujte 
            s&nbsp;vyučujícím) a
        </li>
        <li>
            připravit XSL stylesheet, který každý platný dokument v&nbsp;tomto 
            jazyce převede na validní XHTML (1.0 či vyšší) nebo HTML (4.01 
            či vyšší) stránku splňující
            <a href="https://www.pixy.cz/dogma/">zásady W4D</a>
            s&nbsp;vhodnou grafickou reprezentací obsažených dat,
            <ul>
            <li>
                tj. řadit seznam dle abecedy (dle příjmení),
            </li>
            <li>
                jména osob zobrazovat v&nbsp;jednotném formátu (např. „Příjmení, 
                Jméno“ apod.),
            </li>
            <li>
                e-mailové adresy a odkazy na webové adresy prezentovat jako 
                „klikatelné“ odkazy,
            </li>
            <li>
                vhodně graficky oddělit jednotlivé záznamy (jméno kontaktu 
                je nadpis a jemu příslušející údaje využívají značkování 
                logicky podřízené) atd.
            </li>
            </ul>
        </li>
    </ol>
    <p>
        Technické řešení demonstrujte:
    </p>
    <ol>
        <li>
            Vytvořením sady tří platných databází kontaktů (třech 
            samostatných XML souborů) ve vašem jazyce:
            <ol>
            <li>
                soubor nebude obsahovat žádné kontakty, tj. bude 
                demonstrovat platný dokument, který ale neobsahuje žádné 
                záznamy.
            </li>
            <li>
                soubor bude obsahovat právě jeden kontakt s využitím všech 
                datových polí a jejich možností, které váš jazyk umožňuje, 
                tj. bude představovat příklad maximální podoby záznamu, 
                kterou je možné vaším jazykem vyjádřit.
            </li>
            <li>
                soubor bude obsahovat 5&nbsp;různých záznamů s&nbsp;různým stupněm 
                vyplnění údajů, tj. bude příkladem reálného dokumentu, kde 
                pro různé kontakty bude využita různá sada podporovaných údajů.
            </li>
            </ol>
        </li>
        <li>
            Připravte také sadu několika <em>ne</em>validních dokumentů, 
            které budou demonstrovat možné chyby v&nbsp;dokumentech, které jsou 
            odhaleny jejich validací, např.
            <ul>
            <li>
                nepovolený formát e-mailové adresy (kde např. úplně chybí 
                znak <code>@</code> apod.) či telefonního čísla,
            </li>
            <li>
                chybějící povinné datové pole,
            </li>
            <li>
                výskyt neznámého pole,
            </li>
            <li>
                nepovolený počet výskytů platného pole apod.
            </li>
            </ul>
        </li>
    </ol>
    <p>
        Sadu všech souborů (včetně vygenerovaných [X]HTML reprezentací) 
        vhodně pojmenujte (např. <code>schema.xsd</code>; 
        <code>to-html.xsl</code>; <code>valid-empty.{xml,html}</code>, 
        <code>valid-full-record.{xml,html}</code>, 
        <code>valid-real-world-records.{xml,html}</code>; 
        <code>invalid-email-format.xml</code>, ... apod.).
    </p>
    <p>
        Nejpozději <strong>do neděle 1.&thinsp;12.&thinsp;2024, 23:59</strong> můžete
        svůj dokument ve formě jediného komprimovaného archivu odevzdat
        nanečisto a zapojit se do <a href="#peer-assessment">vzájemného hodnocení</a>
        s ostatními studenty. Odměnou vám bude zpětná vazba k vašemu dokumentu
        a až 6 bodů.
    </p>
    <p>
        Hotový dokument odevzdejte ve formě jediného komprimovaného archivu do
        Odevzdávárny předmětu v&nbsp;IS MU
        <strong>do pondělí 16.&thinsp;12.&thinsp;2024, 12:00</strong>.
    </p>
    <p>
        Zadání obou zápočtových úloh není (a ani nemůže a nechce být)
        vyčerpávající a není možné jej brát jako seznam povinných
        bodů, jejichž doslovné splnění vede 
        k&nbsp;plnému počtu bodů a nesplnění některých z&nbsp;nich k&nbsp;přesné bodové 
        srážce „za kus“. Konečné hodnocení bude reflektovat celkovou 
        funkčnost a kvalitu provedení, preciznost formální definice (co 
        všechno a jak přesně kontrolujete), dojem z&nbsp;grafického provedení 
        (X)HTML reprezentace dat apod. Precizní provedení jazyka s&nbsp;menším 
        množstvím možností může být cennější než rozsáhlý jazyk s&nbsp;chabou 
        definicí platných dat.
    </p>
    <p>
        Nadstandardně pěkné provedení může být snadno ohodnoceno i více než 
        100&nbsp;% bodů plánovaných na tento zápočtový dokument. Zapojte vlastní 
        invenci a nápady – co třeba poštovní adresy obohatit o odkazy na 
        zobrazení místa v&nbsp;Google Maps / OpenStreetMap / Mapy.cz apod.? (Stačí 
        řešit vygenerováním odkazu, který text adresy zadá dané službě 
        k&nbsp;vyhledání.) Bonusové body lze rovněž získat za přípravu XSL 
        transformací, které vstupní XML dokument převedou do alternativního 
        formátu, např. LaTeXu.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="peer-assessment">
          Vzájemné hodnocení
        </span>
    </h2>
    <p>
        <a href="https://cs.wikipedia.org/wiki/Peer_assessment">Peer assessment</a>
        neboli vzájemné hodnocení studentů je proces hodnocení,
        při kterém se studenti hodnotí mezi sebou a učí se tak podávat a
        přijímat konstruktivní zpětnou vazbu.
    </p>
    <p>
        Pokud <strong>do neděle 10.&thinsp;11.&thinsp;2024, 23:59</strong> odevzdáte
        první zápočtové dokumenty do Odevzdávárny předmětu v IS MU, budete e-mailem
        od IS MU vyzváni,
        abyste <strong>do neděle 17.&thinsp;11.&thinsp;2024, 23:59</strong>
        ohodnotili první zápočtové dokumenty třech svých kolegů.
        Detailní instrukce, jak při vzájemném hodnocení postupovat, budou
        součástí e-mailu od IS MU.
    </p>
    <p>
        Pokud <strong>do neděle 1.&thinsp;12.&thinsp;2024, 23:59</strong> odevzdáte
        druhé zápočtové dokumenty do Odevzdávárny předmětu v IS MU, budete e-mailem
        od IS MU vyzváni,
        abyste <strong>do neděle 8.&thinsp;12.&thinsp;2024, 23:59</strong>
        ohodnotili druhé zápočtové dokumenty třech svých kolegů.
        Detailní instrukce, jak při vzájemném hodnocení postupovat, budou
        součástí e-mailu od IS MU.
    </p>
    <p>
        Během hodnocení zběžně projděte dokumenty svých kolegů a poskytněte jim
        konstruktivní zpětnou vazbu. Kontrola jednoho dokumentu by vám neměla
        zabrat více než půl hodiny.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="versioning">
            Použití systému pro správu verzí
        </span>
    </h2>
    <p>
        Při přípravě elektronických dokumentů je velmi žádoucí používat 
        <a href="../practices/sprava-verzi/">systém pro správu verzí</a>,
        např. <a href="https://git-scm.com/">Git</a>. Jeho korektní použití
        s <a href="../practices/automatizace-sazby#prubezna-integrace">průběžnou
        integrací</a> bude odměněno až 5&nbsp;bonusovými body.
    </p>
    <p>
        Při použití Gitu si vytvořte v&nbsp;<a href="https://gitlab.fi.muni.cz/">GitLabu FI</a> 
        repozitář pojmenovaný ve tvaru <tt>&lt;váš-fi-login&gt;_PB029</tt> 
        (<em><tt>PB</tt> verzálkami!</em>). Po vytvoření repozitáře přidejte
        v levé postranní nabídce „Manage“ → „Members“ tlačítkem „Invite members“
        uživatele <tt>xnovot32</tt> a <tt>xpopelk</tt> s přístupovými právy v&nbsp;nabídce
        „Select a role“ nastavenými na hodnotu „Reporter“ nebo vyšší.
        Odkazy na příslušný repozitář a&nbsp;další informace potřebné pro
        kontrolu zdokumentujte v&nbsp;rámci archivů odevzdávaných do
        Odevzdávárny předmětu v&nbsp;IS MU (ideálně např. pomocí textového
        souboru <tt>README.md</tt>).
    </p>
    <p>
        Prémiové body budou přiděleny jen v&nbsp;případě, že od odevzdání
        zápočtových dokumentů bude až do jejich konečného vyhodnocení
        dostupný repozitář splňující uvedené požadavky, <strong>a</strong>&nbsp;pokud tento
        repozitář byl při vývoji dokumentů skutečně použit (tzn. byly do
        něj ukládány jednotlivé vývojové verze dokumentů v&nbsp;průběhu
        jejich přípravy během semestru, ne jen vložena jejich finální verze
        předtím připravená bez použití systému pro správu verzí).
    </p>
    <!-- Konec textu. -->
</div>
