body {
	background-color: #ffffff;
	font-family: serif, sans-serif;
	font-size: 12pt;
	color: #000000;
}
img {
	page-break-inside: avoid;
}
h1 {
	font-size: 220%;
	page-break-inside: avoid;
	page-break-after: avoid;
}
h1 a {
	color: #000000;
}
h2 {
	font-size: 160%;
	page-break-inside: avoid;
	page-break-after: avoid;
}
h3 {
	font-size: 120%;
	page-break-inside: avoid;
	page-break-after: avoid;
}
h4 {
	font-size: 100%;
	page-break-inside: avoid;
	page-break-after: avoid;
}
h5 {
	font-size: 80%;
	page-break-inside: avoid;
	page-break-after: avoid;
}
h6 {
	font-size: 60%;
	page-break-inside: avoid;
	page-break-after: avoid;
}
p {
	margin: 0em;
	padding: 0em;
	text-indent: 1.5em;
	orphans: 2;
	widows: 2;
}
ul {
	orphans: 2;
	widows: 2;
}

a {
	background-color: #ffffff;
	color: #222222;
}
.blok_odkazu {
	padding: 0.5em 2.5em;
	page-break-before: avoid;
	orphans: 2;
	widows: 2;
}
#logo-img, #menu, .mininavigace, .mirror, #footerLogos {
	display: none;
}
#footer {
	margin-top: 2em;
	padding-top: 0.5em;
	border-top: solid 1px #000000;
	font-size: 80%;
	text-align: right;
	page-break-before: avoid;
	page-break-inside: avoid;
}
