@media (prefers-color-scheme: dark) {
    .hll { background-color: #333333 }
    .pygments_c { color: #888888; font-style: italic } /* Comment */
    .pygments_err { color: #FFAAAA; background-color: #660000 } /* Error */
    .pygments_k { color: #8888FF } /* Keyword */
    .pygments_cm { color: #888888; font-style: italic } /* Comment.Multiline */
    .pygments_cp { color: #91b567 } /* Comment.Preproc */
    .pygments_c1 { color: #888888; font-style: italic } /* Comment.Single */
    .pygments_cs { color: #8888FF; font-style: italic } /* Comment.Special */
    .pygments_gd { color: #FF6666 } /* Generic.Deleted */
    .pygments_ge { font-style: italic } /* Generic.Emph */
    .pygments_gr { color: #FF6666 } /* Generic.Error */
    .pygments_gh { color: #CCCCFF; font-weight: bold } /* Generic.Heading */
    .pygments_gi { color: #66FF66 } /* Generic.Inserted */
    .pygments_go { color: #555555 } /* Generic.Output */
    .pygments_gp { color: #BBBBBB } /* Generic.Prompt */
    .pygments_gs { font-weight: bold } /* Generic.Strong */
    .pygments_gu { color: #DD99FF; font-weight: bold } /* Generic.Subheading */
    .pygments_gt { color: #FF6666 } /* Generic.Traceback */
    .pygments_kc { color: #8888FF } /* Keyword.Constant */
    .pygments_kd { color: #8888FF } /* Keyword.Declaration */
    .pygments_kn { color: #8888FF } /* Keyword.Namespace */
    .pygments_kp { color: #8888FF } /* Keyword.Pseudo */
    .pygments_kr { color: #8888FF } /* Keyword.Reserved */
    .pygments_kt { color: #55CCCC } /* Keyword.Type */
    .pygments_m { color: #55CCCC } /* Literal.Number */
    .pygments_s { color: #FFAA55 } /* Literal.String */
    .pygments_na { color: #77BFFF } /* Name.Attribute */
    .pygments_nb { color: #55CCCC } /* Name.Builtin */
    .pygments_nc { color: #66FF66; text-decoration: underline } /* Name.Class */
    .pygments_no { color: #FF6666 } /* Name.Constant */
    .pygments_nd { color: #555555 } /* Name.Decorator */
    .pygments_ni { color: #FF5555; font-weight: bold } /* Name.Entity */
    .pygments_nf { color: #66FF66 } /* Name.Function */
    .pygments_nn { color: #55CCCC; text-decoration: underline } /* Name.Namespace */
    .pygments_nt { color: #77BFFF; font-weight: bold } /* Name.Tag */
    .pygments_nv { color: #FF6666 } /* Name.Variable */
    .pygments_ow { color: #8888FF } /* Operator.Word */
    .pygments_w { color: #999999 } /* Text.Whitespace */
    .pygments_mf { color: #55CCCC } /* Literal.Number.Float */
    .pygments_mh { color: #55CCCC } /* Literal.Number.Hex */
    .pygments_mi { color: #55CCCC } /* Literal.Number.Integer */
    .pygments_mo { color: #55CCCC } /* Literal.Number.Oct */
    .pygments_sb { color: #FFAA55 } /* Literal.String.Backtick */
    .pygments_sc { color: #FFAA55 } /* Literal.String.Char */
    .pygments_sd { color: #FFAA55 } /* Literal.String.Doc */
    .pygments_s2 { color: #FFAA55 } /* Literal.String.Double */
    .pygments_se { color: #FFAA55 } /* Literal.String.Escape */
    .pygments_sh { color: #FFAA55 } /* Literal.String.Heredoc */
    .pygments_si { color: #FFAA55 } /* Literal.String.Interpol */
    .pygments_sx { color: #FFAA55 } /* Literal.String.Other */
    .pygments_sr { color: #55CCCC } /* Literal.String.Regex */
    .pygments_s1 { color: #FFAA55 } /* Literal.String.Single */
    .pygments_ss { color: #8888FF } /* Literal.String.Symbol */
    .pygments_bp { color: #55CCCC } /* Name.Builtin.Pseudo */
    .pygments_vc { color: #FF6666 } /* Name.Variable.Class */
    .pygments_vg { color: #FF6666 } /* Name.Variable.Global */
    .pygments_vi { color: #FF6666 } /* Name.Variable.Instance */
    .pygments_il { color: #55CCCC } /* Literal.Number.Integer.Long */
}
