@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	#header {
		background-color: #996B00;
		color: white;
	}
	
	
	#content {
		background-color: #1a1a1a;
		color: white;
	}
	
	#text a {
		background-color: inherit;
		color: #ffe8b3;
	}
	#text a:hover {
		background-color: inherit;
		color: #ffd980;
	} 
	#text a[href*="overleaf.com"] {
	  color: #a6f8a0 !important;
	}    
	
	.mininavigace {
		background-color: inherit;
		color: inherit;
	}
	.mirror {
		background-color: inherit;
		color: inherit;
	}
	
	#menu {
		background-color: #2e2e38; /* #000033 */
		color: white;
	}
	#menu a {
		background-color: inherit;
		color: inherit;
	}
	#menu a:hover {
		background-color: inherit;
		color: #d4d9f7;
	}
	
	/* I don't see any reason to change aything in footer as it perfectly fits */
	#footer {
		background-color: #996B00;
		color: #dddddd;
	}
	
	.tip-box {
		outline-color: white;
	}
	code.ukazka_kodu, div.ukazka_kodu {
		outline-color: white;
	}
	
}
