<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Korektury textů</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Chybovat je lidské, ale nepoučit se z&nbsp;chyb a neopravovat je „cestou
        do pekel“. Jaká jsou typografická pravidla v&nbsp;národních kulturách
        (americká a britská se například liší) a jazycích jste slyšeli na
        přednášce a najdete je kodifikována v&nbsp;příslušných dokumentech
        (<a href="https://cs.wikipedia.org/wiki/Pravidla_%C4%8Desk%C3%A9ho_pravopisu">Pravidla českého pravopisu [CZ]</a>,
        <a href="https://www.databazeknih.cz/knihy/typograficky-manual-261276">Typografický manuál [CZ]</a>,
        <a href="https://www.chicagomanualofstyle.org/home.html">Chicago Manual of Style [US]</a>,
        <a href="https://www.amazon.co.uk/Oxford-Library-English-Usage-Spelling/dp/B003ZD9Y7O">The Oxford Library of English Usage [UK]</a>,
        <a href="https://de.wikipedia.org/wiki/Duden">Duden [GE]</a>.
        Kromě znalosti pravidel je ještě třeba získat dovednost chyby rozpoznat a
        vyznačit (jednoznačným způsobem pro sazeče nebo pro sebe).
    </p>
    <p>
        Pro vyznačování oprav v&nbsp;dokumentech existují <emph>zaužívaná</emph> pravidla, se 
        kterými je vhodné se seznámit:
    </p>
    <ul>
        <li><a href="https://inet.muni.cz/proxy/icspdoc/normy/csn-88-0410.pdf">ČSN&nbsp;88&nbsp;0410 (INET), zakoupené MU, nešířit</a></li>
        <li><a href="http://www.typo.cz/databaze/pravidla-a-nazvoslovi/korektury-a-korekturni-znamenka/">typo.cz: Korektury a&nbsp;korekturní znaménka</a></li>
        <li><a href="http://www.sazba.cz/korektury/do.pdf">Jak na korektury (sazba.cz)</a></li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <!--i commented in corona times 
	<li>
            Proveďte korekturu textu rozdaného cvičícím a vyznačte
            v&nbsp;něm 10&nbsp;typografických chyb.
    </li>
        -->
	<li>
        Nahlédněte oficiální <a href="https://prirucka.ujc.cas.cz/">Internetovou
        jazykovou příručku</a> Ústavu pro jazyk český.
    </li>
    <li>
        Vyzkoušejte si neoficiální <a href="https://liteera.cz">Typografický
        Korektor českých elektronických textů online</a>,
        <a href="https://www.nechybujte.cz/pravidla-ceskeho-pravopisu">elektronická
        pravidla pravopisu</a> nebo 
        <a href="https://www.pravidla.cz/">pravidla českého pravopisu</a>.
    </li>
    <li>
        V rozdaném tištěném sborníku (nebo při offline zkoušení v&nbsp;PDF sborníku
        <a href="https://nlp.fi.muni.cz/raslan/raslan09.pdf">RASLAN 2009</a> či
        <a href="https://nlp.fi.muni.cz/raslan/raslan22.pdf">RASLAN 2022</a>)
        hledejte typografické, jazykové a stylistické chyby.
        Návrhy hlaste s&nbsp;uvedením čísla strany a popisu chyby.
        Kdo najde do konce cvičení nejvíc chyb, bude odměněn prémiovými body.
    </li>
    </ul>
    <!-- Konec textu. -->
</div>
