<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Sazba rejstříku</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Rejstřík (osob, pojmů, míst, &hellip;) pomáhá orientaci v&nbsp;rozsáhlejších 
        dokumentech. Vysvětlíme si základní principy vytváření rejstříků 
        a&nbsp;předvedeme si, jak rejstříky sázet TeXem.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="vyber-slov-do-rejstriku">
            Výběr slov do rejstříku
        </span>
    </h2>
            <p>
        Výběr slov do rejstříku je autorská záležitost a&nbsp;odvíjí se od 
        typu rejstříku, který sestavujeme. Např. v&nbsp;případě rejstříku 
        autorů je volba přímočará&nbsp;– rejstřík by měl obsahovat odkazy na 
        všechny autory v&nbsp;publikaci. V&nbsp;případě rejstříku pojmů 
        můžeme odkazovat primárně na místo s&nbsp;definicí pojmů, 
        sekundárně pak na místa v&nbsp;textu, kde se s&nbsp;daným pojmem 
        významně pracuje (přičemž autor textu musí určit, co je u&nbsp;daného 
        pojmu jeho významné použití).
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="tvorba-rejstriku">
            Postup při vytváření rejstříku
        </span>
    </h2>
    <p>
        Problematika vytváření rejstříku TeXem je rozebrána 
        např.
        v&nbsp;<a href="http://bulletin.cstug.cz/pdf/bul924.pdf#page=18&amp;zoom=page-height,-236,595">článku 
        Zdeňka Wagnera ve Zpravodaji CSTUG 4/1992</a>. V&nbsp;textu článku je 
        předvedena tvorba rejstříků pomocí nástrojů <tt>makeindex</tt>.
        <!--  a&nbsp;<tt>csindex</tt>.-->
        Ty mají některá nepříjemná omezení a&nbsp;dnes jsou 
        již překonané (pro tvorbu rejstříku je vhodnější využít nástroje 
        <a href="#tvorba-rejstriku-preklad"><tt>texindy</tt></a>). Zvýšenou
        pozornost věnujte především informacím o&nbsp;správném
        českém/slovenském řazení slov.
    </p>
    <p>
        Proces tvorby rejstříku v&nbsp;TeXovém dokumentu je možné rozdělit do 
        dvou fází: <a href="#tvorba-rejstriku-znackovani">označkování 
        pojmů</a>, které se mají stát součástí rejstříku, a&nbsp;samotné 
        <a href="#tvorba-rejstriku-preklad">vytvoření seřazeného 
        rejstříku</a> při překladu dokumentu.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tvorba-rejstriku-znackovani">
            Značkování v&nbsp;TeXovém zdrojovém textu
        </span>
    </h3>
    <p>
        Způsob značkování pojmů vkládaných do rejstříku je popsán 
        v&nbsp;komentovaném ukázkovém dokumentu 
        <a href="files/rejstrik.tex"><tt>rejstrik.tex</tt></a>
        (dostupném také na <a href="https://www.overleaf.com/read/vhdgzbvwmqvz">službě Overleaf</a>).
    </p>
    <p>
        Dokument <a href="files/rejstrik.tex"><tt>rejstrik.tex</tt></a>
        přeložte <a href="../ruzne-podoby-texu/#pdftex">pdfTeXem</a>
        <code class="ukazka_kodu">
            pdflatex <a href="files/rejstrik.tex">rejstrik.tex</a>
        </code>
        a&nbsp;přečtěte si vysázený text.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tvorba-rejstriku-preklad">
            Tvorba rejstříku při překladu
        </span>
    </h3>
    <p>
        Všimněte si, že <a href="#tvorba-rejstriku-znackovani">dokument
        <tt>rejstrik.tex</tt></a> po jednoduchém přeložení TeXem (mimo službu Overleaf)
        neobsahuje vysázený rejstřík. Ten je totiž třeba vytvořit v&nbsp;dalším
        kroku externím programem, a&nbsp;pak opakovat překlad TeXového dokumentu
        (<a href="../automatizace-sazby/">proces překladu je tedy vhodné
        automatizovat</a>):
    </p>
    <ol>
        <li>
            <code class="ukazka_kodu">
                pdflatex <a href="files/rejstrik.tex">rejstrik.tex</a>
            </code>
            <ul>
                <li>
                    Dokument je vysázený bez rejstříku, ovšem při překladu
                    vznikne soubor <tt>rejstrik.idx</tt>, který obsahuje
                    informace nutné pro vytvoření rejstříku. 
                </li>
            </ul>
        </li>
        <li>
            <code class="ukazka_kodu">
                # Pokud pracujete na unixovém serveru FI, přidejte perlový modul:
                <strong>module add perl</strong>
                <br/>
                texindy -I latex --language czech &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--codepage utf8 &nbsp;&nbsp;rejstrik.idx # Pro dokument v češtině<br/>
                texindy -I latex --language slovak-large --codepage utf8 &nbsp;&nbsp;rejstrik.idx # Pro dokument ve slovenštině<br/>
            </code>
            <ul>
                <li>
                    Informace ze souboru <tt>rejstrik.idx</tt> zpracuje program
                    <tt>texindy</tt> (varianta programu 
                    <a href="http://xindy.sourceforge.net/"><tt>xindy</tt></a>
                    přizpůsobená pro použití s&nbsp;TeXem; 
                    <a href="https://ctan.org/pkg/xindy"><tt>texindy</tt>
                    je standardní součástí instalace TeX Live</a>).
                    Výsledkem překladu je soubor <tt>rejstrik.ind</tt> 
                    s&nbsp;vygenerovaným rejstříkem v&nbsp;LaTeXovém značkování.
                </li>
                <li>
                    Pokud používáme <a href="../ruzne-podoby-texu/#kompilatory-texu">TeXový
                    kompilátor</a>, který pracuje nativně s kódováním Unicode
                    (např. XeTeX nebo LuaTeX), můžeme namísto parametrů <tt>-I latex
                    --codepage utf8</tt> použít parametr <tt>-I xelatex</tt>,
                    který <tt>texindy</tt> přepne do odpovídajícího režimu.
                </li>
                <!--
                <li>
                    Při práci s&nbsp;českým textem můžeme namísto programu <tt>texindy</tt>
                    rovněž využít program <tt>csindex</tt>. Ten není součástí standardní
                    instalace TeX Live, ale je dostupný ke stažení
                    <a href="../../files/csindex.zip">zde</a>. Pakliže používáte moderní
                    <a href="../ruzne-podoby-texu/#kompilatory-texu">TeXové
                    kompilátory</a> <a href="ruzne-podoby-texu/#xetex">XeTeX</a> nebo
                    <a href="ruzne-podoby-texu/#luatex">LuaTeX</a> pracující v&nbsp;Unicode, je
                    nejprve nutné soubor <tt>rejstrik.idx</tt> překódovat z&nbsp;UTF-8 do
                    <a href="../textove-soubory/#jednobajtova-kodovani">osmibitového
                    kódování</a> ISO&nbsp;8859-2 pomocí programu <tt>iconv</tt> nebo
                    <a href="../textove-soubory/#kodovani-textu-ukoly-k-procviceni">jiným
                    způsobem</a>:
                    <code class="ukazka_kodu">
                        iconv -f utf8 -t latin2 rejstrik.idx &gt; rejstrik.idx.new<br/>
                        mv rejstrik.idx.new rejstrik.idx
                    </code>
                    Následně je již možné vytvořit rejstřík:
                    <code class="ukazka_kodu">
                        csindex -dhkz il2 rejstrik.idx
                    </code>
                </li>
                -->
                <li>
                    Při práci s&nbsp;anglickým textem můžeme namísto programu <tt>texindy</tt>
                    rovněž využít program <tt>makeindex</tt>:
                    <code class="ukazka_kodu">
                        makeindex rejstrik.idx
                    </code>
                </li>
                <li>
                    Pokud vám nevyhovuje žádné zmíněné řešení, 
                    můžete rejstřík vytvářet i třídit v&nbsp;TeXu samotném,
                    jak popsáno v&nbsp;<a href="http://bulletin.cstug.cz/pdf/bul_071.pdf#page=25">článku
                    Petra Březiny ve Zpravodaji CSTUG 1/2007</a>.
                </li>
            </ul>
        </li>
        <li>
            <code class="ukazka_kodu">
                pdflatex <a href="files/rejstrik.tex">rejstrik.tex</a>
            </code>
            <ul>
                <li>
                    Soubor <tt>rejstrik.ind</tt> je při překladu načtený do
                    <tt>rejstrik.tex</tt> a&nbsp;rejstřík se tedy objeví ve výsledném PDF
                    dokumentu.
                </li>
            </ul>
        </li>
    </ol>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            <p>
                Balíček
                <a href="https://www.ctan.org/pkg/imakeidx"><tt>imakeidx</tt></a>
                nám umožňuje snadno upravit formátování rejstříku a využívá schopnosti
                <a href="../../practices/ruzne-podoby-texu">moderních TeXových
                strojů</a> spouštět externí programy pro automatické
                spuštění programu <tt>texindy</tt>. Tato schopnost ale interferuje
                s <a href="../automatizace-sazby/#latexmk">nástrojem <tt>latexmk</tt>
                pro automatizaci sazby</a>, který využívá služba Overleaf.
            </p>
            <p>
                Při využití
                balíčku <tt>imakeidx</tt> na službě Overleaf uveďte volbu
                <tt>noautomatic</tt> a spuštění programu <tt>texindy</tt>
                si vyžádejte <a href="../automatizace-sazby/#konfigurace-latexmk">pomocí
                konfiguračního souboru <tt>latexmkrc</tt>, vizte
                <a href="https://www.overleaf.com/read/skkjkcktdqdz">ukázkový
                dokument na službě Overleaf</a>.
            </p>
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
          Pokud jste si jako svůj první zápočtový dokument vybrali
          <a href="../../finalwork/#tex-cv">životopis</a>, přidejte
          do něj rejstřík podle <a href="../../finalwork/#tex-cv">pokynů v
          zadání</a>.
        </li>
        <li>
          Pokud jste si jako svůj první zápočtový dokument
          vybrali <a href="../../finalwork/#tex-cstug-article">referát do
          Zpravodaje CSTUGu</a>, upravte ukázkový dokument
          <a href="files/rejstrik.tex"><tt>rejstrik.tex</tt></a> (dostupný také na
          <a href="https://www.overleaf.com/read/vhdgzbvwmqvz">službě Overleaf</a>), nebo
          <a href="files/imakeidx.tex"><tt>imakeidx.tex</tt></a> (dostupný také na
          <a href="https://www.overleaf.com/read/skkjkcktdqdz">službě Overleaf</a>)
          tak, aby se rejstřík <em>ne</em>sázel na samostatné straně.
        </li>
        <li>
            Pomocí balíčků <a href="https://www.ctan.org/pkg/index"><tt>index</tt></a>,
            <a href="https://www.ctan.org/pkg/varindex"><tt>varindex</tt></a>, 
            <a href="https://www.ctan.org/pkg/imakeidx"><tt>imakeidx</tt></a>, 
            anebo jiných dostupných v&nbsp;<a href="https://www.ctan.org/topic/index">katalogu
            CTAN</a> rozšiřte <a href="#tvorba-rejstriku-znackovani">ukázkový
            dokument</a> o&nbsp;druhý rejstřík.
            <ul>
                <li>
                    Pozor, pokud nepoužijeme např. balík <tt>imakeidx</tt>, který
                    program <tt>texindy</tt> spustí automaticky, je nutné
                    připravit každý rejstřík zvlášť! Pokud
                    si tedy vytvoříme rejstřík autorů pomocí příkazu
                    <tt>\newindex{aut}{adx}{and}{Rejstřík autorů}</tt>
                    balíčku <tt>index</tt>, pak z&nbsp;vygenerovaného
                    <tt>.adx</tt> souboru musíme vygenerovat soubor
                    <tt>.and</tt> pomocí voleb <tt>-o rejstrik.and
                    rejstrik.adx</tt> programu <tt>texindy</tt>.
                </li>
            </ul>
        </li>
    </ul>

    <!-- Konec textu. -->
</div>
