<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href=".">
        <span class="logo-text">PB029: Elektronická příprava dokumentů (podzim 2024)</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Tato stránka slouží ke zveřejňování informací a&nbsp;podpůrných
        materiálů k&nbsp;předmětu <a
        href="https://is.muni.cz/auth/predmet/fi/PB029">PB029&nbsp;– 
        Elektronická příprava dokumentů</a> vyučovaného 
        <a href="https://is.muni.cz/osoba/2378">Petrem Sojkou</a>,
        <a href="https://is.muni.cz/osoba/3839">Zuzanou Nevěřilovou</a>,
        Michalem Růžičkou, Vítem Starým Novotným a Terezou Vrabcovou
        na <a href="https://www.fi.muni.cz/">Fakultě informatiky Masarykovy
        univerzity</a> v&nbsp;Brně.
    </p>
    <p>
        Po absolvování tohoto kursu bude student schopen aplikovat základní 
        principy, algoritmy a&nbsp;techniky tvorby dokumentů, využít je při svém 
        studiu a&nbsp;(týmové) publikační činnosti (psaní bakalářské, diplomové,
        či disertační práce, příprava prezentačních materiálů, webové
        stránky, dokumentace programu apod.). Student se bude schopen
        orientovat v&nbsp;moderních publikačních technologiích
        a&nbsp;formátech a&nbsp;prakticky pracovat se 
        software pro tvorbu elektronických dokumentů.
    </p>
    <p>
        Popis <a href="practices/organizacni-pokyny/#poznamky-organizaci">organizace 
        předmětu</a> a <a href="practices/organizacni-pokyny/#metody-hodnoceni">metod 
        hodnocení</a> je rekapitulován v&nbsp;rámci prvního cvičení.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="news">
            Aktuality
        </span>
    </h2>
    <ul>
    <!-- 
        <li>Byly vypsány zkušební termíny předmětu a do int. osnovy přidána souhrnná verze slidů.
    </li>
    -->
    <li>
        Na FI MU byla instalována a je průběžně aktualizována distribuce
        TeX Live 2024 (jak pod Windows v&nbsp;B311 a jinde, tak jako 
        TeXový modul <tt>texlive-2024</tt> na unixových strojích).
        Neočekávané chování či požadavky na doinstalování stylů pište 
        na&nbsp;<a href="mailto:texlive@fi.muni.cz">texlive@fi.muni.cz</a>.
    </li>
    <li>
        Služba <a href="https://www.overleaf.com/edu/fimuni">Overleaf</a>
        provedla aktualizaci distribuce TeX Live na verzi 2024.
        Zajímavé informace související s&nbsp;aktualizací a vývojem systému naleznete na
        <a href="https://www.overleaf.com/blog/tex-live-2024-is-now-available">blogu služby
        Overleaf</a>.
    </li>
    <li>
        Fakulta informatiky zakoupila pro své studenty a zaměstnance dostatek
        <a href="https://www.overleaf.com/user/subscription/plans">Pro licencí</a>
        webového editoru LaTeXových dokumentů <a href="https://www.overleaf.com/edu/fimuni">Overleaf</a>.
        Pro více informací vizte
        <a href="https://www.fi.muni.cz/tech/overleaf.html">článek na fakultním webu</a>.
    </li>
    <li>
        Do sekce s&nbsp;<a href="#resources">podpůrnými materiály</a> byl
        přidán odkaz na první tři kapitoly
        <a href="https://github.com/witiko/tt101">autorské kuchařky</a>, která
        popisuje proces tvorby dokumentů a&nbsp;slouží jako doplňující četba
        k&nbsp;přednášce. Na kuchařku se vztahuje
        <a href="#premiumwork">prémiový úkol</a> s&nbsp;nahlašováním chyb
        v&nbsp;materiálech předmětu.
    </li>
    <li>
        Bylo zřízeno <a href="https://is.muni.cz/auth/df/fithesis-sazba/">diskusní
        fórum</a> k&nbsp;makrobalíkům
        <a href="https://www.fi.muni.cz/tech/unix/tex/fithesis.html.cs">fithesis</a>,
        <a href="https://www.fi.muni.cz/lemma/projekty/mubeamer/">mubeamer</a>
        a <a href="https://www.fi.muni.cz/lemma/projekty/mubeamer/">muletter</a>,
        kde můžete i&nbsp;mimo PB029 diskutovat
        formální stránku přípravy závěrečných prací MU a dalších dokumentů. Dobře anglicky
        dokumentovaná verze fithesis (fithesis4) je v&nbsp;<a href="https://is.muni.cz/th/nghf5/">BP
        Terezy Vrabcové</a> oceněné cenou děkana. Vše je dostupné k&nbsp;užití
        i&nbsp;v&nbsp;instalovaném fakultním modulu <tt>texlive</tt> nebo na
        <a href="https://www.overleaf.com/edu/fimuni">Overleaf</a>. 
    </li>
    </ul>

<!--
    <h2>
        <span id="syllabus">
            Osnova
        </span>
    </h2>
    <div class="week" id="week1">
        <h3>1.&thinsp;týden (17.&thinsp;9.&thinsp;2018&nbsp;– 23.&thinsp;9.&thinsp;2018)</h3>
        <h4>Teoretická přednáška</h4>
        <p class="lecture_description">
            Od autora ke čtenáři, motto předmětu, komentovaná osnova a&nbsp;sylabus 
            předmětu, doporučené literatury, ukončení předmětu,
            ukázka korekturního testu, anketa.
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li> <a href="slides/2018-09-20.pdf">slajdy</a></li>
            </ul>
            <br/>
            <h5>Readings do 27.&thinsp;9.:</h5>
            <ul>
                <li>sekce 1.1 až 1.1.4 z&nbsp;<a href="https://github.com/witiko/tt101">autorské kuchařky</a>.</li>
                <li> <a href="https://www.overleaf.com/edu/fimuni">Overleaf PRO</a>, registrace přes fakultní email</li>
            </ul>
        </div>
        <h4>Demonstrační přednáška a cvičení</h4>
        <p class="practice_description">
            Základní organizační pokyny, požadavky na účast a metody hodnocení.
            (<a href="practices/organizacni-pokyny/">Organizační pokyny</a>)
        </p>
        <p class="practice_description">
            Technické vybavení a základní informace o použitém softwaru.
            (<a href="practices/software/">Seznámení s&nbsp;použitým softwarem</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li> slajdy (<a href="demoslides/organizace.pdf" target="_blank">kompaktní</a>,
                    <a href="demoslides/organizace_with-pauses.pdf" target="_blank">inkrementální</a>,
                    <a href="demoslides/organizace.zip">zdrojový kód</a>)
                </li>
            </ul>
        </div>
    </div>

    <div class="week" id="week2">
        <h3>2.&thinsp;týden (27.&thinsp;9.&thinsp;2018&nbsp;– 3.&thinsp;10.&thinsp;2018)</h3>
        <h4>Teoretická přednáška</h4>
        <p class="lecture_description">
            Zápis textů, Unicode. Logická struktura dokumentu. Principy a příklady značkovacích jazyků: XML a LaTeX.
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li> <a href="slides/2018-09-27.pdf">slajdy</a></li>
            </ul>
	    <br/>
            <h5>Readings do 3.&thinsp;10.:</h5>
            <ul>
                <li> <a href="https://www.overleaf.com/edu/fimuni/">Overleaf</a></li>
                <li> | <a href="slides/lacourse.pdf">LaTeX beginner's course slides</a></li>
            </ul>
        </div>
        <h4>Demonstrační přednáška a cvičení</h4>
        <p class="practice_description">
            Rozdíly a záludnosti textových souborů na různých platformách
            v&nbsp;mezinárodním prostředí.
            (<a href="practices/textove-soubory/">Textové soubory</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li> slajdy (<a href="demoslides/textove-soubory.pdf" target="_blank">kompaktní</a>,
                    <a href="demoslides/textove-soubory_with-pauses.pdf" target="_blank">inkrementální</a>,
                    <a href="demoslides/textove-soubory.zip">zdrojový kód</a>)
                </li>
                <li>| <a href="practices/textove-soubory#kodovani-textu-ukoly-k-procviceni">práce na cvičení</a> <strong>[odevzdat do 21. 10. 2018 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week3">
        <h3>3.&thinsp;týden (1.&thinsp;10.&thinsp;2018&nbsp;– 7.&thinsp;10.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
             LaTeX jako značkovací jazyk, praktické tipy. Principy metajazyka XML.  
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li> <a href="slides/2018-10-04.pdf">slajdy</a></li>
            	<li> | <a href="https://tug.org/TUGboat/tb38-2/tb119sojka.pdf">TeX in Schools? Yes!</a></li>
                <li> | <a href="slides/lacourse.pdf">LaTeX beginner's course slides</a></li>
                <li> | <a href="https://www.overleaf.com/read/ncfknybptdqz">visačky pro recepční FI (příklad oddělení formy od obsahu a&nbsp;užití TeXu v&nbsp;cloudu)</a></li> 
     		<li> | <a href="http://www.csszengarden.com">CSS Zen Garden</a></li>
            </ul>
	    <br/>
            <h5>Readings do 11.&thinsp;10.:</h5>
            <ul>
                <li>kapitola&nbsp;2 až sekce&nbsp;2.2 z&nbsp;<a href="https://github.com/witiko/tt101">autorské kuchařky</a></li>
                <li>| <a href="http://www.zdrojak.cz/clanky/xhtml-je-mrtve-at-zije-html5-nebo-ne/">XHTML vs. HTML5</a></li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Různé podoby TeXu: TeX, e-TeX, pdfTeX, XeTeX, LuaTeX, plain 
            TeX, csplain, LaTeX, ConTeXt&thinsp;&hellip; a&nbsp;co si s&nbsp;tím vším počít.
            (<a href="practices/ruzne-podoby-texu/">Různé podoby TeXu</a>)
        </p>
        <p class="practice_description">
            Jak TeXem sázet české/slovenské dokumenty a&nbsp;seznámení s&nbsp;programem <tt>vlna</tt>.
            (<a href="practices/ceska-sazba-texem/">Česká sazba TeXem</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="demoslides/ruzne-podoby-texu_ceska-sazba-texem.pdf">slajdy</a></li>
                <li>| <a href="practices/ruzne-podoby-texu/#other-examples">práce na cvičení, 1.&nbsp;část</a></li>
                <li>| <a href="practices/ceska-sazba-texem/#other-examples">práce na cvičení, 2.&nbsp;část</a> <strong>[odevzdat společně do 28. 10. 2018 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week4">
        <h3>4.&thinsp;týden (8.&thinsp;10.&thinsp;2018&nbsp;– 14.&thinsp;10.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
          XML. Pojmy dobré strukturovanosti a validace. HTML/SGML/XHTML/HTML5.
	  Formalismy dokumentových gramatik (DTD, XML Schema, Relax NG).
	  W3C doporučení a standardy. W4D. 
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="slides/2018-10-11.pdf">slajdy</a></li>
            </ul>
	    <br/>
            <h5>Readings do 18.&thinsp;10.:</h5>
            <ul>
                <li>kapitola&nbsp;3 z&nbsp;<a href="https://github.com/witiko/tt101">autorské kuchařky</a>.</li>
                <li> | <a href="http://link.springer.com/book/10.1007/978-1-4614-0992-2">Communicating with XML, kapitola Document Management</a></li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Základní principy XML, tvorba vlastního XML jazyka s&nbsp;formální 
            definicí pomocí XML Schema, transformace XML. (<a href="practices/xml/">XML</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="demoslides/xml.pdf">slajdy</a></li>
                <li>| <a href="practices/xml/#ukoly-k-procviceni">práce na cvičení</a> <strong>[odevzdat do 4. 11. 2018 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week5">
        <h3>5.&thinsp;týden (15.&thinsp;10.&thinsp;2018&nbsp;– 21.&thinsp;10.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
            Design. Principy knižního designu. 
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="slides/2018-10-18.pdf">slajdy</a></li>
                <li> | <a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/2Design.pdf">k poznámkám o&nbsp;designu (IS MU auth)</a></li>
            </ul>
	    <br/>
            <h5>Readings do 25.&thinsp;10.:</h5>
            <ul>
                <li> <a href="http://janrezac.com/grafika">JR o&nbsp;designu webu</a></li>
                <li> | <a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/2Design.pdf">k poznámkám o&nbsp;designu (IS MU auth)</a></li>
                <li> | kapitola&nbsp;3 z&nbsp;<a href="https://github.com/witiko/tt101">autorské kuchařky</a>.</li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Základní principy tvorby webových stránek.
            (<a href="practices/html/">Oddělení formy od obsahu a jazyk (X)HTML</a>)
        </p>
    </div>

    <div class="week" id="week6">
        <h3>6.&thinsp;týden (22.&thinsp;10.&thinsp;2018&nbsp;– 28.&thinsp;10.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
           Principy knižního (dokončení) a&nbsp;specifika
           webového (XSL, XSLT, XSL-FO) designu. CSS.<br/>
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="slides/2018-10-25.pdf">slajdy</a></li>
                <li> | <a href="http://janrezac.com/grafika">JR o&nbsp;designu webu</a></li>
                <li> | <a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/2Design.pdf">k poznámkám o&nbsp;designu</a></li>
            </ul><br />
            <h5>Readings do 1.&thinsp;11.:</h5>
            <ul>
                <li>sekce 1.2 z&nbsp;<a href="https://github.com/witiko/tt101">autorské kuchařky</a>.</li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Vytváření formy a interaktivních prvků webových stránek.
            (<a href="practices/css-a-javascript/">Jazyky CSS a JavaScript</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="miniwork/html-css-a-javascript/zadani.pdf">práce na cvičení</a> <strong>[odevzdat do 20. 11. 2018 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week7">
        <h3>7.&thinsp;týden (29.&thinsp;10.&thinsp;2018&nbsp;– 4.&thinsp;11.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
           Sazba: Úvod, základní principy. Sázecí systém TeX.
           Motivační ukázky projektů. Overleaf. Sazba v&nbsp;LaTeXu.
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li> <a href="slides/2018-11-01.pdf">slajdy</a></li>
            </ul><br />
            <h5>Readings do 8.&thinsp;11.:</h5>
            <ul>
                <li>požadavky na obsah 1.&nbsp;zápočtového dokumentu,
                    jeho příprava a přinesení do příštího cvičení.</li>
                <li> | kapitola&nbsp;2.3 z&nbsp;<a href="https://github.com/witiko/tt101">Sázecí systémy</a>.</li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Správa verzí elektronických dokumentů při použití TeXu 
            a&nbsp;systému pro správu verzí Git, textového
            procesoru LibreOffice Writer a&nbsp;cloudové služby Google Docs.
            (<a href="practices/sprava-verzi/">Správa verzí elektronických dokumentů</a>,
            <a href="practices/git/">Správa verzí s Git</a>)
        </p>
        <p class="practice_description">
            Vývoj dokumentů v&nbsp;TeXu se v&nbsp;mnoha ohledech podobá vývoji 
            programů. Proces překladu dokumentu se může skládat z&nbsp;několika 
            kroků, jejichž provádění je vhodné automatizovat.
            (<a href="practices/automatizace-sazby/#make">Automatizace sazby dokumentu</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li> slajdy (<a href="demoslides/sprava-verzi.pdf" target="_blank">kompaktní</a>,
                    <a href="demoslides/sprava-verzi_with-pauses.pdf" target="_blank">inkrementální</a>,
                    <a href="demoslides/sprava-verzi.zip">zdrojový kód</a>)
                </li>
                <li> | <a href="practices/sprava-verzi/#version-control-systemy">práce na cvičení</a> <strong>[odevzdat do 27. 11. 2018 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week8">
        <h3>8.&thinsp;týden (5.&thinsp;11.&thinsp;2018&nbsp;– 11.&thinsp;11.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
            Sazba v&nbsp;LaTeXu, ukázky databázového publikování. Základy typografie. Znaky, písmo.
            Základní typografická pravidla a&nbsp;pojmy. 
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li> <a href="slides/2018-11-08.pdf">slajdy</a></li>
                <li>| <a href="slides/lacourse.pdf">LaTeX beginner's course 
                     slides: sazba, anglická typografie v&nbsp;LaTeXu</a></li>
            </ul>
            <h5>Readings do 15.&thinsp;11.:</h5>
            <ul>
                <li><a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/Typograficky_manual.pdf">Typografický manuál:
                    terminologie, typografické pojmy, písma, měření (odkaz do IS)</a></li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Sazba bibliografie (seznamu použité literatury) TeXem.
            (<a href="practices/bibliografie/">Sazba bibliografie</a>)
        </p>
        <p class="practice_description">
            Vývoj dokumentů v&nbsp;TeXu se v&nbsp;mnoha ohledech podobá vývoji 
            programů. Proces překladu dokumentu se může skládat z&nbsp;několika 
            kroků, jejichž provádění je vhodné automatizovat.
            (<a href="practices/automatizace-sazby/#arara">Automatizace sazby dokumentu</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="practices/bibliografie/#ukoly-k-procviceni">práce na cvičení</a> <strong>[odevzdat do 4. 12. 2018 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week9">
        <h3>9.&thinsp;týden (12.&thinsp;11.&thinsp;2018&nbsp;– 18.&thinsp;11.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
            Základní typografická pravidla a&nbsp;pojmy.
            Písma, formáty písem (METAFONT, OpenType, TrueType). 
        </p>
        <div class="lecture_resources" id="lectures9">
            <h5>Odkazy:</h5>
            <ul>
                <li> <a href="slides/2018-11-15.pdf">slajdy</a></li>
                <li>| <a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/Typograficky_manual.pdf">Typografický manuál: terminologie, typografické pojmy, písma, měření (odkaz do IS)</a></li>
                <li>| <a href="slides/lacourse.pdf">LaTeX beginner's course 
                     slides: sazba, anglická typografie v&nbsp;LaTeXu</a></li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Tvorba a&nbsp;sazba rejstříků TeXem pro usnadnění orientace 
            v&nbsp;rozsáhlých dokumentech.
            (<a href="practices/rejstrik/">Sazba rejstříku</a>)
        </p>
        <p class="practice_description">
            Vývoj dokumentů v&nbsp;TeXu se v&nbsp;mnoha ohledech podobá vývoji 
            programů. Proces překladu dokumentu se může skládat z&nbsp;několika 
            kroků, jejichž provádění je vhodné automatizovat.
            (<a href="practices/automatizace-sazby/#latexmk">Automatizace sazby dokumentu</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="practices/rejstrik/#ukoly-k-procviceni">práce na cvičení</a> <strong>[odevzdat do 11. 12. 2018 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week10">
        <h3>10.&thinsp;týden (19.&thinsp;11.&thinsp;2018&nbsp;– 25.&thinsp;11.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
	    TeXové okénko; vše, co jste chtěli vědět o TeXu ale báli jste se zeptat.<br/>
            Hladká sazba. Modely sazby (box, glue, penalty).
	    Algoritmy řádkového a&nbsp;stránkového zlomu. 
            Mikrotypografická rozšíření (HZ). 
        </p>
        <div class="lecture_resources" id="lectures10">
            <h5>Odkazy:</h5>
            <ul>
                <li> <a href="slides/2018-11-22.pdf">slajdy</a></li>
                <li> | <a href="https://is.muni.cz/auth/th/2644/fi_m/scan.pdf">kapitoly 4–6 DP Pazdziora (odkaz do IS MU): 
                     algoritmy řádkového a&nbsp;stránkového zlomu</a></li>
                <li> | <a href="practices/mikrotypografie/files/highlighted.pdf">příklady
		     mikrotypografických vylepšení</a></li>
            </ul>
            <h5>Readings do 29.&thinsp;11.:</h5>
            <ul>
                <li><a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/Typograficky_manual.pdf">Typografický manuál:
                    terminologie, typografické pojmy, písma, měření (odkaz do IS)</a></li>
                <li>sekce 3 z&nbsp;<a href="https://github.com/witiko/tt101">autorské kuchařky</a>.</li>
                <li> | <a href="https://inet.muni.cz/proxy/icspdoc/normy/csn-88-0410.pdf">ČSN 88-0410 (odkaz Inet MU)</a></li>
		<li> | bonus: <a href="https://dl.acm.org/citation.cfm?id=3103015">Effective Floating Strategies</a></li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Do LaTeXového dokumentu můžete snadno vložit obsah jiných
            souborů a&nbsp;dokumentů.
            (<a href="practices/slucovani-dokumentu/">Slučování dokumentů</a>)
        </p>
        <p class="practice_description">
            V&nbsp;moderních implementacích kompilátoru TeXu máte možnost 
            používat i&nbsp;mikrotypografická rozšíření známá např. 
            z&nbsp;HZ-programu.
            (<a href="practices/mikrotypografie/">Mikrotypografie</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="https://www.overleaf.com/read/sxrrxwqbhqpk">Šablona článku do Zpravodaje CSTUG</a> (<a href="https://www.cstug.cz/zpravodaj/pokyny/">pokyny pro autory</a>) <strong>[nepovinné, do 30. 11. 2018]</strong></li>
                <li>| <a href="practices/slucovani-dokumentu/#ukoly-k-procviceni">práce na cvičení – 1. část</a> <strong>[součást zápočtového dokumentu, do 10. 12. 2018 14:00]</strong></li>
                <li>| <a href="practices/mikrotypografie/#ukoly-k-procviceni">práce na cvičení – 2. část</a> <strong>[součást zápočtového dokumentu, do 10. 12. 2018 14:00]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week11">
        <h3>11.&thinsp;týden (26.&thinsp;11.&thinsp;2018&nbsp;– 2.&thinsp;12.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
            Rozcvička. Algoritmy sazby (dokončení). Algoritmy stránkového zlomu. 
            Dělení slov. Korektury, korekturní znaménka.
        </p>
        <div class="lecture_resources" id="lectures11">
            <h5>Odkazy:</h5>
            <ul>
                <li> <a href="slides/2018-11-29.pdf">slajdy</a></li>
                <li> | <a href="files/hyptut.pdf">Tutorial dělení slov v&nbsp;TeXu</a></li>
                <li> | <a href="http://www.typo.cz/databaze/pravidla-a-nazvoslovi/korektury-a-korekturni-znamenka/">korekturní znaménka (typo.cz)</a></li>
                <li> | <a href="http://localization-guide.readthedocs.org/en/latest/guide/hyphenation.html">Další zdroje k&nbsp;dělení slov</a></li>
                <li> | <a href="http://uprav.ff.cuni.cz/testdrupal/uprav/?q=system/files/Sazba-korektura.pdf">korekturní znaménka</a></li>
            </ul>
            <h5>Readings (příprava) na přednášku 6.&thinsp;12.:</h5>
            <ul>
                <li> <a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/5bitmapyabarvy.pdf">Bitmapy a barvy (IS)</a></li>
                <li> | <a href="https://web.archive.org/web/20161127222439/http://atrey.karlin.mff.cuni.cz/~milanek/PostScript/">o PostScript na domovské stránce Milana Vančury</a></li>
                <li> | <a href="http://bulletin.cstug.cz/pdf/bul_0113.pdf">článek Arnošta Štědrého ve Zpravodaji CSTUGu 1&ndash;3/2001 (PDF, 1,47&nbsp;MiB)</a></li>

                <li> | <a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/4tuftepowerpoint.pdf">Tufte: The Cognitive Style of Powerpoint</a></li>
                <li> | <a href="http://en.wikipedia.org/wiki/PDF/X">PDF/X</a></li>
            </ul>
        </div>
        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Vkládání obrázků do dokumentů sázených TeXem. Použití nástrojů 
            Metafont a&nbsp;MetaPost pro tvorbu vektorových obrázků.
            (<a href="practices/obrazky-v-texu/">Obrázky v&nbsp;TeXu</a>)
        </p>
        <p class="practice_description">
            Nejen TeXem živ je člověk. Pro přípravu graficky náročnějších
            publikací může být pohodlnější a&nbsp;praktičtější využití <abbr
            title="What You See Is What You Get">WYSIWYG</abbr> nástrojů pro
            <abbr title="DeskTop Publishing">DTP</abbr>. 
            (<a href="practices/wysiwyg-dtp/">Nástroje pro WYSIWYG DTP</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="practices/obrazky-v-texu/#ukoly-k-procviceni">práce na cvičení – 1. část</a> <strong>[součást zápočtového dokumentu, do 10. 12. 2018 14:00]</strong></li>
                <li>| <a href="practices/wysiwyg-dtp/#ukoly-k-procviceni">práce na cvičení – 2. část</a> <strong>[nepovinné, do 17. 12. 2018 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week12">
        <h3>12.&thinsp;týden (3.&thinsp;12.&thinsp;2018&nbsp;– 9.&thinsp;12.&thinsp;2018)</h3>
        <p class="lecture_description">
            TeXové okénko; makroprogramování.
            Řádkové a stránkové korektury. Korekturní značky.
            Sazba: shrnutí.
	    Jazyky pro popis stránky, PostScript. 
        </p>
        <div class="lecture_resources" id="lectures12">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="slides/2018-12-06.pdf">slajdy</a></li>
                <li> | <a href="https://web.archive.org/web/20161127222439/http://atrey.karlin.mff.cuni.cz/~milanek/PostScript/">o PostScript na domovské stránce Milana Vančury</a></li>
                <li> | <a href="http://bulletin.cstug.cz/pdf/bul_0113.pdf">článek Arnošta Štědrého ve Zpravodaji CSTUGu 1&ndash;3/2001 (PDF, 1,47&nbsp;MiB)</a></li>

                <li> | <a href="http://en.wikipedia.org/wiki/PDF/X">PDF/X</a></li>
            </ul>
            <h5>Readings do 13.&thinsp;12.:</h5>
            <ul>
                <li> <a href="https://is.muni.cz/auth/el/1433/podzim2018/PB029/um/6Tisk.pdf">Tiskové techniky</a>
		<li> Příprava na závěrečnou rozcvičku.</li>
            </ul>
        </div>

        <h4>Demopřednáška a cvičení</h4>
        <p class="practice_description">
            Závěrečné vysokoškolské práce jsou komplexní dokumenty, při
            jejichž přípravě lze s&nbsp;výhodou využít LaTeX. Při přípravě
            prezentace k&nbsp;obhajobě pak lze části závěrečné práce znovu
            použít s&nbsp;pomocí LaTeXové třídy beamer. 
            (<a href="practices/fithesis-a-beamer">Sazba závěrečných prací a&nbsp;prezentací</a>)
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="demoslides/fithesis-a-beamer.pdf">slajdy</a></li>
                <li>| <a href="practices/fithesis-a-beamer/#ukoly-k-procviceni">práce na cvičení</a> <strong>[do 1. 1. 2019 23:59]</strong></li>
            </ul>
        </div>
    </div>

    <div class="week" id="week13">
        <h3>13.&thinsp;týden (10.&thinsp;12.&thinsp;2018&nbsp;– 16.&thinsp;12.&thinsp;2018)</h3>
        <h4>Přednáška</h4>
        <p class="lecture_description">
            Postscript (dokončení). PDF.  Předtisková příprava.
            Tiskové techniky, distribuce.
	    Barevné prostory.
	    Paralelní publikování na webu a tiskem, 
	    <a href="https://dlmf.nist.gov/LaTeXML/">LaTeXML</a>, 
	    <a href="https://github.com/michal-h21/helpers4ht/wiki/tex4ht-tutorial">tex4ht</a>.
	    <a href="http://idpf.org/epub">Epub</a>.                         
        </p>
        <div class="lecture_resources">
            <h5>Odkazy:</h5>
            <ul>
                <li><a href="slides/2018-12-13.pdf">slajdy</a></li>
            </ul>
        </div>
    </div>
-->

    <h2>
        <span id="practices">
            Materiály pro cvičení
        </span>
    </h2>
    <div class="practice-material" id="organizacni-pokyny">
        <h3><a href="practices/organizacni-pokyny/">
            Organizační pokyny
        </a></h3>
        <p class="practice_description">
            Základní organizační pokyny, požadavky na účast a metody hodnocení.
        </p>
    </div>
    <div class="practice-material" id="software">
        <h3><a href="practices/software/">
            Seznámení s&nbsp;použitým software
        </a></h3>
        <p class="practice_description">
            Technické vybavení a základní informace o použitém software.
        </p>
    </div>
    <div class="practice-material" id="textove-soubory">
        <h3><a href="practices/textove-soubory/">
            Textové soubory
        </a></h3>
        <p class="practice_description">
            Rozdíly a&nbsp;záludnosti textových souborů na různých 
            platformách v&nbsp;mezinárodním prostředí.
        </p>
    </div>
    <div class="practice-material" id="sprava-verzi">
        <h3><a href="practices/sprava-verzi/">
            Správa verzí elektronických dokumentů
        </a></h3>
        <p class="practice_description">
            Správa verzí elektronických dokumentů pomocí systému Git pro
            správu verzí a pomocí webové služby GitLab FI.
        </p>
    </div>
    <div class="practice-material" id="latex">
        <h3><a href="practices/latex/">
          Značkování textu v LaTeXu
        </a></h3>
        <p class="practice_description">
            Příprava dokumentů v LaTeXu pomocí strukturního značkování.
        </p>
    </div>
    <div class="practice-material" id="prezentace-texem">
        <h3><a href="practices/fithesis-a-beamer/">
            Sazba závěrečných prací a&nbsp;prezentací
        </a></h3>
        <p class="practice_description">
  	    Závěrečné vysokoškolské práce jsou komplexní dokumenty, při
            jejichž přípravě lze s&nbsp;výhodou využít LaTeX. Při přípravě
            prezentace k&nbsp;obhajobě pak lze části závěrečné práce znovu
            použít s&nbsp;pomocí LaTeXové třídy beamer.
        </p>
    </div>
    <div class="practice-material" id="ruzne-podoby-texu">
        <h3><a href="practices/ruzne-podoby-texu/">
            Různé podoby TeXu
        </a></h3>
        <p class="practice_description">
            Různé podoby TeXu: TeX, e-TeX, pdfTeX, XeTeX, LuaTeX, plain 
            TeX, csplain, LaTeX, ConTeXt&thinsp;&hellip; a&nbsp;co si s&nbsp;tím vším 
            počít.
        </p>
    </div>
    <div class="practice-material" id="ceska-sazba-texem">
        <h3><a href="practices/ceska-sazba-texem/">
            Česká sazba TeXem
        </a></h3>
        <p class="practice_description">
            Jak TeXem sázet české/slovenské dokumenty.
        </p>
    </div>
    <div class="practice-material" id="automatizace">
        <h3><a href="practices/automatizace-sazby/">
            Automatizace sazby dokumentu
        </a></h3>
        <p class="practice_description">
            Vývoj dokumentů v&nbsp;TeXu se v&nbsp;mnoha ohledech podobá vývoji 
            programů. Proces překladu dokumentu se může skládat z&nbsp;několika 
            kroků, jejichž provádění je vhodné automatizovat.
        </p>
    </div>
    <div class="practice-material" id="bibliografie">
        <h3><a href="practices/bibliografie/">
            Sazba bibliografie
        </a></h3>
        <p class="practice_description">
            Sazba bibliografie (seznamu použité literatury) TeXem.
        </p>
    </div>
    <div class="practice-material" id="rejstrik">
        <h3><a href="practices/rejstrik/">
            Sazba rejstříku
        </a></h3>
        <p class="practice_description">
            Tvorba a&nbsp;sazba rejstříků TeXem pro usnadnění orientace 
            v&nbsp;rozsáhlých dokumentech.
        </p>
    </div>
    <div class="practice-material" id="slucovani-dokumentu">
        <h3><a href="practices/slucovani-dokumentu/">
            Slučování dokumentů
        </a></h3>
        <p class="practice_description">
            Při překladu dokumentu pdfTeXem/XeTeXem/LuaTeXem můžete do 
            dokumentu snadno vložit obsah PDF dokumentu.
        </p>
    </div>
    <div class="practice-material" id="obrazky-v-texu">
        <h3><a href="practices/obrazky-v-texu/">
            Obrázky v&nbsp;TeXu
        </a></h3>
        <p class="practice_description">
            Vytváření a vkládání obrázků do dokumentů sázených TeXem.
            Použití externích nástrojů pro tvorbu bitmapových a vektorových obrázků.
        </p>
    </div>
    <div class="practice-material" id="wysiwyg-dtp">
        <h3><a href="practices/wysiwyg-dtp/">
            Nástroje pro WYSIWYG DTP
        </a></h3>
        <p class="practice_description">
            Nejen TeXem živ je člověk. Pro přípravu graficky náročnějších 
            publikací může být pohodlnější a&nbsp;praktičtější využití 
            <abbr title="What You See Is What You Get">WYSIWYG</abbr> 
            nástrojů pro <abbr title="DeskTop Publishing">DTP</abbr>.
        </p>
    </div>
    <div class="practice-material" id="xml">
        <h3><a href="practices/xml/">
            XML
        </a></h3>
        <p class="practice_description">
            Základní principy XML, tvorba vlastního XML jazyka s&nbsp;formální 
            definicí pomocí XML Schema, transformace XML.
        </p>
    </div>
    <div class="practice-material" id="html">
        <h3><a href="practices/html/">
            Oddělení formy od obsahu a jazyk (X)HTML
        </a></h3>
        <p class="practice_description">
            Základní principy tvorby webových stránek, oddělení formy od 
            obsahu.
        </p>
    </div>
    <div class="practice-material" id="css-a-javascript">
        <h3><a href="practices/css-a-javascript/">
            Jazyky CSS a JavaScript
        </a></h3>
        <p class="practice_description">
            Vytváření formy a interaktivních prvků webových stránek.
        </p>
    </div>
    <div class="practice-material" id="mikrotypografie">
        <h3><a href="practices/mikrotypografie/">
            Mikrotypografie
        </a></h3>
        <p class="practice_description">
            V&nbsp;moderních implementacích kompilátoru TeXu máte možnost 
            používat i&nbsp;mikrotypografická rozšíření známá např. 
            z&nbsp;HZ-programu.
        </p>
    </div>
    <div class="practice-material" id="korektury">
        <h3><a href="practices/korektury/">
            Korektury textů
        </a></h3>
        <p class="practice_description">
            Chybovat je lidské, ale nepoučit se z&nbsp;chyb a neopravovat je
            „cestou do pekel“. Krom znalosti pravidel je ještě třeba získat
            dovednost chyby rozpoznat a vyznačit (jednoznačným způsobem pro
            sazeče nebo pro sebe). 
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="premiumwork">
            Prémiové úkoly (nepovinné)
        </span>
    </h2>
    <p>
        Některé z&nbsp;níže uvedených projektů vyžadují detailní domluvu 
        s&nbsp;vyučujícím, proto před jejich realizací vyučujícího 
        kontaktujte. K&nbsp;instalaci modulů na FI je třeba nastudovat 
        <a href="https://www.fi.muni.cz/tech/unix/moduly.html">instrukce pro 
        práci s&nbsp;moduly na FI MU</a>.
    </p>
    <ul>
<!--    <li>
            až 5&nbsp;bodů:
            Příprava varianty stylopisu <a href="css/screen.css"><tt>screen.css</tt></a>
            s tmavým motivem pro tento web. Stylopis musí být
            <a href="https://jigsaw.w3.org/css-validator/">validní</a>
            a splňovat <a href="https://www.pixy.cz/dogma/">zásady W4D</a>.
            <em>Již řeší Oleksandr Panov.</em>
        </li>
-->
<!-- zadano 438339 do 15.12.
        <li>
            až 10&nbsp;bodů:
            Korektura překladu 
            <a href="https://www.tug.org/texlive/doc/texlive-cz/">instalační 
            brožury TeX Live 2017</a> (cstldoc).
        </li>
-->
<!--    <li>
            až 10&nbsp;bodů:
            Korektura <a href="http://www.fi.muni.cz">připravovaného nového webu FI</a>,
	    viz pokyny z&nbsp;přednášky pátého týdne. 
        </li>
-->
        <li>
            až 10&nbsp;bodů:
            Instalace nejnovějších verzí programu 
            <!-- <a href="http://www.cenon.info">Cenon</a>, --> 
            <a href="https://wiki.gnome.org/Apps/Evince">Evince</a>,
            <a href="https://okular.kde.org/">Okular</a>, 
            <a href="https://www.inkscape.org/">InkScape</a>,
            <a href="https://www.scribus.net/">Scribus</a>,
            <a href="https://www.ghostscript.com/">GhostScript</a> (GPL),
            <a href="https://www.gnu.org/software/gv/">gv</a>/<a href="http://pages.cs.wisc.edu/~ghost/gsview/">GSView</a> 
            (za každý balík) na všechny podporované platformy 
            do systému modulů na&nbsp;FI&nbsp;MU.
        </li>
        <li>
            až 20&nbsp;bodů:
            Reportování chyb v&nbsp;materiálech předmětu autorům, vizte detailní informace 
            v&nbsp;<a href="practices/sprava-verzi/#nahlasovani-chyb-v-materialech-predmetu">cvičení
            o správě verzí</a>.
        </li>
        <li>
            až 20&nbsp;bodů:
            Evaluace kerningu loga MU dle algoritmu
            <a href="https://web.archive.org/web/20181018061428/http://calligraphity.com/store/product375.html">Optical Letter Spacing
            - for new printing systems by David Kindersley</a> a sepsání zprávy do <a href="https://bulletin.cstug.cz/">Zpravodaje CSTUGu</a>.
        </li>
        <li>
            až 20&nbsp;bodů:
            Evaluace psychologie a věrnosti podání barev loga MU a FI v&nbsp;závislosti na 
	    použitých barevných modelech, procesu tisku a použitých médiích.
        </li>

        <li>
            až 25&nbsp;bodů:
            Aktualizace a dopsání brožury 
            <a href="https://www.fi.muni.cz/~sojka/PB029/zaciname.html">Začínáme s&nbsp;TeXem, Overleaf, Grammarly 
		 na&nbsp;FI&nbsp;MU</a>.
        </li>
        <li>
            až 25&nbsp;bodů:
            Příprava brožury Začínáme 
            s&nbsp;<a href="https://www.gnu.org/software/emacs/">(X)Emacsem</a>
            na&nbsp;FI&nbsp;MU.
        </li>
        <!--
        <li>
            až 40&nbsp;bodů:
            Příprava zařazení csindexu do TeXlive včetně rozšíření 
            podporovaných kódování.
        </li>
        -->
        <li>
            až 40&nbsp;bodů:
            Kompilace programu opatgen moderním kompilátorem
            C++ (GNU C) z <a href="https://is.muni.cz/auth/th/3077/fi_m/">archív
            práce Davida Antoše</a> pro zařazení na TeX&nbsp;Live 2025.
        </li>
<!-- Bienále se koná na jaře.
        <li>
            až 10&nbsp;bodů: Navštívit 
            <a href="http://29.bienalebrno.org/">Bienále grafického 
            designu</a>, a&nbsp;připravit o&nbsp;akci krátkou prezentaci 
            a&nbsp;tu nabídnout k prezentaci na [demo]přednášce či cvičení ještě 
            v&nbsp;době konání Bienále.
        </li>
-->
    </ul>
    <p>
    Případně je možné dohodnout se i&nbsp;na zadání závěrečné práce (viz.
    <a href="https://is.muni.cz/auth/rozpis/tema?fakulta=1433;balik=1275;balik=58;omezeni=vse_aktualni;omezeni=ma_stitek;omezeni=stitek_LEMMA"
       target="_blank">Rozpis témat závěrečných prací</a>)
    nebo zformulovat projekt
    <a href="https://www.fi.muni.cz/research/student-projects/index.html.cs"
       target="_blank">Programu děkana FI</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="finalwork">
            Zápočtové úkoly (povinné)
        </span>
    </h2>
    <p>
        Vypracování zápočtových úloh je nutné pro úspěšné absolvování 
        předmětu. Zápočtové úlohy jsou dvě: první je TeXem vysázený text 
        odevzdávaný na papíře, druhou úlohou je návrh a použití vlastního 
        jednoduchého XML jazyka.
    </p>
    <p>
        Prostudujte si <a href="finalwork/">detailní požadavky a&nbsp;termíny</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="resources">
            Podpůrné materiály
        </span>
    </h2>
    <ul>
        <li>
            Rozpracovaná <a href="https://github.com/witiko/tt101">autorská
            kuchařka</a>, která popisuje proces tvorby dokumentů
        </li>
        <li>
            <a href="https://prirucka.ujc.cas.cz/">Internetová jazyková 
            příručka</a> Ústavu pro jazyk český AV&nbsp;ČR
        </li>
        <li>
            Kniha <a href="https://www.striz.cz/43pruvodce.php">Průvodce
            tvorbou dokumentů</a> od Jiřího Rybičky, Petry Čačkové a&nbsp;Jana Přichystala
        </li>
        <li>
            Ukázková kapitola
            <a href="https://web.archive.org/web/20070810035244/http://vychodil.inf.upol.cz/errata/download/linux-pcu-kap5.pdf">Základy 
            příkazového interpretu</a> z&nbsp;knihy Linux: Příručka českého 
            uživatele od Viléma Vychodila
        </li>
        <li>
          Materiály k&nbsp;TeXu a&nbsp;LaTeXu: <ul>
            <li>
                Články <a href="https://tug.ctan.org/info/latex-veryshortguide/veryshortguide.pdf">The
                very short guide to typesetting with LaTeX</a>
                a&nbsp;<a
                href="https://dl.icdst.org/pdfs/files/4bef65c49001dba38e07a049fde3a4c8.pdf">A
                short introduction to LaTeX</a>
            </li>
            <li>
                Knihy <a href="https://en.wikibooks.org/wiki/LaTeX">LaTeX Wikibook</a>,
                <a href="http://www.penguin.cz/~kocer/texty/lshort2e/lshort2e-cz.pdf">Ne
                příliš stručný úvod do systému LaTeX2e</a>,
                <a href="https://aleph.muni.cz/F/?func=find-b&amp;request=LaTeX+pro+za%C4%8D%C3%A1te%C4%8Dn%C3%ADky">LaTeX
                pro začátečníky</a>,
                <a href="http://ftp.cstug.cz/pub/tex/CTAN/info/czech/latex-pro-pragmatiky/latex-pro-pragmatiky.pdf">LaTeX 
                pro pragmatiky</a>
                a&nbsp;<a href="http://apfyz.upol.cz/ucebnice/down/mini/drslat.pdf">Drsný
                úvod do LaTeXu</a>
            </li>
            <li>
                <a href="https://www.physics.muni.cz/~yeti/tex/bestiary.pdf">Yetiho typografický bestiář</a>,
                příručka pro sazbu matematiky v&nbsp;češtině
            </li>
            <li>
                Materiály k&nbsp;<a
                href="https://is.muni.cz/el/1431/podzim2022/M5751/um/">předmětu
                M5751 Elektronická sazba a&nbsp;publikování v&nbsp;TeXu</a>
                vyučovanému na Přírodovědecké fakultě.
            </li>
<!--            <li>
                <a href="files/csindex.zip">Upravený csindex</a> s&nbsp;podporou 
                UTF-8 (vznikl jako studentská práce v&nbsp;jednom z&nbsp;předchozích
                běhů předmětu).
            </li>
-->
          </ul>
        </li>
        <li>
          Materiály k&nbsp;HTML, kaskádovým stylům (CSS) a&nbsp;JavaScriptu: <ul>
            <li>
                Základní tutoriály
                k&nbsp;<a href="https://www.jakpsatweb.cz/html/">(X)HTML</a>,
                <a href="https://www.jakpsatweb.cz/css/">CSS</a>
                a&nbsp;<a href="https://www.jakpsatweb.cz/javascript/">JavaScriptu</a>
                v&nbsp;češtině
            </li>
            <li>
                Kniha <a href="https://knihy.nic.cz#HTML5">Ponořme se do
                HTML5</a> od Marka Pilgrima
            </li>
            <li>
                Základní a&nbsp;pokročilé
                <a href="https://developer.mozilla.org/en-US/docs/Web/Tutorials">tutoriály
                k&nbsp;(X)HTML, CSS a&nbsp;JavaScriptu</a>
            </li>
            <li>
                <a href="https://www.w3schools.com/">W3Schools</a>, školičky
                k&nbsp;webovým technologiím
            </li>
          </ul>
        </li>
    </ul>
    Další materiály je možné dohledat přes
    <a href="https://ezdroje.muni.cz/">portál elektronických informačních
    zdrojů MU</a> a&nbsp;<a href="https://aleph.muni.cz/">souborný katalog
    knihoven MU</a>.


    <!-- Návěští sekce. -->
    <h2>
        <span id="links">
            Užitečné odkazy
        </span>
    </h2>
    <ul>
        <li>
            <a href="https://www.fi.muni.cz/tech/">Návody pro technické vybavení FI MU</a>.
        </li>
        <li>
            Validační služby: 
            <a href="https://validator.w3.org/">W3C (X)HTML Validator</a> |
            <a href="https://jigsaw.w3.org/css-validator/">W3C CSS Validator</a>
        </li>
        <li>
            <a href="https://www.citace.com/">Generátor citací</a>.
        </li>
        <li>
            <a href="https://detexify.kirelabs.org/classify.html">Detexify&nbsp;&ndash;
            LaTeX handwritten symbol recognition</a>&nbsp;&ndash; vyhledávání LaTeXového 
            zápisu symbolů načrtnutím hledaného znaku myší.
        </li>
        <li>
            Návrh, grafika, sazba:
            <a href="http://www.sazba.cz/typoglosy/typo101.pdf">101 věta o&nbsp;knižní úpravě</a> | 
            servery <a href="http://www.typo.cz">Typo</a>
            a&nbsp;<a href="https://www.grafika.cz">Grafika</a> |
            <a href="https://www.edwardtufte.com/">Edward Tufte</a>
        </li>
        <li>Fonty:
            <a href="http://www.tug.dk/FontCatalogue/">LaTeX Font Catalogue</a> |
            <a href="http://www.fontexplorer.cz/">vzorník písem Linotype</a> |
            <a href="http://www.caron.cz/pisma/">vzorník písem Adobe</a> |
            <a href="https://www.hustwit.com/helvetica">Helvetica</a>
        </li>
        <li>Psaní závěrečné práce:
            <a href="https://is.muni.cz/auth/www/koukal/jak_psat_zaverecnou_praci/jak-psat-zaverecnou-praci.qwarp">Jak
            psát závěrečnou práci</a>
        </li>
        <li>
            Sdružení uživatelů:
            <a href="https://www.tug.org/">TeX Users Group (TUG)</a> |
            <a href="https://www.cstug.cz/">Československé sdružení uživatelů TeXu (CSTUG)</a>
        </li>
        <li>
            Ostatní: 
            <a href="https://sourceforge.net/projects/gnuwin32/">Port různých GNU 
            Utilities pro Windows</a> |
            <a href="https://www-cs-faculty.stanford.edu/~knuth/index.html">domovská stránka DEK</a>
        </li>
    </ul>
    <!-- Konec textu. -->
</div>
