<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Sazba bibliografie</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Seznam použité literatury (bibliografie) je nepostradatelnou 
        a&nbsp;zásadní součástí vědecké publikace. Pro sazbu seznamu použité 
        literatury můžeme v&nbsp;LaTeXu použít 
        <a href="#tvorba-bibliografie-cisty-latex">standardní prostředí 
        <tt>thebibliography</tt></a>, anebo využít služeb externího programu 
        typu <a href="#tvorba-bibliografie-bibtex">BibTeX</a> nebo
        <a href="#tvorba-bibliografie-biblatex">biber</a>.
    </p>
    <p>
        Při použití externího programu typu BibTeX využijeme výhod 
        <a href="../html/#oddeleni-formy-od-obsahu">oddělení 
        obsahu od formátování</a>. Informace o&nbsp;odkazovaných dílech jsou uloženy 
        v&nbsp;samostatné bibliografické databázi a&nbsp;formátování probíhá nezávisle 
        na ní dle stylového souboru až při překladu konkrétního dokumentu. 
        Jednou vytvořenou databázi děl pak můžeme velmi 
        snadno použít při tvorbě bibliografií ve více dokumentech. Je-li
        potřeba změnit vizuální podobu seznamu literatury, pak stačí jen 
        změnit použitý formátovací styl.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="pravidla-tvorby-bibliografie">
            Pravidla tvorby bibliografie
        </span>
    </h2>
    <p>
        Citování použitých zdrojů má svá pravidla a&nbsp;zvyklosti, které by 
        autoři odborných textů měli znát a&nbsp;dodržovat. Na MU 
        proto vznikla elektronická publikace 
        <a href="https://is.muni.cz/do/rect/el/estud/lf/js22/citacni_styly/web/index.html">Jak citovat:
        citační styly</a>, která tyto zvyklosti shrnuje.
    </p>
    <p>
        Vedle „zvykových“ citačních stylů existují i&nbsp;mezinárodní normy, 
        které citování upravují. Jejich respektování může být v&nbsp;některých 
        případech vyžadováno. V akademické sféře se můžete setkat například s&nbsp;normou
        <a href="https://www.iso.org/standard/72642.html">ISO 690</a>.
        Interpretace normy ČSN ISO 690:2011 můžete najít na stránkách
        <a href="https://www.citace.com/CSN-ISO-690">Citace.com</a>.
        
        <!-- Obsolete versions of ISO 690 -->
        <!--
        Relevantní normy (zejména 
        <a href="https://inet.muni.cz/proxy/icspdoc/normy/csn-iso690.pdf">ČSN ISO 690</a>
        a&nbsp;<a href="https://inet.muni.cz/proxy/icspdoc/normy/csn-iso690-2.pdf">ČSN ISO 690-2</a>) jsou 
        <a href="https://inet.muni.cz/app/index.jsp?id=dokum.enormy">členům 
        akademické obce MU k&nbsp;dispozici v&nbsp;INETu</a> (přihlášení stejné jako 
        do IS MU). <em>Jejich užití je však možné výhradně pro vaši vlastní 
        nekomerční potřebu v&nbsp;rámci studia/práce na MU!</em>
        -->
    </p>
    <p>
        Pořizování a&nbsp;formátování citačních záznamů si můžete o&nbsp;něco usnadnit 
        využitím správného nástroje. Např. český server 
        <a href="https://www.citace.com/">Citace.com</a> poskytuje praktický 
        <a href="https://www.citace.com/vytvorit-citaci">generátor citačních záznamů</a> 
        formátovaných dle ČSN ISO 690:2011, který vám v&nbsp;přehledném formuláři 
        poradí, jak jednotlivé položky citačního záznamu vyplnit. (Po 
        registraci je možné záznamy uchovávat přímo na serveru a&nbsp;exportovat 
        je i&nbsp;v&nbsp;<a href="#tvorba-bibliografie-bibtex">BibTeX 
        formátu</a>.) Záznamy v&nbsp;různých formátech (včetně BibTeXu) poskytuje 
        také <a href="https://scholar.google.cz/">Google Scholar</a> (pozor, 
        možnost exportu je třeba zapnout 
        <a href="https://scholar.google.cz/scholar_preferences">v&nbsp;dolní 
        části stránky s&nbsp;nastavením služby</a>), 
        <a href="https://discovery.muni.cz/">discovery služba 
        informačních zdrojů MU</a>, <a href="https://repozitar.cz/">repozitář 
        vědeckých prací IS MU</a>, 
        <a href="https://blog.mendeley.com/tipstricks/howto-use-mendeley-to-create-citations-using-latex-and-bibtex/">citační 
        manager Mendeley</a>,
        <a href="https://www.jabref.org/">správce referencí 
        JabRef</a> atd.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="tvorba-bibliografie">
            Postup při vytváření bibliografie
        </span>
    </h2>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tvorba-bibliografie-cisty-latex">
            Čistý LaTeX
        </span>
    </h3>
    <p>
        Přímo ve <a href="../ruzne-podoby-texu/#latex">formátu 
        LaTeX</a> je vestavěná minimalistická podpora pro tvorbu 
        bibliografií&nbsp;– prostředí <tt>thebibliography</tt> a&nbsp;makra pro 
        sazbu odkazů do tohoto seznamu.
    </p>
    <p>
        Použití demonstruje 
        <a href="files/bez-bibtexu.tex">jednoduchý ukázkový dokument</a>
        (dostupný také na <a href="https://www.overleaf.com/read/zxfhjybwrtgs">službě Overleaf</a>). 
        Povšimněte si odkazů <tt>\cite{<i>návěští</i>}</tt> v&nbsp;textu a&nbsp;danému 
        návěští odpovídajícímu záznamu v&nbsp;prostředí <tt>thebibliography</tt> na 
        konci zdrojového textu.
    </p>
    <p>
        Samotný překlad dokumentu se seznamem literatury je třeba provést 
        dvojitým překladem dokumentu <a href="../practices/ruzne-podoby-texu/#kompilatory-texu">kompilátorem 
        TeXu</a>:
        <code class="ukazka_kodu">
            pdflatex <a href="files/bez-bibtexu.tex">bez-bibtexu.tex</a><br/>
            pdflatex <a href="files/bez-bibtexu.tex">bez-bibtexu.tex</a>
        </code>
        Po prvním překladu dokumentu jsou do souboru 
        <tt>bez-bibtexu.aux</tt> poznamenány údaje nutné pro sazbu 
        bibliografie, a&nbsp;zejména sazbu křížových odkazů v&nbsp;textu. 
        Tyto údaje jsou pak využity při druhém překladu pro vytvoření konečné 
        podoby dokumentu.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tvorba-bibliografie-bibtex">
            BibTeX
        </span>
    </h3>
    <p>
        <!--Obdobně jako při <a href="../rejstrik/">sazbě rejstříku</a>, i&nbsp;při-->
        Při sazbě bibliografie můžeme využít služeb externího programu pro 
        seřazení a&nbsp;vytvoření 
        <a href="#tvorba-bibliografie-cisty-latex">formátovaného LaTeXového prostředí 
        s&nbsp;bibliografií</a>. Klasickým nástrojem vytvořeným k&nbsp;tomuto účelu 
        je <a href="https://en.wikipedia.org/wiki/BibTeX">BibTeX</a>.
    </p>
    <p>
        Zásadní výhodou je, že BibTeX ctí princip 
        <a href="../html/#oddeleni-formy-od-obsahu">oddělení vzhledu 
        od obsahu</a>. V&nbsp;případě použití BibTeXu tedy krom samotného 
        zdrojového textu budete potřebovat:
    </p>
    <ol>
        <li>
            Seznam literatury
            v&nbsp;<a href="http://www.cs.arizona.edu/~collberg/Teaching/07.231/BibTeX/bibtex.html">BibTeX 
            formátu</a> (<em>obsah</em>),
        </li>
        <li>
            <a href="https://web.archive.org/web/20220523074625/http://www.cs.stir.ac.uk/~kjt/software/latex/showbst.html">BibTeX 
            formátovací styl</a> (<em>definici vzhledu</em>).
        </li>
    </ol>
    <p>
        BibTeX formátovací styly jsou standardní součástí TeXových 
        distribucí a&nbsp;vzhledem ke <a href="https://web.archive.org/web/20120508043834/http://www.eeng.dcu.ie/local-docs/btxdocs/btxhak/btxhak/node1.html">složitosti 
        jazyka používaného pro jejich definici</a> si pravděpodobně nebudete 
        chtít tvořit vlastní. Pro české normy ČSN ISO 690:1996 a&nbsp;ČSN ISO
        690-2:2000 (předchůdce verzí ČSN ISO 690:2011 a&nbsp;ISO 690:2021)
        <a href="http://www.fit.vutbr.cz/~martinek/latex/czechiso.html">existuje
        neoficiální a&nbsp;neúplný formátovací styl <tt>czechiso</tt></a>, který můžete
        při přípravě dokumentů v&nbsp;češtině využít.
    </p>
    <p>
        Samotné záznamy ve své bibliografické databázi budete pravděpodobně 
        pořizovat ručně, případně využijete BibTeX exportu nějakého
        <a href="#pravidla-tvorby-bibliografie">externího zdroje</a>.
    </p>
    <p>
        <!--Překlad dokumentu se seznamem literatury formátované BibTeXem je 
        obdobný jako při <a href="../rejstrik/">sazbě rejstříku</a>&nbsp;– -->
        Po prvním překladu dokumentu následuje spuštění externího 
        programu&nbsp;– zde BibTeXu&nbsp;– který zformátuje data a&nbsp;vytvoří 
        externí soubor s&nbsp;LaTeXovým zdrojovým textem, který je načten 
        z&nbsp;hlavního zdrojového textu při druhém a&nbsp;třetím překladu 
        dokumentu TeXem.
    </p>
    <p>
        Postup si můžete prakticky vyzkoušet na 
        <a href="files/s-bibtexem.tex">komentovaném ukázkovém dokumentu</a> 
        (dostupném také na <a href="https://www.overleaf.com/read/hntnsytggchk">službě Overleaf</a>)
        a&nbsp;<a href="files/databaze-literatury.bib">bibliografické 
        databázi v&nbsp;BibTeX formátu</a>:
        <code class="ukazka_kodu">
            pdflatex <a href="files/s-bibtexem.tex">s-bibtexem.tex</a><br/>
            bibtex s-bibtexem.aux<br/>
            pdflatex <a href="files/s-bibtexem.tex">s-bibtexem.tex</a><br/>
            pdflatex <a href="files/s-bibtexem.tex">s-bibtexem.tex</a>
        </code>
    </p>
    <p>
        Pokud namísto stylu <tt>unsrt</tt> použijete např. styl
        <tt>plain</tt>, který bibliografické záznamy třídí abecedně podle
        jména autora a&nbsp;následně podle roku vydání, můžete narazit na
        problém s&nbsp;nesprávným seřazením záznamů obsahujících znaky mimo
        anglickou abecedu. Možným řešením je použít program <tt>bibtex8</tt>
        a&nbsp;definice <tt><a href="files/latin2cs.csf">latin2cs.csf</a></tt>,
        které umožňují české řazení u&nbsp;bibliografických databází
        <a href="../textove-soubory/#jednobajtova-kodovani">v&nbsp;osmibitovém
        kódování ISO-8859-2</a>:
        <code class="ukazka_kodu">
            pdflatex <a href="files/s-bibtexem.tex">s-bibtexem.tex</a><br/>
            bibtex8 --csfile <a href="files/latin2cs.csf">latin2cs.csf</a> s-bibtexem.aux<br/>
            pdflatex <a href="files/s-bibtexem.tex">s-bibtexem.tex</a><br/>
            pdflatex <a href="files/s-bibtexem.tex">s-bibtexem.tex</a>
        </code>
    </p>
    <p>
        Povšimněte si, že:
    </p>
    <ul>
        <li>
            Překlad celého dokumentu vyžaduje celkem tři překlady TeXem. 
            <ul>
                <li>
                    První průchod zajistí export informací o&nbsp;citovaných 
                    dokumentech do souboru <tt>s-bibtexem.aux</tt>.
                </li>
                <li>
                    Dále BibTeX na základě těchto informací vygeneruje 
                    soubor <tt>s-bibtexem.bbl</tt>, který obsahuje 
                    naformátovaný seznam literatury v&nbsp;LaTeX značkování.
                </li>
                <li>
                    Obsah <tt>s-bibtexem.bbl</tt> je načten při 
                    dalším překladu, kdy jsou do <tt>s-bibtexem.aux</tt> 
                    zapsány informace nutné pro řešení odkazů na citované 
                    dokumenty z&nbsp;textu. O&nbsp;tom, že při tomto překladu TeX 
                    ještě neměl k&nbsp;dispozici všechny potřebné informace, jste 
                    informováni v&nbsp;logu překladu:
                    <code class="ukazka_kodu">
                        LaTeX Warning: There were undefined references.<br/>
                        LaTeX Warning: Label(s) may have changed. Rerun to get cross-references right.
                    </code>
                </li>
                <li>
                    Údaje z&nbsp;<tt>s-bibtexem.aux</tt> jsou využity při 
                    posledním překladu k&nbsp;vytvoření konečné podoby 
                    dokumentu.
                </li>
            </ul>
        </li>
        <li>
            V&nbsp;seznamu literatury ve výsledném dokumentu jsou jen dokumenty
            explicitně citované v&nbsp;textu dokumentu příkazy
            <tt>\cite{&hellip;}</tt>. Toto chování je úmyslné a&nbsp;umožňuje vám
            budovat si jedinou velkou databázi citovaných děl, kterou můžete
            kdykoliv připojit k&nbsp;libovolnému dokumentu a&nbsp;odkázat z&nbsp;něj jen
            díla, která jste právě v&nbsp;této práci užili. Pokud však přece jen
            chcete do seznamu literatury vložit i&nbsp;zdroje, které jste
            přímo z&nbsp;textu neodkazovali, stačí do dokumentu přidat příkaz
            <tt>\nocite{<em>návěští</em>}</tt> (případně <tt>\nocite{*}</tt>
            pro přidání kompletního obsahu BIB databáze).
        </li>
        <li>
            Příkaz <tt>bibtex</tt> je volán na AUX souboru, který obsahuje
            mimo jiné i&nbsp;odkaz na BIB soubor s&nbsp;bibliografickou databází.
            Těch může být v&nbsp;jednom dokumentu odkazováno i&nbsp;více (např. vaše
            soukromá globální databáze + databáze se záznamy specifickými
            pro daný dokument).
        </li>
    </ul>
    <p>
        Více informací naleznete například v
        <a href="https://www.overleaf.com/learn/latex/Bibliography_management_with_bibtex">dokumentaci služby Overleaf</a>.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="tvorba-bibliografie-biblatex">
            BibLaTeX
        </span>
    </h3>
    <p>
        Výrazně modernější a&nbsp;flexibilnější alternativou 
        k&nbsp;<a href="#tvorba-bibliografie-bibtex">BibTeXu</a> je
        <a href="../ruzne-podoby-texu/#latex">LaTeXový balíček</a>
        <a href="https://ctan.org/pkg/biblatex">BibLaTeX</a>.
    </p>
    <p>
        Pro formátování seznamu literatury používá BibLaTeX výhradně 
        prostředků LaTeXu, což je oproti 
        <a href="https://web.archive.org/web/20120508043834/http://www.eeng.dcu.ie/local-docs/btxdocs/btxhak/btxhak/node1.html">obskurnímu 
        jazyku BibTeX stylů</a> značná výhoda. BibLaTeX navíc pro 
        řazení a&nbsp;textové transformace jednotlivých položek nepoužívá
        sedmibitový BibTeX (i&nbsp;když i&nbsp;to 
        je v&nbsp;režimu zpětné kompatibility možné), ale v&nbsp;Perlu 
        napsaný nástroj 
        <a href="http://biblatex-biber.sourceforge.net/">Biber</a>, který
        zajišťuje bezproblémovou podporu práce
        s&nbsp;<a href="../textove-soubory/#unicode">Unicode</a>.
    </p>
    <p>
        Pro mezinárodní citační normu ISO 690:2010 a její českou mutaci ČSN
        ISO 690:2011
        <a href="http://github.com/michal-h21/biblatex-iso690">existuje
        formátovací styl <tt>biblatex-iso690</tt></a> popsaný
        v&nbsp;<a href="https://is.muni.cz/th/422640/fi_b">bakalářské práci
        Dávida Luptáka</a>, který můžete při přípravě dokumentů
        v&nbsp;češtině využít.
    </p>
    <p>
        Překlad dokumentu při použití BibLaTeXu je obdobný jako při použití
        <a href="#tvorba-bibliografie-bibtex">BibTeXu</a>. Místo příkazu
        <tt>bibtex</tt> však voláme <tt>biber</tt>, a&nbsp;navíc je třeba
        drobně upravit značkování v&nbsp;TeXovém dokumentu, zejména
        hlavičku: Zobrazte si
        <a href="files/bibtex-biblatex.diff.html">změny</a> v&nbsp;<a href="files/s-biblatexem.tex">ukázkovém
        dokumentu</a>.
        (dostupném také na <a href="https://www.overleaf.com/read/tgrndhtrffyp">službě Overleaf</a>). 
        Na rozdíl od BibTeXu nám při použití
        <tt>biber</tt>u stačí dva překlady TeXem: <code class="ukazka_kodu">
            pdflatex <a href="files/s-biblatexem.tex">s-biblatexem.tex</a><br/>
            biber    s-biblatexem.bcf<br/>
            pdflatex <a href="files/s-biblatexem.tex">s-biblatexem.tex</a><br/>
        </code>
        Vše potřebné se dozvíte 
        v&nbsp;<a href="http://mirror.ctan.org/macros/latex/contrib/biblatex/doc/biblatex.pdf">podrobné 
        dokumentaci balíčku <tt>biblatex</tt></a>.
    </p>
    <p>
        Dalším silným argumentem pro použití BibLaTeXu místo BibTeXu 
        je podpora rozšířeného formátu bibliografických databází (původní 
        BibTeX např. nepodporoval dnes elementární pole <tt>url</tt> 
        pro evidenci webových odkazů). Navíc je 
        tento formát <a href="http://mirrors.ctan.org/macros/latex/contrib/biblatex/doc/biblatex.pdf#section.2">přesně 
        a&nbsp;podrobně dokumentován</a>, což značně usnadňuje tvorbu BIB 
        souborů korektních nejen syntakticky, ale i&nbsp;sémanticky.
    </p>
    <p>
        Více informací naleznete například v
        <a href="https://www.overleaf.com/learn/latex/Bibliography_management_with_biblatex">dokumentaci služby Overleaf</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Přidejte Bib(La)TeXem tvořený stručný seznam použité literatury
            do <a href="../../finalwork/#tex">svého prvního zápočtového
            dokumentu</a>.  Bibliografickou databázi si sestavte sami,
            nevyužívejte ukázkovou bibliografickou databázi.
            <ul>
                <li>
                  Pokud používáte pro automatizaci 
                  <a href="../automatizace-sazby/#make">Makefile</a>, pak jej vhodně 
                  rozšiřte pro jeho překlad.
                </li>
            </ul>
        </li>
        <!-- Obsolete assignment since we already provide 's-biblatexem.tex' sample doc -->
        <!--
        <li>
            Převeďte <a href="#tvorba-bibliografie-bibtex">ukázku použití 
            BibTeXu</a> na použití 
            <a href="#tvorba-bibliografie-biblatex">BibLaTeXu</a>.
            <ul>
                <li>
                  Základní konfiguraci se věnuje třetí kapitola
                  <a href="http://mirror.ctan.org/macros/latex/contrib/biblatex/doc/biblatex.pdf">dokumentace
                  balíčku <tt>biblatex</tt></a>. K&nbsp;vysázení bibliografie slouží
                  příkaz <tt>\printbibliography</tt>.
                </li>
            </ul>
        </li>
        -->
    </ul>
    <!-- Konec textu. -->
</div>
