programs {
    background-color: #FFCC7F;
    font-family: sans-serif, serif;
    color: #000000;
}

programs > program,
programs > program-group {
    margin: auto;
}

programs > program {
    max-width: 52em;
    min-width: 35em;
}

programs > program-group {
    max-width: 51em;
    min-width: 34em;
}

program {
    background-color: #FFF3E0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5em;
}

program > name + * {
    margin-top: .5em;
}

program > name {
    background-color: #E6E1CF;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .5em;
}

program > name,
program > filename,
program > version,
program > homepage,
program > description {
    display: block;
}

program > filename,
program > version,
program > homepage,
program > description {
    padding-left: 2em;
}

program > filename:before,
program > version:before,
program > homepage:before,
program > description:before {
    font-style: italic;
}

program > filename:before {
    content: "Instalační soubor: ";
}

program > version:before {
    content: "Verze: ";
}

program > homepage:before {
    content: "Homepage: ";
}

program > description:before {
    content: "Popis: ";
}

program-group {
    display: block;
    background-color: #807340;
    padding: .5em .5em;
}

program-group > program-group {
    border: .25em #FFCC7F solid;
}

program-group + program-group,
program-group + program,
program + program-group,
program + program {
    margin-top: .5em;
}
