<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Organizační pokyny pro cvičení</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Cílem cvičení k předmětu PB029 je prakticky si vyzkoušet nástroje a
        postupy probírané na přednáškách a práci na zápočtových dokumentech.
        Hlavní výhodou je přítomnost cvičícího, který se vám 
        bude v&nbsp;maximální možné míře snažit pomoci s&nbsp;problémy, na které 
        přitom narazíte. Maximálně této možnosti využijte, nebojte se ptát 
        a&nbsp;konzultovat potíže, se kterými se v&nbsp;rámci PB029 setkáte!
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="poznamky-organizaci">
            Poznámky k&nbsp;organizaci předmětu a&nbsp;cvičení
        </span>
    </h2>
    <ul>
        <li>
            Veškeré důležité informace k&nbsp;předmětu budou průběžně 
            zveřejňovány v <a href="https://is.muni.cz/auth/el/fi/podzim2024/PB029/index.qwarp">interaktivní
            osnově předmětu v IS MU</a>.
            Na začátku každého cvičení si ji otevřete ve svém oblíbeném webovém prohlížeči.
        </li>
        <li>
            Pro řešení problémů je kromě přímého dotazu na cvičeních
            optimální využít <a href="https://is.muni.cz/auth/discussion/predmetove/fi/podzim2024/PB029/">diskuzní
            fórum předmětu v&nbsp;IS MU</a>. Diskuze je okamžitě přístupná pro 
            všechny studenty i&nbsp;vyučující předmětu, což zvyšuje šanci na 
            rychlejší vyřešení problému a&nbsp;předchází opakování stejných 
            dotazů pokládaných soukromými kanály.
        </li>
        <li>
            Účast na cvičeních PB029 je <em>povinná</em>, jsou povoleny 
            maximálně dvě neomluvené absence.
            <ul>
                <li>
                    Omluvenky <em>nedávejte</em> vyučujícím, ale na studijní 
                    oddělení FI&nbsp;MU, odkud bude informace přenesena do 
                    IS&nbsp;MU.
                </li>
                <li>
                    Nadpočetné absence lze kompenzovat řešením 
                    <a href="../../#premiumwork">prémiových 
                    úkolů</a> (1&nbsp;absence za 5&nbsp;bodů).
                </li>
            </ul>
        </li>
        <li>
            Práce na cvičeních je <em>nepovinná</em>, ale jejím vypracováním
            získáte praktické dovednosti, které vám umožní připravit
            <a href="../../finalwork">povinné zápočtové dokumenty</a>.
            Pokud Vám cvičící zkontroluje vypracování práce ze cvičení,
            můžete opustit cvičení s předstihem.
        </li>
        <li>
            Všechna cvičení všech cvičících v&nbsp;jednom týdnu jsou 
            ekvivalentní. V&nbsp;případě potřeby tedy můžete v&nbsp;daném 
            týdnu navštívit i&nbsp;jiné cvičení, než do kterého jste 
            registrováni.
            <ul>
                <li>
                    <em>Účast na cvičení v&nbsp;jiné skupině je možnost, 
                    nikoliv právo.</em> Pokud například budou 
                    v&nbsp;daném termínu všechny počítače v&nbsp;učebně 
                    obsazené, přednost mají automaticky studenti 
                    řádně registrovaní do dané skupiny a&nbsp;ostatním 
                    nebude účast umožněna.
                </li>
            </ul>
        </li>
    </ul>
    <!-- Návěští sekce. -->
    <h2>
        <span id="metody-hodnoceni">
            Metody hodnocení
        </span>
    </h2>
    <ul>
        <li>
            Závěrečné hodnocení předmětu se skládá z:
            <ul>
                <li>
                    nepovinných <a href="../..#premiumwork">prémiových úkolů</a> (není zhora omezeno),
                </li>
                <li>
                    <a href="../../finalwork#tex">tištěného zápočtového dokumentu</a> (22&thinsp;b za odevzdání a 6&thinsp;b za <a href="../../finalwork#peer-assessment">vzájemné hodnocení</a>),
                </li>
                <li>
                    <a href="../../finalwork#xml">elektronického zápočtového dokumentu</a> (16&thinsp;b za odevzdání a 6&thinsp;b za <a href="../../finalwork#peer-assessment">vzájemné hodnocení</a>),
                </li>
                <li>
                    hodnocení aktivity na přednáškách a cvičeních (až 15&thinsp;b),
                </li>
                <li>
                    závěrečné zkoušky (40&thinsp;b) a&nbsp;korektury (10&thinsp;b).
                </li>
            </ul>
        </li>
        <li>
            K&nbsp;zápočtu je třeba získat 45&thinsp;b, pro kolokvium alespoň
            50&thinsp;b a&nbsp;55&thinsp;b pro ukončení zkouškou. U&nbsp;všech
            zakončení je třeba odevzdat <a href="../../finalwork">zápočtové
            dokumenty</a>. Pro úspěšné zakončení zkouškou je dále nutné získat
            za zkoušku a&nbsp;korekturu dohromady alespoň 24&thinsp;b. Během
            zkoušky nelze používat žádné materiály.
        </li>
        <li>
            Studenti jsou v&nbsp;průběhu výuky motivováni řešením rozšiřujících úkolů
            za prémiové body.
        </li>
        <li>
            Hranice hodnocení E&ndash;A je určována <a href="http://www.unibo.it/en/teaching/enrolment-transfer-and-final-examination/the-university-system/ects-label/the-ects-grading-scale">poměrově metodikou ECTS</a>.
        </li>
    </ul>
    <!-- Konec textu. -->
</div>
