<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Oddělení formy od obsahu a jazyk (X)HTML</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Jedním z&nbsp;nejběžnějších elektronických dokumentů jsou webové stránky. 
        Představíme si základní principy jejich tvorby pomocí jazyka
        <a href="http://www.w3.org/html/">(X)HTML</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="oddeleni-formy-od-obsahu">
            Oddělení formy od obsahu
        </span>
    </h2>
    <p>
        Jak jsme si již říkali na <a href="../latex">cvičení o značkování textu v LaTeXu</a>,
        při tvorbě elektronických dokumentů je velmi užitečné striktně 
        oddělovat samotný obsah (význam) dokumentu od jeho formy (vizuální 
        reprezentace).
    </p>
    <ul>
        <li>
            Samotný obsah by měl být označen strukturně, tj. měl by 
            být vyznačen význam jednotlivých částí dokumentu (tento 
            text je hlavní nadpis, tato část je jméno autora, toto číslo 
            je rok vydání apod.). Strukturně označkovaný obsah pak můžete 
            bez potřeby jakýchkoliv dodatečných zásahů do dokumentu 
            samotného snadno používat pro různé účely (jméno autora 
            a&nbsp;název článku pro zobrazení na webu, všechny části pro 
            tisk, jméno autora, název, rok vydání a&nbsp;další prvky pro 
            vytvoření bibliografické citace atd.)
        </li>
        <li>
            Pokud máme kvalitně strukturně označkovaný dokument, je pak 
            možné odděleně definovat vizuální reprezentaci všech jeho 
            prvků. Je přitom jednoduché mít více odlišných definic 
            určených pro různé použití (plnobarevný dokument pro 
            zobrazení na webu, černobílou podobu dokumentu bez 
            navigačních prvků pro tisk apod.).
        </li>
    </ul>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Ve webovém prohlížeči si zobrazte náhled tisku této webové 
            stránky. Uvidíte, že pro tisk na papíře je stránka zobrazena
            v&nbsp;podobě více vyhovující tomuto způsobu použití.
            Celá změna je přitom provedena výhradně změnou definice 
            vizuálního značkování, nikoliv zásahem do strukturního 
            značkování dokumentu.
        </p>
    </div>
    <p>
        V&nbsp;případě webových stránek je obsah zaznamenán v&nbsp;jazyce 
        <a href="#html">HyperText Markup Language (HTML)</a>, případně 
        v&nbsp;XML reprezentaci jazyka HTML nazývané XHTML.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Zdrojový kód stránky si ve webovém prohlížeči obvykle můžete
            snadno zobrazit.
        </p>
        <ul>
            <li>Chrome: <code>Další nástroje → Zobrazit zdrojový kód (Ctrl+U)</code></li>
            <li>Firefox: <code>Nástroje → Vývoj webu → Zdrojový kód stránky (Ctrl+U)</code></li>
            <li>Internet Explorer: <code>Zobrazit → Zdroj (Ctrl+U)</code></li>
        </ul>
    </div>
    <p>
        Jak můžete vidět na <a href="files/sample.html">ukázce stránky 
        využívající čistě strukturního XHTML značkování</a>, strukturní 
        značky jazyka XHTML umožňují do jisté míry popsat význam 
        jednotlivých prvků dokumentu:
    </p> 
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample.html -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_cp">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;</span>
<span class="lineno"> 2 </span><span class="pygments_cp">&lt;!DOCTYPE html&gt;</span>
<span class="lineno"> 3 </span><span class="pygments_p">&lt;</span><span class="pygments_nt">html</span> <span class="pygments_na">xmlns</span><span class="pygments_o">=</span><span class="pygments_s">&quot;http://www.w3.org/1999/xhtml&quot;</span> <span class="pygments_na">xml:lang</span><span class="pygments_o">=</span><span class="pygments_s">&quot;cs&quot;</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 4 </span><span class="pygments_p">&lt;</span><span class="pygments_nt">head</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 5 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">meta</span> <span class="pygments_na">charset</span><span class="pygments_o">=</span><span class="pygments_s">&quot;UTF-8&quot;</span><span class="pygments_p">/&gt;</span>
<span class="lineno"> 6 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">title</span><span class="pygments_p">&gt;</span>Předmět PB029<span class="pygments_p">&lt;/</span><span class="pygments_nt">title</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 7 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">head</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 8 </span><span class="pygments_p">&lt;</span><span class="pygments_nt">body</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 9 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">header</span><span class="pygments_p">&gt;</span>
<span class="lineno">10 </span>        <span class="pygments_p">&lt;</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>
<span class="lineno">11 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;code&quot;</span><span class="pygments_p">&gt;</span>PB029<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;</span>
<span class="lineno">12 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;title&quot;</span><span class="pygments_p">&gt;</span>Elektronická příprava dokumentů<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;</span>
<span class="lineno">13 </span>        <span class="pygments_p">&lt;/</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>
<span class="lineno">14 </span>    <span class="pygments_p">&lt;/</span><span class="pygments_nt">header</span><span class="pygments_p">&gt;</span>
<span class="lineno">15 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">main</span><span class="pygments_p">&gt;</span>
<span class="lineno">16 </span>        <span class="pygments_p">&lt;</span><span class="pygments_nt">section</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;extent&quot;</span><span class="pygments_p">&gt;</span>
<span class="lineno">17 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>Rozsah<span class="pygments_p">&lt;/</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>
<span class="lineno">18 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">p</span><span class="pygments_p">&gt;</span>
<span class="lineno">19 </span>                2/1. 3 kr. (plus ukončení).
<span class="lineno">20 </span>                Doporučované ukončení: zk.
<span class="lineno">21 </span>                Jiná možná ukončení: k, z.
<span class="lineno">22 </span>            <span class="pygments_p">&lt;/</span><span class="pygments_nt">p</span><span class="pygments_p">&gt;</span>
<span class="lineno">23 </span>        <span class="pygments_p">&lt;/</span><span class="pygments_nt">section</span><span class="pygments_p">&gt;</span>
<span class="lineno">24 </span>        <span class="pygments_p">&lt;</span><span class="pygments_nt">section</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;teachers&quot;</span><span class="pygments_p">&gt;</span>
<span class="lineno">25 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>Vyučující<span class="pygments_p">&lt;/</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>
<span class="lineno">26 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">ul</span><span class="pygments_p">&gt;</span>
<span class="lineno">27 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Petr Sojka <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(přednášející)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">28 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Zuzana Nevěřilová <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(přednášející)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">29 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Michal Růžička <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(cvičící)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">30 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Vít Starý Novotný <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(cvičící)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">31 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Tereza Vrabcová <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(cvičící)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">32 </span>            <span class="pygments_p">&lt;/</span><span class="pygments_nt">ul</span><span class="pygments_p">&gt;</span>
<span class="lineno">33 </span>        <span class="pygments_p">&lt;/</span><span class="pygments_nt">section</span><span class="pygments_p">&gt;</span>
<span class="lineno">34 </span>        <span class="pygments_p">&lt;</span><span class="pygments_nt">section</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;objectives&quot;</span><span class="pygments_p">&gt;</span>
<span class="lineno">35 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">p</span><span class="pygments_p">&gt;</span>
<span class="lineno">36 </span>                Po absolvování tohoto kursu bude student schopen aplikovat základní
<span class="lineno">37 </span>                principy, algoritmy a<span class="pygments_ni">&amp;#160;</span>techniky tvorby dokumentů, využít je při 
<span class="lineno">38 </span>                svém studiu a<span class="pygments_ni">&amp;#160;</span>(týmové) publikační činnosti (příprava skript, 
<span class="lineno">39 </span>                prezentačních materiálů, psaní bakalářské/diplomové/disertační 
<span class="lineno">40 </span>                práce, dokumentace programu apod.). Student se bude schopen 
<span class="lineno">41 </span>                orientovat v<span class="pygments_ni">&amp;#160;</span>moderních publikačních technologiích 
<span class="lineno">42 </span>                a<span class="pygments_ni">&amp;#160;</span>formátech a<span class="pygments_ni">&amp;#160;</span>prakticky pracovat se software pro tvorbu 
<span class="lineno">43 </span>                elektronických dokumentů.
<span class="lineno">44 </span>            <span class="pygments_p">&lt;/</span><span class="pygments_nt">p</span><span class="pygments_p">&gt;</span>
<span class="lineno">45 </span>        <span class="pygments_p">&lt;/</span><span class="pygments_nt">section</span><span class="pygments_p">&gt;</span>
<span class="lineno">46 </span>    <span class="pygments_p">&lt;/</span><span class="pygments_nt">main</span><span class="pygments_p">&gt;</span>
<span class="lineno">47 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">body</span><span class="pygments_p">&gt;</span>
<span class="lineno">48 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">html</span><span class="pygments_p">&gt;</span>
</pre></div>
    <p>
        I&nbsp;bez použití jakéhokoliv vizuálního značkování jsou význačné prvky 
        stránky (např. nadpisy různých úrovní apod.) webovým prohlížečem 
        jistým způsobem vizuálně odlišeny od běžného textu&nbsp;– webový 
        prohlížeč na základě strukturního značkování zná jejich speciální 
        význam a&nbsp;použije zabudovaná pravidla pro vhodnou vizualizaci 
        této informace.
    </p>
    <p>
        Pokud chceme sami definovat způsob zobrazení webové stránky, 
        použijeme pro popis jejího vzhledu technologii 
        Cascading Style Sheets (CSS), která umožňuje 
        přiřadit vizuální reprezentaci jednotlivým prvkům dokumentu. Již 
        nepoužíváme vizuální značky, které jsou z&nbsp;historických důvodů 
        součástí (X)HTML standardu.
        <a href="files/sample-1.css">Jednoduchý ukázkový stylopis</a> může 
        vypadat např. takto:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-1.css -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_nt">h1</span> <span class="pygments_p">{</span>
<span class="lineno"> 2 </span>	<span class="pygments_nb">color</span><span class="pygments_o">:</span> <span class="pygments_nb">yellow</span><span class="pygments_p">;</span>
<span class="lineno"> 3 </span>	<span class="pygments_nb">background-color</span><span class="pygments_o">:</span> <span class="pygments_m">#000000</span><span class="pygments_p">;</span>
<span class="lineno"> 4 </span><span class="pygments_p">}</span>
<span class="lineno"> 5 </span>
<span class="lineno"> 6 </span><span class="pygments_nt">section</span> <span class="pygments_nt">h1</span> <span class="pygments_p">{</span>
<span class="lineno"> 7 </span>	<span class="pygments_nb">color</span><span class="pygments_o">:</span> <span class="pygments_nb">white</span><span class="pygments_p">;</span>
<span class="lineno"> 8 </span>	<span class="pygments_nb">text-align</span><span class="pygments_o">:</span> <span class="pygments_nb">right</span><span class="pygments_p">;</span>
<span class="lineno"> 9 </span><span class="pygments_p">}</span>
<span class="lineno">10 </span>
<span class="lineno">11 </span><span class="pygments_nn">#objectives</span> <span class="pygments_p">{</span>
<span class="lineno">12 </span>	<span class="pygments_nb">outline</span><span class="pygments_o">:</span> <span class="pygments_m">0.1em</span> <span class="pygments_nb">dotted</span> <span class="pygments_nb">black</span><span class="pygments_p">;</span>
<span class="lineno">13 </span><span class="pygments_p">}</span>
<span class="lineno">14 </span>
<span class="lineno">15 </span><span class="pygments_nc">.role</span> <span class="pygments_p">{</span>
<span class="lineno">16 </span>	<span class="pygments_nb">outline</span><span class="pygments_o">:</span> <span class="pygments_m">0.1em</span> <span class="pygments_nb">dotted</span> <span class="pygments_nb">blue</span><span class="pygments_p">;</span>
<span class="lineno">17 </span><span class="pygments_p">}</span>
<span class="lineno">18 </span>
<span class="lineno">19 </span><span class="pygments_nn">#objectives</span> <span class="pygments_nt">p</span> <span class="pygments_p">{</span>
<span class="lineno">20 </span>	<span class="pygments_nb">text-indent</span><span class="pygments_o">:</span> <span class="pygments_m">1.5em</span><span class="pygments_p">;</span>
<span class="lineno">21 </span><span class="pygments_p">}</span>
</pre></div>
    <p>
        Do naší ukázkové webové stránky pak stačí přidat pouze odkaz na daný
        stylopis, a&nbsp;<a href="files/sample-1.html">výsledkem je odlišná
        vizuální reprezentace původního dokumentu</a>, i&nbsp;když samotné XHTML
        značkování obsahu se nijak nezměnilo:
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline,hl_lines=7 files/sample-1.html -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_cp">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;</span>
<span class="lineno"> 2 </span><span class="pygments_cp">&lt;!DOCTYPE html&gt;</span>
<span class="lineno"> 3 </span><span class="pygments_p">&lt;</span><span class="pygments_nt">html</span> <span class="pygments_na">xmlns</span><span class="pygments_o">=</span><span class="pygments_s">&quot;http://www.w3.org/1999/xhtml&quot;</span> <span class="pygments_na">xml:lang</span><span class="pygments_o">=</span><span class="pygments_s">&quot;cs&quot;</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 4 </span><span class="pygments_p">&lt;</span><span class="pygments_nt">head</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 5 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">meta</span> <span class="pygments_na">charset</span><span class="pygments_o">=</span><span class="pygments_s">&quot;UTF-8&quot;</span><span class="pygments_p">/&gt;</span>
<span class="lineno"> 6 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">title</span><span class="pygments_p">&gt;</span>Předmět PB029<span class="pygments_p">&lt;/</span><span class="pygments_nt">title</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 7 </span><span class="hll">    <span class="pygments_p">&lt;</span><span class="pygments_nt">link</span> <span class="pygments_na">rel</span><span class="pygments_o">=</span><span class="pygments_s">&quot;stylesheet&quot;</span> <span class="pygments_na">type</span><span class="pygments_o">=</span><span class="pygments_s">&quot;text/css&quot;</span> <span class="pygments_na">href</span><span class="pygments_o">=</span><span class="pygments_s">&quot;sample-1.css&quot;</span><span class="pygments_p">/&gt;</span>
</span><span class="lineno"> 8 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">head</span><span class="pygments_p">&gt;</span>
<span class="lineno"> 9 </span><span class="pygments_p">&lt;</span><span class="pygments_nt">body</span><span class="pygments_p">&gt;</span>
<span class="lineno">10 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">header</span><span class="pygments_p">&gt;</span>
<span class="lineno">11 </span>        <span class="pygments_p">&lt;</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>
<span class="lineno">12 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;code&quot;</span><span class="pygments_p">&gt;</span>PB029<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;</span>
<span class="lineno">13 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;title&quot;</span><span class="pygments_p">&gt;</span>Elektronická příprava dokumentů<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;</span>
<span class="lineno">14 </span>        <span class="pygments_p">&lt;/</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>
<span class="lineno">15 </span>    <span class="pygments_p">&lt;/</span><span class="pygments_nt">header</span><span class="pygments_p">&gt;</span>
<span class="lineno">16 </span>    <span class="pygments_p">&lt;</span><span class="pygments_nt">main</span><span class="pygments_p">&gt;</span>
<span class="lineno">17 </span>        <span class="pygments_p">&lt;</span><span class="pygments_nt">section</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;extent&quot;</span><span class="pygments_p">&gt;</span>
<span class="lineno">18 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>Rozsah<span class="pygments_p">&lt;/</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>
<span class="lineno">19 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">p</span><span class="pygments_p">&gt;</span>
<span class="lineno">20 </span>                2/1. 3 kr. (plus ukončení).
<span class="lineno">21 </span>                Doporučované ukončení: zk.
<span class="lineno">22 </span>                Jiná možná ukončení: k, z.
<span class="lineno">23 </span>            <span class="pygments_p">&lt;/</span><span class="pygments_nt">p</span><span class="pygments_p">&gt;</span>
<span class="lineno">24 </span>        <span class="pygments_p">&lt;/</span><span class="pygments_nt">section</span><span class="pygments_p">&gt;</span>
<span class="lineno">25 </span>        <span class="pygments_p">&lt;</span><span class="pygments_nt">section</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;teachers&quot;</span><span class="pygments_p">&gt;</span>
<span class="lineno">26 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>Vyučující<span class="pygments_p">&lt;/</span><span class="pygments_nt">h1</span><span class="pygments_p">&gt;</span>
<span class="lineno">27 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">ul</span><span class="pygments_p">&gt;</span>
<span class="lineno">28 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Petr Sojka <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(přednášející)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">29 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Zuzana Nevěřilová <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(přednášející)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">30 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Michal Růžička <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(cvičící)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">31 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Vít Starý Novotný <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(cvičící)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">32 </span>                <span class="pygments_p">&lt;</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>Tereza Vrabcová <span class="pygments_p">&lt;</span><span class="pygments_nt">span</span> <span class="pygments_na">class</span><span class="pygments_o">=</span><span class="pygments_s">&quot;role&quot;</span><span class="pygments_p">&gt;</span>(cvičící)<span class="pygments_p">&lt;/</span><span class="pygments_nt">span</span><span class="pygments_p">&gt;&lt;/</span><span class="pygments_nt">li</span><span class="pygments_p">&gt;</span>
<span class="lineno">33 </span>            <span class="pygments_p">&lt;/</span><span class="pygments_nt">ul</span><span class="pygments_p">&gt;</span>
<span class="lineno">34 </span>        <span class="pygments_p">&lt;/</span><span class="pygments_nt">section</span><span class="pygments_p">&gt;</span>
<span class="lineno">35 </span>        <span class="pygments_p">&lt;</span><span class="pygments_nt">section</span> <span class="pygments_na">id</span><span class="pygments_o">=</span><span class="pygments_s">&quot;objectives&quot;</span><span class="pygments_p">&gt;</span>
<span class="lineno">36 </span>            <span class="pygments_p">&lt;</span><span class="pygments_nt">p</span><span class="pygments_p">&gt;</span>
<span class="lineno">37 </span>                Po absolvování tohoto kursu bude student schopen aplikovat základní
<span class="lineno">38 </span>                principy, algoritmy a<span class="pygments_ni">&amp;#160;</span>techniky tvorby dokumentů, využít je při 
<span class="lineno">39 </span>                svém studiu a<span class="pygments_ni">&amp;#160;</span>(týmové) publikační činnosti (příprava skript, 
<span class="lineno">40 </span>                prezentačních materiálů, psaní bakalářské/diplomové/disertační 
<span class="lineno">41 </span>                práce, dokumentace programu apod.). Student se bude schopen 
<span class="lineno">42 </span>                orientovat v<span class="pygments_ni">&amp;#160;</span>moderních publikačních technologiích 
<span class="lineno">43 </span>                a<span class="pygments_ni">&amp;#160;</span>formátech a<span class="pygments_ni">&amp;#160;</span>prakticky pracovat se software pro tvorbu 
<span class="lineno">44 </span>                elektronických dokumentů.
<span class="lineno">45 </span>            <span class="pygments_p">&lt;/</span><span class="pygments_nt">p</span><span class="pygments_p">&gt;</span>
<span class="lineno">46 </span>        <span class="pygments_p">&lt;/</span><span class="pygments_nt">section</span><span class="pygments_p">&gt;</span>
<span class="lineno">47 </span>    <span class="pygments_p">&lt;/</span><span class="pygments_nt">main</span><span class="pygments_p">&gt;</span>
<span class="lineno">48 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">body</span><span class="pygments_p">&gt;</span>
<span class="lineno">49 </span><span class="pygments_p">&lt;/</span><span class="pygments_nt">html</span><span class="pygments_p">&gt;</span>
</pre></div>
    <p>
        Při změně odkazu na <a href="files/sample-2.css">jiný stylopis</a>
        se opět <a href="files/sample-2.html">patřičně změní vizuální
        reprezentace dokumentu</a>. Jak vidíte, je možné např. skrývat
        různé části obsahu, aniž by bylo nutné je fyzicky odstranit 
        ze samotného XHTML dokumentu (vhodné např. pro skrytí 
        navigačních menu v&nbsp;tiskové verzi webové stránky apod.).
    </p>
    <!-- Generator: pygmentize -f html -O classprefix=pygments_,linenos=inline files/sample-2.css -->
<div class="ukazka_kodu"><pre><span></span><span class="lineno"> 1 </span><span class="pygments_nt">section</span> <span class="pygments_nt">h1</span><span class="pygments_o">,</span> <span class="pygments_nn">#extent</span><span class="pygments_o">,</span> <span class="pygments_nn">#objectives</span><span class="pygments_o">,</span> <span class="pygments_nc">.role</span> <span class="pygments_p">{</span>
<span class="lineno"> 2 </span>	<span class="pygments_nb">display</span><span class="pygments_o">:</span> <span class="pygments_nb">none</span><span class="pygments_p">;</span>
<span class="lineno"> 3 </span><span class="pygments_p">}</span>
<span class="lineno"> 4 </span>
<span class="lineno"> 5 </span><span class="pygments_nn">#code</span> <span class="pygments_p">{</span>
<span class="lineno"> 6 </span>	<span class="pygments_nb">display</span><span class="pygments_o">:</span> <span class="pygments_nb">block</span><span class="pygments_p">;</span>
<span class="lineno"> 7 </span>	<span class="pygments_nb">color</span><span class="pygments_o">:</span> <span class="pygments_nb">white</span><span class="pygments_p">;</span>
<span class="lineno"> 8 </span>	<span class="pygments_nb">background-color</span><span class="pygments_o">:</span> <span class="pygments_m">#000000</span><span class="pygments_p">;</span>
<span class="lineno"> 9 </span><span class="pygments_p">}</span>
<span class="lineno">10 </span>
<span class="lineno">11 </span><span class="pygments_nn">#teachers</span> <span class="pygments_nt">ul</span> <span class="pygments_p">{</span>
<span class="lineno">12 </span>	<span class="pygments_nb">margin</span><span class="pygments_o">:</span> <span class="pygments_m">0em</span><span class="pygments_p">;</span>
<span class="lineno">13 </span>	<span class="pygments_nb">padding</span><span class="pygments_o">:</span> <span class="pygments_m">0em</span><span class="pygments_p">;</span>
<span class="lineno">14 </span>	<span class="pygments_nb">font-size</span><span class="pygments_o">:</span> <span class="pygments_m">150%</span><span class="pygments_p">;</span>
<span class="lineno">15 </span><span class="pygments_p">}</span>
<span class="lineno">16 </span>
<span class="lineno">17 </span><span class="pygments_nn">#teachers</span> <span class="pygments_nt">li</span> <span class="pygments_p">{</span>
<span class="lineno">18 </span>	<span class="pygments_nb">display</span><span class="pygments_o">:</span> <span class="pygments_nb">inline</span><span class="pygments_o">-</span><span class="pygments_nb">block</span><span class="pygments_p">;</span>
<span class="lineno">19 </span><span class="pygments_p">}</span>
</pre></div>
    <p>
        Vyčlenění popisu vzhledu (X)HTML dokumentu do externích stylopisů
        umožňuje snadno změnit podobu celého webu bez nutnosti zásahu do
        obsahu. Velmi pokročilé ukázky CSS designu si můžete prohlédnou na
        webu <a href="http://www.csszengarden.com/">CSS Zen Garden</a>, kde
        je jedna a&nbsp;tatáž HTML stránka prezentována v&nbsp;mnoha vizuálně
        dramaticky odlišných podobách. Veškeré změny jsou však dosaženy
        pouze změnou CSS, nikoliv zásahem do samotného HTML značkování.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Důsledné oddělování obsahu a&nbsp;formy je nutné dodržovat i&nbsp;při 
            pořizování dokumentů textovými procesory typu MS Office 
            Word či LibreOffice Writer, v&nbsp;cloudových službách 
            Google Docs a&nbsp;dalších nástrojích pro pořizování elektronických 
            dokumentů.
        </p>
        <p>
            <em>Nikdy nedefinujeme vzhled přímo na obsahu dokumentu, 
            k&nbsp;jednotlivým částem dokumentu pouze přiřazujeme 
            pojmenovaný styl, který teprve nese definici vizuální 
            podoby!</em>
        </p>
        <ul>
            <li>
                LibreOffice Writer:
                <code class="ukazka_kodu">
                    Formát → Styly a&nbsp;formátování (F11)
                </code>
            </li>
            <li>
                MS Office Word:
                <code class="ukazka_kodu">
                    Domů → Styly (Ctrl+Alt+Shift+S)
                </code>
            </li>
        </ul>
        <p>
            Povšimněte si, že styly je možné definovat hierarchicky, tzn. 
            změna typu písma nastaveného v&nbsp;základním stylu dokumentu se 
            automaticky projeví nejen v&nbsp;základním textu, ale 
            i&nbsp;u&nbsp;všech nadpisů, pokud jsou tyto styly potomky 
            základního stylu a&nbsp;typ písma v&nbsp;nich není explicitně 
            přenastaven.
        </p>
        <p>
            Důsledná aplikace stylů na jednotlivé prvky dokumentu (styl 
            nadpisu na texty nadpisů všech úrovní, styl „příklad“ na všechny 
            příklady v&nbsp;dokumentu atd.) je výhodná:
        </p>
        <ul>
            <li>
                Zajistí konzistentní vzhled dokumentu&nbsp;– v&nbsp;případě 
                potřeby změny velikosti písma pro nadpisy druhé úrovně 
                se změna provede pouze v&nbsp;definici stylu 
                a&nbsp;automaticky se jednotně promítne v&nbsp;celém 
                dokumentu. Není třeba ručně opravovat definici vzhledu 
                u&nbsp;každého nadpisu, což je zdlouhavé a&nbsp;vede 
                k&nbsp;chybám při opomenutí opravy u&nbsp;některého z&nbsp;nich.
            </li>
            <li>
                Zajistí konzistentní vzhled sady dokumentů (firemní design 
                apod.)&nbsp;– jednou definovaný styl je možné použít pro 
                více dokumentů. Každá změna se pak promítne ve všech 
                z&nbsp;nich bez potřeby jakéhokoliv zásahu do samotného 
                obsahu.
            </li>
            <li>
                Umožní využití pokročilých možností práce s&nbsp;dokumentem, 
                např. vložení strojově generovaného obsahu (který 
                automaticky vzniká z&nbsp;textů označených styly 
                pro nadpisy jednotlivých úrovní), seznamů obrázků, tabulek 
                a&nbsp;příkladů (které vznikají z&nbsp;objektů označených 
                styly pro obrázky/tabulky/příklady) atd.
            </li>
        </ul>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="html">
            (X)HTML
        </span>
    </h2>
    <p>
        <a href="http://www.w3.org/html/">HyperText Markup Language 
        (HTML)</a> je značkovací jazyk používaný pro popis dokumentů pro 
        World Wide Web. Historicky se vyvinul z&nbsp;univerzálního (a&nbsp;složitého) 
        značkovacího jazyka
        <a href="https://en.wikipedia.org/wiki/Standard_Generalized_Markup_Language">SGML</a>.
    </p>
    <p>
        Pro HTML později vznikla 
        i&nbsp;<a href="https://en.wikipedia.org/wiki/XML">XML</a> 
        reprezentace tohoto jazyka nazývaná
        <a href="https://en.wikipedia.org/wiki/XHTML">XHTML</a>. 
        XML reprezentace HTML respektuje striktní syntaktická pravidla XML, 
        díky čemuž je možné používat pro zpracování XHTML dokumentů 
        standardní nástroje pro práci s&nbsp;XML.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            HTML (a&nbsp;zejména XHTML) je formálně definovaný jazyk s&nbsp;přesnými 
            syntaktickými pravidly, jejichž dodržování je možné ověřit validací,
            např. pomocí <a href="http://validator.w3.org/">on-line validační
            služby W3C pro (X)HTML</a>. Často se však můžete setkat
            s&nbsp;(X)HTML dokumenty, které obsahují chyby. Pokud potřebujete
            takový dokument dále zpracovávat, můžete zkusit chyby automatizovaně
            opravit pomocí 
            <a href="http://www.w3.org/People/Raggett/tidy/">nástroje 
            Tidy</a>. Tidy umožňuje provádět i&nbsp;konverzi HTML do XHTML, či
            převod vizuálního značkování v&nbsp;HTML do CSS.
        </p>
    </div>
    <p>
        V&nbsp;současné době probíhá živelný vývoj celé řady pokročilých webových 
        technologií zastřešených standardem
        <a href="https://en.wikipedia.org/wiki/HTML5">HTML5</a>. Protože je 
        výhodné mít možnost používat pro zpracování webových stránek 
        existující standardní XML nástroje, tak i&nbsp;v&nbsp;případě HTML5 existuje 
        jeho XML reprezentace označovaná
        <a href="https://en.wikipedia.org/wiki/HTML5#XHTML_5_%28XML-serialized_HTML_5%29">XHTML5</a>.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            S&nbsp;rostoucí složitostí a&nbsp;živelným vývojem webových standardů je 
            třeba dávat pozor na jejich (ne)podporu v&nbsp;(používaných) webových 
            prohlížečích. Pomoci vám může web 
            <a href="http://caniuse.com/">Can I&nbsp;use&thinsp;&hellip; Support tables 
            for HTML5, CSS3, etc.</a>, který shromažďuje informace 
            o&nbsp;podpoře jednotlivých částí standardů v&nbsp;různých verzích webových 
            prohlížečů. Je pak na autorovi webu, zda už je podpora dané 
            vlastnosti dostatečně rozšířená v&nbsp;prohlížečích návštěvníků jeho 
            stránky, aby ji bylo „bezpečné“ začít používat.
        </p>
    </div>
    <p>
        <a href="https://www.google.com/search?q=html+OR+xhtml+tutorial+OR+n%C3%A1vod">Na
        webu existuje obrovské množství výukových kurzů (X)HTML</a>. 
        Osvědčeným zdrojem informací o&nbsp;webových technologiích (včetně HTML) 
        jsou <a href="http://www.w3schools.com/">školičky technologií 
        W3C</a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Vytvořte si webovou stránku v jazyce XHTML
            <a href="../../miniwork/html/zadani.pdf">podle zadání</a>.
        </li>
        <li>
            Webovou stránku validujte některou z&nbsp;on-line validačních 
            služeb (např. <a href="http://validator.w3.org/">W3C HTML
            validátorem</a>) a&nbsp;případné chyby opravte.
        </li>
        <li>
            Stránku si vystavte na webu; k tomuto účelu můžete použít
            <a href="https://www.fi.muni.cz/tech/unix/html-stranky.html">webový
            hosting FI MU</a>, nebo jinou hostingovou službu. Věnujte přitom
            zvýšenou pozornost
            i&nbsp;<a href="https://www.fi.muni.cz/tech/unix/ceske-html-stranky.html">správnému
            nastavení kódování textu</a>.
            <div class="tip-box">
                <p>
                    <strong class="tip-headline">Tip:</strong>
                    Volbu <a href="../textove-soubory/#kodovani-textu">kódování 
                    textu</a> pro zobrazení webové stránky zaslané serverem 
                    prohlížeč provádí:
                </p>
                <ol>
                    <li>
                        Primárně na základě existence <a href="../textove-soubory#bom">znaku BOM</a>
                        na začátku souboru.  Pakliže je přítomen, moderní
                        prohlížeče ignorují veškeré dodatečné informace
                        a&nbsp;předpokládají, že došlo k&nbsp;použití příslušného
                        Unicode kódování.
                    </li>
                    <li>
                        Dále na základě informace o&nbsp;kódování v&nbsp;HTTP
                        hlavičce odpovědi na požadovanou webovou stránku. Tu si
                        můžete zobrazit např. pomocí nástrojů pro vývojáře
                        zabudovaných ve většině moderních webových prohlížečů.
                        <ul>
                            <li>Chrome: <code>Další nástroje → Nástroje pro vývojáře (Ctrl+Shift+I) → Network → Headers</code></li>
                            <li>Firefox: <code>Nástroje → Vývoj webu → Síť (Ctrl+Shift+Q) → Hlavičky</code></li>
                        </ul>
                    </li>
                    <li>
                        Pokud informace o&nbsp;kódování v&nbsp;HTTP hlavičce chybí, je volba 
                        provedena na základě informace o&nbsp;kódování v&nbsp;hlavičce samotné 
                        HTML stránky.
                    </li>
                    <li>
                        Pokud informace o&nbsp;kódování chybí i&nbsp;v&nbsp;hlavičce HTML stránky, 
                        je k&nbsp;jeho detekci použita heuristika, která vychází
                        z&nbsp;deklarovaného jazyka dokumentu a&nbsp;dalších indicií.
                    </li>
                </ol>
                <p>
                    <em>Pozor, je použita první nalezená informace o&nbsp;kódování.</em> 
                    Pokud tedy webový server posílá chybnou informace o&nbsp;kódování 
                    v&nbsp;HTTP hlavičkách, situaci nezachrání správně uvedené kódování 
                    v&nbsp;hlavičce samotné HTML stránky. Přesto je vhodné kódování 
                    v&nbsp;samotné HTML stránce uvádět, použije se např. při zobrazení 
                    stránky přímo z&nbsp;disku počítače, kde chybí webový server, který 
                    by mohl informaci o&nbsp;kódování poskytnout. Vzorový postup prohlížeče
                    popisuje <a href="http://www.w3.org/TR/2014/REC-html5-20141028/syntax.html#determining-the-character-encoding">specifikace HTML 5</a>.
                </p>
            </div>
        </li>
    </ul>

<!-- Konec textu. -->
</div>
