<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Správa verzí elektronických dokumentů</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Při přípravě elektronických dokumentů je žádoucí udržovat
        historii předchozích verzí, které vám v&nbsp;případě nutnosti umožní
        vrátit se ke starší verzi dokumentu, obnovit již smazané nebo
        upravené části textu, apod. S údržbou historie předchozích verzí
        vám mohou pomoci programy pro správu verzí.
    </p>
    <p>
        Na tomto cvičení si představíme program Git pro správu verzí a
        službu GitLab FI, na které můžete své projekty spravované Gitem zveřejnit.
        Ukážeme si, jak můžete Git a GitLab FI využít při práci s TeXem
        a při nahlašování chyb ve studijních materiálech předmětu za bonusové
        body.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Pozor:</strong>
            V&nbsp;rámci tohoto cvičení bude vhodné pracovat ve dvojicích. Už na 
            začátku cvičení se proto prosím dohodněte s&nbsp;některým ze svých 
            sousedů, se kterým budete později spolupracovat na ukázkových 
            dokumentech. Pokud na vás dvojice nevyjde, můžete spolupracovat 
            se cvičícím.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="version-control-with-git">
            Správa verzí pomocí programu Git
        </span>
    </h2>
    <p>
        Při tvorbě dokumentů v&nbsp;TeXu nebo (X)HTML můžeme používat
        obdobné prostředky pro správu verzí jako při programování.
        Jedním z&nbsp;takových prostředků je program
        <a href="https://git-scm.com/">Git</a>. Git usnadňuje souběžnou
        práci více uživatelů na jednom projektu a&nbsp;zajišťuje trvalé
        uchování historických verzí projektu.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Kromě základního klientu pro příkazovou řádku a&nbsp;přímé integrace 
            v&nbsp;různých <abbr title="Integrated Development Environments">IDE</abbr>
            existuje 
            <a href="https://git-scm.com/downloads/guis">několik grafických klientů</a>.
        </p>
    </div>
    <p>
        <a href="https://gitlab.fi.muni.cz/">GitLab FI</a> je webová služba dostupná
        studentům FI MU (osobám s
        <a href="https://www.fi.muni.cz/tech/account.html.cs">fakultním
        účtem</a>). Pomocí GitLab FI můžete zveřejňovat projekty, které
        spravujete pomocí programu Git, a spolupracovat na cizích projektech.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Více informací o službě GitLab FI najdete na
            <a href="https://www.fi.muni.cz/tech/unix/gitlab/">webu FI MU</a>.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="tex">
            Použití Gitu s TeXem
        </span>
    </h2>
    <p>
        Kromě udržování historie předchozích verzí umožňují programy pro správu
        verzí kolaborativní práci na textových dokumentech. Autoři, korektoři a
        redaktoři mohou nezávisle na sobě upravovat sdílený dokument. V případě,
        že více uživatelů upraví stejnou část dokumentu, program pro správu
        verzí konflikt rozpozná a napomůže s jeho vyřešením.
    </p>
    <p>
        Utvořte dvojici a vyzkoušejte si kolaborativní práci na textových
        dokumentech pomocí Gitu:
    </p>
    <ol>
        <li>
            Na <a href="https://gitlab.fi.muni.cz/">GitLabu FI</a>
            vytvořte tlačítkem „New project“ nový repozitář
            pojmenovaný <tt>PB029_sprava_verzi</tt>.
        </li>
        <li id="nastaveni-prav">
            Po vytvoření repozitáře přidejte v levé postranní nabídce „Manage“ → „Members“
            tlačítkem „Invite members“ svého souseda, se kterým budete na cvičení
            spolupracovat na cvičných dokumentech s přístupovými právy „Choose
            a role permission“ nastavenými na hodnotu „Developer“.
        </li>
        <li id="stahovani-repozitare-z-gitlabu">
            Nastavte základní informace o&nbsp;sobě a&nbsp;stáhněte si svůj repozitář
            ze serveru do pracovní kopie na disku, kde budete provádět úpravy.
            Adresu stahovaného repozitáře najdete na GitLabu FI pod tlačítkem
            „Clone“  v&nbsp;poli „Clone with HTTPS“.

            <div class="tip-box">
                <p>
                    <strong class="tip-headline">Tip:</strong>
                    Na Windows můžete použít grafického klienta
                    <a href="https://git-scm.com/docs/git-gui">Git
                    GUI</a>; nabídka jeho funkcí je dostupná pod pravým tlačítkem myši
                    ve správci souborů a&nbsp;informace o&nbsp;pokročilejších úkonech
                    naleznete
                    v&nbsp;<a href="https://nathanj.github.io/gitguide/tour.html">online
                    manuálu</a>. Na všech platformách je pak dostupný klient pro 
                    příkazovou řádku, který používáme v&nbsp;příkladech na této stránce.
                    Části vyznačené <i>kurzívou</i> nahraďte svými údaji.
                </p>
                <p>
                    Webová služba GitLab FI vám umožňuje přidávat, mazat, upravovat
                    a&nbsp;přesouvat soubory přímo ze svého webového prohlížeče. Díky tomu
                    můžete bod 3 v tomto seznamu přeskočit a následně se zcela
                    vyhnout práci s příkazovou řádkou. Tento postup je ale
                    vhodný pouze pro drobné úpravy v&nbsp;jednoduchých
                    repozitářích; alespoň jednou si proto vyzkoušejte
                    plnohodnotný postup s&nbsp;vytvořením pracovní kopie na disku.
                </p>
            </div>
            <code class="ukazka_kodu">
                $ <b>cd ~</b><br/>
                $ <b>git config --global user.name "<i>Vít Starý Novotný</i>"</b><br/>
                $ <b>git config --global user.email "<i>witiko@mail.muni.cz</i>"</b><br/>
                $ <b>git clone https://gitlab.fi.muni.cz/<i>xnovot32</i>/PB029_sprava_verzi.git <i>xnovot32</i>_PB029_sprava_verzi</b><br/>
                Cloning into "<i>xnovot32</i>_PB029_sprava_verzi"...<br/>
                warning: You appear to have cloned an empty repozitory.<br/>
                Checking connectivity... done.<br/>
            </code>
        </li>
        <li>
            Stáhněte si <a href="files/dokument.tex">jednoduchý 
            LaTeXový dokument</a>, ve kterém budete provádět korekturu, 
            a&nbsp;uložte jej do kořenového adresáře vaší pracovní kopie:
            <code class="ukazka_kodu">
                $ <b>cd <i>xnovot32</i>_PB029_sprava_verzi</b><br/>
                $ <b>wget <a href="files/dokument.tex">https://sojka.pages.fi.muni.cz/PB029_web/practices/sprava-verzi/files/dokument.tex</a></b><br/>
                --2016-09-13 00:50:50--  https://sojka.pages.fi.muni.cz/PB029_web/practices/sprava-verzi/files/dokument.tex<br/>
                Ukládám do: „dokument.tex“<br/>
                <br/>
                dokument.tex        100%[===================&gt;]   1,09K  --.-KB/s    in 0s      <br/>
                <br/>
                2016-09-13 00:50:50 (18,3 MB/s) – „dokument.tex“ uloženo [1121/1121]<br/>
            </code>
            Následně dokument přidejte do seznamu souborů spravovaných 
            systémem Git.
            <code class="ukazka_kodu">
                $ <b>git add dokument.tex</b>
            </code>
        </li>
        <li>
            Tuto původní verzi dokumentu, dosud bez vašich úprav, vložte jako
            první revizi do svého lokálního repozitáře. <em>Nezapomeňte
            revizi vhodně okomentovat!</em>
            <code class="ukazka_kodu">
                $ <b>git commit --message "Vložen původní TeXový dokument pro korekturu."</b><br/>
                [main (root-commit) 917ae6b] Vložen původní TeXový dokument pro korekturu.<br/>
                &nbsp;1 file changed, 38 insertions(+)<br/>
                &nbsp;create mode 100644 dokument.tex<br/>
            </code>
            Pokud komentář neuvedete pomocí parametru <tt>--message</tt>, 
            budete vyzvání k&nbsp;zadání komentáře interaktivně v&nbsp;textovém 
            editoru.

            Následně své změny odešlete do vašeho repozitáře na fakultním
            serveru.
            <code class="ukazka_kodu">
                $ <b>git push</b><br/>
                Counting objects: 3, done.<br/>
                Delta compression using up to 2 threads.<br/>
                Compressing objects: 100% (2/2), done.<br/>
                Writing objects: 100% (3/3), 981 bytes | 0 bytes/s, done.<br/>
                Total 3 (delta 0), reused 0 (delta 0)<br/>
                To https://gitlab.fi.muni.cz/<i>xnovot32</i>/PB029_sprava_verzi.git<br/>
                &nbsp;* [new branch]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;main -&gt; main
            </code>
        </li>
        <li>
            Nyní si otevřete soubor <tt>dokument.tex</tt> ve svém oblíbeném 
            textovém editoru a&nbsp;<em>v&nbsp;prvním odstavci textu, tzn. před značkou 
            <tt>%%%</tt></em>, vyhledejte a opravte chyby. Následně si můžete 
            snadno ověřit, že systém Git ví o&nbsp;změnách provedených v&nbsp;dokumentu.
            <code class="ukazka_kodu">
                $ <b>git status</b><br/>
                On branch main<br/>
                Your branch is up-to-date with "origin/main".<br/>
                Changes not staged for commit:<br/>
                &nbsp;&nbsp;(use "git add <file>..." to update what will be committed)<br/>
                &nbsp;&nbsp;(use "git checkout -- <file>..." to discard changes in working directory)<br/>
<br/>
                &nbsp;&nbsp;modified:&nbsp;&nbsp;&nbsp;dokument.tex<br/>
<br/>
                no changes added to commit (use "git add" and/or "git commit -a")<br/>
            </code>
            Provedené změny si můžete snadno zobrazit.
            <code class="ukazka_kodu">
                $ <b>git diff</b>
            </code>
            Opravený 
            text odešlete s&nbsp;vhodným komentářem na server jako novou revizi.
            <code class="ukazka_kodu">
                $ <b>git add dokument.tex</b><br/>
                $ <b>git commit --message "Opraven první odstavec textu."</b><br/>
                [main 4b6a5b5] Opraven první odstavec textu.<br/>
                &nbsp;1 file changed, 2 insertions(+), 2 deletions(-)<br/>
                $ <b>git push</b><br/>
                Counting objects: 3, done.<br/>
                Delta compression using up to 2 threads.<br/>
                Compressing objects: 100% (2/2), done.<br/>
                Writing objects: 100% (3/3), 311 bytes | 0 bytes/s, done.<br/>
                Total 3 (delta 1), reused 0 (delta 0)<br/>
                To https://gitlab.fi.muni.cz/<i>xnovot32</i>/PB029_sprava_verzi.git<br/>
                &nbsp;&nbsp;&nbsp;917ae6b..4b6a5b5&nbsp;&nbsp;main -&gt; main<br/>
            </code>
        </li>
        <li>
            Nyní nastává čas na spolupráci na dokumentu s&nbsp;vaším sousedem. 
            Zjistěte si adresu jeho repozitáře s&nbsp;jeho dokumentem, ve kterém 
            provedl opravu prvního odstavce textu. Pokud soused správně 
            <a href="#nastaveni-prav">nastavil přístupová práva</a> při
            zakládání svého repozitáře, měli byste mít právo přistupovat do
            jeho repozitáře pro čtení i&nbsp;zápis. Stáhněte si sousedův
            repozitář mimo pracovní kopii svého repozitáře.
            <code class="ukazka_kodu">
                $ <b>cd ~</b><br/>
                $ <b>git clone https://gitlab.fi.muni.cz/<i>sojka</i>/PB029_sprava_verzi.git <i>sojka</i>_PB029_sprava_verzi</b><br/>
                Cloning into "<i>sojka</i>_PB029_sprava_verzi"...<br/>
                remote: Counting objects: 6, done.<br/>
                remote: Compressing objects: 100% (4/4), done.<br/>
                remote: Total 6 (delta 1), reused 0 (delta 0)<br/>
                Receiving objects: 100% (6/6), done.<br/>
                Resolving deltas: 100% (1/1), done.<br/>
                Checking connectivity... done.<br/>
            </code>
        </li>
        <li>
            Prohlédněte si, jak soused dosud postupoval při vývoji svého 
            dokumentu:
            <code class="ukazka_kodu">
                $ <b>cd <i>sojka</i>_PB029_sprava_verzi</b><br/>
                $ <b>git log</b><br/>
                commit <i>4b6a5b58b25e6399347dcc210f0a4aff4a5ebaee</i><br/>
                Author: Petr Sojka<br/>
                Date:&nbsp;&nbsp;&nbsp;Mon Sep 12 16:13:10 2016 +0200<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Opraven první odstavec textu.<br/>
                <br/>
                commit 917ae6b16c04cfb5fbc277972bb857cfea709f8a<br/>
                Author: Petr Sojka<br/>
                Date:&nbsp;&nbsp;&nbsp;Mon Sep 12 15:47:55 2016 +0200<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Vložen původní TeXový dokument pro korekturu.<br/>
            </code>
        </li>
        <li>
            Následně se podívejte, jaké opravy soused provedl v&nbsp;prvním
            odstavci textu příkazem <tt>diff</tt>. Pokud byly změny 
            provedeny v&nbsp;jediné revizi (např. v revizi s hašem
            <i>4b6a5b5&hellip;</i> tak jako v přechozí ukázce kódu), použijte
            libovolný z následujících příkazů:
            <code class="ukazka_kodu">
                $ <b>git show <i>4b6a5b58b25e6399347dcc210f0a4aff4a5ebaee</i></b><br/>
                $ <b>git show <i>4b6a5b5</i></b><br/>
                $ <b>git show <abbr title="Speciální zástupné slovo odkazující se na poslední revizi z aktuální větve repozitáře.">HEAD</abbr></b><br/>
            </code>
            Pokud bylo opravných revizí více, např. pokud soused opravy
            odesílal postupně v posledních čtyřech revizích, můžete použít
            následující příkaz:
            <code class="ukazka_kodu">
                $ <b>git diff HEAD~4..HEAD</b>
            </code>
            Pokud najdete rozdíly mezi svým a&nbsp;sousedovým řešením, proveďte
            nutné opravy (příkaz <tt>commit</tt>) a&nbsp;novou verzi dokumentu
            odešlete na server (příkaz <tt>push</tt>).
        </li>
        <li>
            Nyní si otevřete soubor <tt>dokument.tex</tt> svého souseda 
            a&nbsp;<em>ve druhém odstavci textu, tzn. za značkou 
            <tt>%%%</tt></em>, vyhledejte a opravte chyby. Následně 
            opravený text odešlete s&nbsp;vhodným komentářem do sousedova
            repozitáře jako novou revizi.
            <code class="ukazka_kodu">
                $ <b>git add dokument.tex</b><br/>
                $ <b>git commit --message "Opraven druhý odstavec textu."</b><br/>
                $ <b>git push</b><br/>
                Counting objects: 3, done.<br/>
                Delta compression using up to 2 threads.<br/>
                Compressing objects: 100% (2/2), done.<br/>
                Writing objects: 100% (3/3), 307 bytes | 0 bytes/s, done.<br/>
                Total 3 (delta 1), reused 0 (delta 0)<br/>
                To https://gitlab.fi.muni.cz/<i>sojka</i>/PB029_sprava_verzi.git<br/>
                &nbsp;&nbsp;&nbsp;4b6a5b5..03d5b8e&nbsp;&nbsp;main -&gt; main<br/>
            </code>
        </li>
        <li>
            Vyčkejte, až opravu druhého odstavce textu provede také váš 
            soused ve vašem dokumentu a&nbsp;odešle ji do vašeho repozitáře. 
            Následně se vraťte do pracovní kopie svého repozitáře
            <code class="ukazka_kodu">
                $ <b>cd <i>xnovot32</i>_PB029_sprava_verzi</b><br/>
            </code>
            začleňte změny, které odeslal do vašeho repozitáře váš soused
            <code class="ukazka_kodu">
            $ <b>git pull</b><br/>
            remote: Counting objects: 3, done.<br/>
            remote: Compressing objects: 100% (2/2), done.<br/>
            remote: Total 3 (delta 1), reused 0 (delta 0)<br/>
            Unpacking objects: 100% (3/3), done.<br/>
            From https://gitlab.fi.muni.cz/<i>xnovot32</i>/PB029_sprava_verzi.git<br/>
            &nbsp;* branch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;main&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt; FETCH_HEAD<br/>
            &nbsp;&nbsp;&nbsp;<i>4b6a5b5..03d5b8e</i>&nbsp;&nbsp;main&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt; origin/main<br/>
            Updating <i>4b6a5b5..03d5b8e</i><br/>
            Fast-forward<br/>
            &nbsp;dokument.tex | 6 +++---<br/>
            &nbsp;1 file changed, 3 insertions(+), 3 deletions(-)<br/>
            </code>
            a&nbsp;zkontrolujte, zda nalezl a&nbsp;opravil stejné chyby jako vy:
            <code class="ukazka_kodu">
              $ <b>git diff <i>4b6a5b5..03d5b8e</i></b>
            </code>
            Parametry příkazu <tt>diff</tt> upravte, pokud se názvy verzí ve
            vašem případě liší.
        </li>
        <li>
            Na závěr si můžete prohlédnout seznam revizí
            <code class="ukazka_kodu">
                $ <b>git log</b><br/>
                commit 03d5b8e295bac5852ce3d9e68d39308e1accd77c<br/>
                Author: Petr Sojka<br/>
                Date:&nbsp;&nbsp;&nbsp;Mon Sep 12 22:06:18 2016 +0200<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Opraven druhý odstavec textu.<br/>
                <br/>
                commit 4b6a5b58b25e6399347dcc210f0a4aff4a5ebaee<br/>
                Author: Vít Starý Novotný<br/>
                Date:&nbsp;&nbsp;&nbsp;Mon Sep 12 16:13:10 2016 +0200<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Opraven první odstavec textu.<br/>
                <br/>
                commit <i>917ae6b16c04cfb5fbc277972bb857cfea709f8a</i><br/>
                Author: Vít Starý Novotný<br/>
                Date:&nbsp;&nbsp;&nbsp;Mon Sep 12 15:47:55 2016 +0200<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;Vložen původní TeXový dokument pro korekturu.<br/>
            </code>
            a&nbsp;kompletní souhrn změn, které byly 
            v&nbsp;původní verzi dokumentu provedeny
            <code class="ukazka_kodu">
                $ <b>git diff <i>917ae6b</i>..HEAD dokument.tex</b>
            </code>
            vypsat původní verzi dokumentu tak, jak vypadal v první revizi
            <code class="ukazka_kodu">
                $ <b>git show <i>917ae6b</i>:dokument.tex</b>
            </code>
            apod. Všechny verze odeslané do repozitáře na server jsou zde
            navždy k&nbsp;dispozici v&nbsp;nezměnitelné podobě a&nbsp;můžeme se
            k&nbsp;nim v&nbsp;případě potřeby kdykoliv vrátit.
        </li>
    </ol>

    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Při použití GitLabu FI pro správu verzí TeXových dokumentů si
            můžete nechat automaticky generovat PDF výstupy pro každou
            revizi pomocí technik „průběžné integrace“. O těch si více povíme
            v <a href="../automatizace-sazby#prubezna-integrace">nadcházejícím
            cvičení</a>.
        </p>
    </div>

    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Při použití webového editoru <a href="https://overleaf.com">Overleaf</a>
            můžete své projekty
            <a href="https://www.overleaf.com/learn/how-to/GitHub_Synchronization">importovat
            z gitových repozitářů na službě GitHub</a> a udržovat je vzájemně sychronizované.
            Stejně tak můžete se soubory projektů
            <a href="https://www.overleaf.com/learn/how-to/Git_integration">přímo pracovat
            jako s gitovými repozitáři</a>. V prvním zmíněném případě můžete s výhodou využít
            technik „průběžné integrace“, o kterých si více povíme
            v <a href="../automatizace-sazby#prubezna-integrace">nadcházejícím
            cvičení</a>.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="nahlasovani-chyb-v-materialech-predmetu">
            Nahlašování chyb v materiálech předmětu
        </span>
    </h2>
    <p>
        Pokud objevíte chybu v materiálech předmětu, můžete ji za bonusové body
        nahlásit, vizte <a href="../../#premiumwork">prémiové úkoly</a>. Pokud se
        jedná o chybu v přednáškových slidech nebo interaktivní osnově, můžete
        ji nahlásit vyučujícím osobně nebo e-mailem. Pokud jde ale o chybu na
        tomto webu, nebo v <a href="https://github.com/witiko/tt101">autorské
        kuchařce</a>, můžete se také pocvičit v práci s Gitem a chybu přímo opravit
        v repozitáři za extra bonusové body.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Další bonusové body můžete získat za využití programu pro správu
            verzí při <a href="../../finalwork/#versioning">přípravě svých
            zápočtových dokumentů</a>.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h3>
        <span id="nahlasovani-chyb-na-webu">
            Nahlašování chyb na webu předmětu
        </span>
    </h3>
    <ol>
        <li>
            Vytvořte si kopii <a href="https://gitlab.fi.muni.cz/sojka/PB029_web">Git
            repozitáře s webem předmětu</a> přes tlačítko „Fork“.
        </li>
        <li>
            Podobně jako <a href="#stahovani-repozitare-z-gitlabu">v předchozím
            zadání</a> nastavte základní informace o sobě a
            stáhněte si svůj repozitář ze serveru do pracovní kopie na disku, kde
            budete provádět úpravy. Adresu stahovaného repozitáře najdete
            ve své kopii repozitáře na GitLabu FI pod tlačítkem „Clone“ v poli
            „Clone with HTTPS“.
        </li>
        <code class="ukazka_kodu">
            $ <b>git config --global user.name "<i>Vít Starý Novotný</i>"</b><br/>
            $ <b>git config --global user.email "<i>witiko@mail.muni.cz</i>"</b><br/>
            $ <b>git clone "<i>https://gitlab.fi.muni.cz/xnovot32/xnovot32_PB029_web.git</i>"</b><br/>
            Cloning into "<i>xnovot32_PB029_web</i>"...<br/>
            Checking connectivity... done.<br/>
        </code>
        <li>
            Vytvořte si ve svém lokálním repozitáři samostatnou
            pojmenovanou větev, ve které budete provádět úpravy.
            <code class="ukazka_kodu">
                $ <b>cd <i>PB029_web/</i></b><br/>
                $ <b>git checkout -B <i>fix/typo-on-title-page</i></b><br/>
                Switched to a new branch '<i>fix/typo-on-title-page</i>'
            </code>
        </li>
        <li>
            Pomocí svého oblíbeného textového editoru upravte např. soubor
            <tt>public/content.html</tt> a zaneste své úpravy jako
            revizi do své pracovní kopie:
            <code class="ukazka_kodu">
                $ <b>git add <i>public/content.html</i></b><br/>
                $ <b>git commit --message "<i>Fixed a typo on title page</i>"</b><br/>
            </code>

            Následně své změny odešlete do svého repozitáře na GitLabu FI.
            <code class="ukazka_kodu">
                $ <b>git push origin <i>fix/typo-on-title-page</i></b><br/>
            </code>
        </li>
        <li>
            V <a href="https://gitlab.fi.muni.cz/sojka/PB029_web">repozitáři s
            webem předmětu</a> v záložce „Merge requests“ klikněte na tlačítko
            „New merge request“ a vytvořte požadavek na začlenění změn z svého
            repozitáře <i><tt>xnovot32/PB029_web</tt></i> a větve
            <i><tt>fix/typo-on-title-page</tt></i> do repozitáře
            <tt>sojka/PB029_web</tt> a větve <tt>main</tt>.
        </li>
    </ol>

    <!-- Návěští sekce. -->
    <h3>
        <span id="nahlasovani-chyb-v-autorske-kucharce">
            Nahlašování chyb v autorské kuchařce
        </span>
    </h3>
    <ol>
        <li>
            Založte si účet na webové službě <a href="https://github.com/">GitHub</a>.
        </li>
        <li>
            Na stroji, na kterém pracujete, si vytvořte SSH klíč a přidejte
            veřejnou část klíče do svého GitHub účtu jako prostředek pro
            autentizaci Gitu vůči službě GitHub. Postupujte podle <a
            href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh">návodu
            v dokumentaci služby GitHub</a>.
        </li>
        <li>
            Vytvořte si kopii <a href="https://github.com/witiko/tt101">Git
            repozitáře s autorskou kuchařkou</a> přes tlačítko „Fork“.
        </li>
        <li>
            Podobně jako <a href="#stahovani-repozitare-z-gitlabu">v předchozím
            zadání</a> nastavte základní informace o sobě a
            stáhněte si svůj repozitář ze serveru do pracovní kopie na disku, kde
            budete provádět úpravy. Adresu stahovaného repozitáře najdete
            ve své kopii repozitáře na GitHubu pod tlačítkem „Clone“ v poli
            „Clone with HTTPS“.
            <code class="ukazka_kodu">
                $ <b>git clone "<i>git@github.com:xnovot32/tt101.git</i>"</b><br/>
            </code>
        </li>
        <li>
            Vytvořte si ve svém lokálním repozitáři samostatnou
            pojmenovanou větev, ve které budete provádět úpravy.
            <code class="ukazka_kodu">
                $ <b>cd <i>tt101/</i></b><br/>
                $ <b>git checkout -B <i>fix/chapter-two</i></b><br/>
                Switched to a new branch '<i>fix/chapter-two</i>'
            </code>
        </li>
        <li>
            Pomocí svého oblíbeného textového editoru upravte např. soubor
            <tt>chapters/markup.tex</tt> a zaneste své úpravy jako
            revizi do své pracovní kopie:
            <code class="ukazka_kodu">
                $ <b>git add <i>chapters/markup.tex</i></b><br/>
                $ <b>git commit --message "<i>Fixed a typo in Chapter 2</i>"</b><br/>
            </code>

            Následně své změny odešlete do svého repozitáře na službě GitHub.
            <code class="ukazka_kodu">
                $ <b>git push origin <i>fix/chapter-two</i></b><br/>
            </code>
        </li>
        <li>
            V <a href="https://github.com/witiko/tt101">repozitáři s
            autorskou kuchařkou</a> v záložce „Pull requests“ klikněte na tlačítko
            „New pull request“ a vytvořte požadavek na začlenění změn z svého
            repozitáře <i><tt>xnovot32/tt101</tt></i> a větve <i><tt>fix/chapter-two</tt></i>
            do repozitáře <tt>witiko/tt101</tt> a větve <tt>main</tt>.
        </li>
    </ol>

    <!-- Konec textu. -->
</div>
