<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Slučování dokumentů</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Při přípravě rozsáhlejších dokumentů se často dostaneme do situace,
        kdy potřebujeme sloučit více dokumentů do jednoho výstupu. Ukážeme si,
        jak slučovat TeXové a&nbsp;PDF dokumenty.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="input">
            Vkládání souborů do TeXových dokumentů
        </span>
    </h2>
    <p>
        Pro vložení obsahu souboru do TeXového dokumentu slouží TeXová
        primitiva <tt>\input</tt>. Jejich využití je velmi vhodné zvláště při
        sazbě rozsáhlých dokumentů, které má smysl rozdělit do množství
        menších souborů. Pomocí primitiva <tt>\input</tt> se ze souboru 
        <a href="files/input.tex"><tt>input.tex</tt></a> vytvoří dokument, který integruje
        obsah souborů <a href="files/cast1.tex"><tt>cast1.tex</tt></a>
        a&nbsp;<a href="files/cast2.tex"><tt>cast2.tex</tt></a>.
        Všechny tři soubory jsou dostupné také na <a href="https://www.overleaf.com/read/zzcxgdtzhxtt">službě Overleaf</a>.
    </p>
    <p>
        Při přípravě rozsáhlejších dokumentů lze také použít LaTeXové makro
        <tt>\include</tt>, které funguje podobně jako <tt>\input</tt>, ale
        pro každý vkládaný soubor vytváří samostatný pomocný <tt>.aux</tt>
        soubor, ve kterém si poznačí stav číselníků stránek, kapitol,
        sekcí atd. na konci vkládaného souboru. Následně pak můžeme pomocí
        makra <tt>\includeonly</tt> vybírat ty soubory, které se do
        výsledného souboru skutečně vloží, ale díky informacím v&nbsp;pomocných
        souborech dojde k&nbsp;zachování číslování stránek, kapitol, sekcí apod.
    </p>
    <p>
        Dokument <a href="files/include.tex"><tt>include.tex</tt></a>
        pomocí příkazu <tt>\include</tt> vytvoří výstup, který integruje
        obsah souborů <a href="files/kapitola1.tex"><tt>kapitola1.tex</tt></a>
        a&nbsp;<a href="files/kapitola2.tex"><tt>kapitola2.tex</tt></a>.
        Všechny tři soubory jsou dostupné také na <a href="https://www.overleaf.com/read/bsfcbmzyhqwv">službě Overleaf</a>.
        Po vysázení dokumentu <a href="files/include.tex"><tt>include.tex</tt></a> si zkuste
        odkomentovat různá volání makra <tt>\includeonly</tt> v&nbsp;hlavičce
        dokumentu a&nbsp;všimněte si, že ačkoliv nedochází k&nbsp;přesazbě
        celého dokumentu, stránkování a&nbsp;čísla kapitol zůstávají zachovaná.
    </p>


    <!-- Návěští sekce. -->
    <h2>
        <span id="pdfpages">
            Manipulace s&nbsp;PDF dokumenty
        </span>
    </h2>
    <p>
        Při překladu dokumentu 
        <a href="../ruzne-podoby-texu/">pdfTeXem/XeTeXem/LuaTeXem</a> do PDF 
        můžete do dokumentu snadno vložit obsah existujícího PDF dokumentu. 
        Této možnosti se dá využít ke spojování PDF dokumentů do jediného 
        výsledného dokumentu s&nbsp;možností přidání dalšího obsahu generovaného 
        TeXem.
    </p>
    <p>
        Obzvláště užitečná může tato možnost být při spojování TeXem 
        sázených dokumentů od více autorů (sborník článků apod.), nebo 
        obecně TeXovaných dokumentů používajících vzájemně konfliktní 
        značkování (životopis a&nbsp;průvodní dopis apod.)&nbsp;– dokumenty je 
        možné přeložit odděleně a&nbsp;následně je spojit na úrovni
        výsledných PDF.
    </p>
    <p>
        Pro pohodlné vkládání PDF dokumentů TeXem můžeme použít 
        <a href="../ruzne-podoby-texu/#latex">LaTeXový balíček</a> 
        <tt>pdfpages</tt>. Dokument 
        <a href="files/pdfpages.tex"><tt>pdfpages.tex</tt></a>
        (dostupný také na <a href="https://www.overleaf.com/read/nktwgjcrmpwf">službě Overleaf</a>)
        pomocí tohoto balíčku vytvoří výstup, který integruje obsah souboru 
        <a href="files/sample2e.pdf"><tt>sample2e.pdf</tt></a>
        s&nbsp;dalším obsahem zapsaným přímo ve zdrojovém textu
        <tt>pdfpages.tex</tt>.
    </p>
    <p>
        Podrobné informace o&nbsp;možnostech balíčku <tt>pdfpages</tt> si můžete 
        prohlédnout 
        v&nbsp;<a href="http://mirror.ctan.org/macros/latex/contrib/pdfpages/pdfpages.pdf">dokumentaci 
        balíčku</a>:
        <code class="ukazka_kodu">
            texdoc pdfpages
        </code>
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Pro jednoduchou manipulaci s&nbsp;PDF soubory (spojování, 
            rozdělování, [de]komprese, [de]šifrování, &hellip;) je možné použít 
            také nástroj pro příkazovou řádku 
            <a href="https://www.pdflabs.com/t/pdftk/"><tt>pdftk</tt></a>
            nebo grafický nástroj <a href="http://www.pdfsam.org/">PDFsam</a>.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h3>
        <span id="newpax">
            Klikatelné PDF dokumenty
        </span>
    </h3>
    <p>
        Pro přípravu dokumentů s PDF metadaty a klikatelným výstupem můžeme
        použít <a href="http://mirrors.ctan.org/macros/latex/contrib/hyperref/doc/hyperref-doc.pdf">LaTeXový
        balíček <tt>hyperref</tt></a>, vizte dokument
        <a href="files/hyperref.tex"><tt>hyperref.tex</tt></a>
        (dostupný také na <a href="https://www.overleaf.com/read/dhccnmwmvgyb">službě Overleaf</a>).
    </p>
    <p>
        Pokud se pokusíme sloučit PDF soubory LaTeXovým balíčkem
        <tt>pdfpages</tt>, dojde ke ztrátě všech anotací včetně
        klikatelného výstupu, vizte dokument
        <a href="files/pdfpages-bez-newpaxu.tex"><tt>pdfpages-bez-newpaxu.tex</tt></a>
        (dostupný také na <a href="https://www.overleaf.com/read/zrhgmbjmfwbf">službě Overleaf</a>).
    </p>
    </p>
        Řešením je použít <a href="http://mirrors.ctan.org/macros/latex/contrib/newpax/newpax.pdf">LuaLaTeXový
        balíček <tt>newpax</tt></a>, který nám umožňuje anotace zachovat, vizte dokument
        <a href="files/pdfpages-s-newpaxem.tex"><tt>pdfpages-s-newpaxem.tex</tt></a>
        (dostupný také na <a href="https://www.overleaf.com/read/qbqfbhqftgbg">službě Overleaf</a>).
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Nástroje pro příkazovou řádku
            <a href="https://www.pdflabs.com/t/pdftk/"><tt>pdftk</tt></a> a
            <a href="https://ghostscript.readthedocs.io/en/latest/Use.html#using-ghostscript-with-pdf-files">GhostScript</a>
            také zachovávají klikatelný výstup.
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            Vyzkoušejte si překlad
            <a href="#pdfpages">ukázkového dokumentu využívajícího balíček
            <tt>pdfpages</tt></a>
            (dostupného také na <a href="https://www.overleaf.com/read/nktwgjcrmpwf">službě Overleaf</a>)
            a&nbsp;prakticky si vyzkoušejte také další možnosti, které
            balíček <tt>pdfpages</tt> nabízí (vizte
            <a href="http://mirror.ctan.org/macros/latex/contrib/pdfpages/pdfpages.pdf">dokumentaci</a>).
        </li>
        <li>
            Použijte techniky z tohoto cvičení při přípravě <a href="../../finalwork/#tex">svého prvního zápočtového dokumentu</a>:
        </li>
        <ul>
            <li>
                Použijte <a href="#newpax">LaTeXový balíček
                <tt>hyperref</tt></a>, abyste dosáhli klikatelných
                odkazů na hypertext, bibliografii a stránky v rejstříku.
            </li>
            <li>
                Pokud váš dokument sestává z více obsahových částí, které
                jsou součástí jednoho zdrojového souboru (např. sekce
                referátu), vyčleňte si je pro přehlednost do samostatných
                souborů a odkažte se na ně z původního zdrojového souboru
                <a href="#input">příkazem <tt>\input</tt></a>.
            </li>
            <li>
                Pokud váš dokument sestává z více nesourodých částí, které
                se sází z rozdílných zdrojových souborů (např. životopis a
                průvodní dopis), <a href="#pdfpages">slučte PDF soubory</a>
                jednotlivých částí do jednoho dokumentu při
                <a href="#newpax">zachování klikatelného výstupu</a>.
            </li>
            <li>
                Použijte šablonu <a href="files/odplist/odplist.zip"><tt>odplist</tt></a>
                (dostupnou také na <a href="https://www.overleaf.com/read/cjdswxqmnjhk">službě Overleaf</a>)
                pro vysázení automaticky skenovatelné verze pro tisk.
            </li>
    </ul>
    <!-- Konec textu. -->
</div>
