<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Nástroje pro WYSIWYG DTP</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Nejen TeXem živ je člověk. Pro přípravu graficky náročnějších 
        publikací (např. reklamního letáčku nebo posteru na konferenci) může 
        být pohodlnější a&nbsp;praktičtější využití 
        <abbr title="What You See Is What You Get">WYSIWYG</abbr> nástrojů 
        pro <abbr title="DeskTop Publishing">DTP</abbr>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="priprava-obrazku">
            Příprava obrázků
        </span>
    </h2>

    <!-- Návěští sekce. -->
    <h3>
        <span id="gimp">
            Gimp
        </span>
    </h3>
    <p>
        Populárním open-source nástrojem pro úpravu bitmapových obrázků je 
        <a href="http://www.gimp.org/">Gimp</a>, který je zdarma 
        <a href="http://www.gimp.org/downloads/">dostupný pro nejvýznamnější 
        desktopové operační systémy</a>.
    </p>
    <a href="pictures/gimp-multi-window.png">
        <img class="centered"
             width="90%"
             src="pictures/gimp-multi-window.png"
             alt="Editor obrázků Gimp – pohled na hlavní okno pro úpravu obrázku a&nbsp;pomocná okna s&nbsp;nabídkou nástrojů"/>
    </a>
    <!--
    <p>
        Základní možnosti nástroje mohou být rozšířeny pomocí 
        <a href="http://registry.gimp.org/">zásuvných modulů</a>, které 
        například poskytují
        <a href="http://www.sitepoint.com/5-great-gimp-plugins-for-designers/">specializované 
        funkce pro úpravu obrazu</a>.
    </p>
    -->
    <p>
        Některým uživatelům nevyhovuje poněkud netradiční rozložení pracovní 
        plochy Gimpu, kde jsou jednotlivá okna s&nbsp;upravovanými obrázky 
        a&nbsp;paletami nástrojů na sobě plně nezávislá. V&nbsp;takovém případě je 
        možné Gimp přepnout do jednookenního režimu:
        <code class="ukazka_kodu">
            Okna → Režim s&nbsp;jedním oknem
        </code>
    </p>
    <a href="pictures/gimp-single-window.png">
        <img class="centered"
             width="90%"
             src="pictures/gimp-single-window.png"
             alt="Editor obrázků Gimp v&nbsp;režimu jediného okna, kde jsou palety pro úpravu obrázků dokovány po jeho levé a&nbsp;pravé straně"/>
    </a>

    <!-- Návěští sekce. -->
    <h3>
        <span id="inkscape">
            Inkscape
        </span>
    </h3>
    <p>
        Populárním open-source nástrojem pro úpravu vektorových obrázků je 
        <a href="https://inkscape.org/">Inkscape</a>, který je zdarma 
        <a href="https://inkscape.org/en/download/">dostupný pro nejvýznamnější 
        desktopové operační systémy</a>.
    </p>
    <a href="pictures/inkscape.png">
        <img class="centered"
             width="90%"
             src="pictures/inkscape.png"
             alt="Editor obrázků Inkscape – pohled na hlavní okno pro úpravu obrázku s&nbsp;otevřeným SVG obrázkem hnědého králíka"/>
    </a>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Na webu <a href="https://openclipart.org/">OpenClipart.org</a> 
            je k&nbsp;dispozici k&nbsp;volnému použití řada vektorových obrázků 
            s&nbsp;nejrůznější tematikou.
        </p>
        <p>
            <strong class="tip-headline">Tip:</strong>
	    Na webu <a href="https://pixabay.com/">Pixabay.com</a> je 
	    k&nbsp;dispozici k&nbsp;volnému použití řada bitmapových 
	    i&nbsp;vektorových obrázků a&nbsp;videí s&nbsp;nejrůznější 
	    tematikou. Vyhledávání je možno omezit dle parametrů typu: 
	    fotografie/ilustrace/vektory/videa/velikost/barva/...
        </p>
    </div>
    <p>
        Nativním formátem Inkscape pro ukládání obrázků je 
        <a href="../xml/">XML jazyk</a> 
        <a href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics">Scalable 
        Vector Graphics</a>. Vzhledem k&nbsp;již poměrně 
        <a href="http://caniuse.com/#cats=SVG">slušné podpoře 
        <abbr title="Scalable Vector Graphics">SVG</abbr> ve webových 
        prohlížečích</a> je vektorový formát SVG dobrým kandidátem pro 
        tvorbu grafiky pro web.
    </p>
    <a href="pictures/brown-rabbit.svg">
        <img class="centered"
             width="25%"
             src="pictures/brown-rabbit.svg"
             alt="SVG obrázek hnědého králíka"/>
    </a>

    <!-- Návěští sekce. -->
    <h2>
        <span id="priprava-publikace">
            Příprava publikace
        </span>
    </h2>

    <!-- Návěští sekce. -->
    <h3>
        <span id="komercni-dtp-nastroje">
            Komerční nástroje
        </span>
    </h3>
    <p>
        Pro přípravu elektronických publikací existuje 
        <a href="https://en.wikipedia.org/wiki/List_of_desktop_publishing_software#Proprietary">velké 
        množství komerčního software</a>. Mezi nejznámější produkty patří 
        <a href="https://www.adobe.com/products/indesign.html">Adobe 
        InDesign</a>, <a href="http://www.quark.com/Products/QuarkXPress/">QuarkXPress</a> 
        či <a href="http://www.coreldraw.com/cz/product/graphic-design-software/">CorelDRAW</a>.
    </p>
    <p>
        Komerční DTP software je často finančně velmi nákladný. Pro 
        příležitostné použití tak může být mnohem vhodnější sáhnout po volně 
        dostupné alternativě, např. nástroji <a href="#scribus">Scribus</a>.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="scribus">
            Scribus
        </span>
    </h3>
    <p>
        Vynikajícím open-source nástrojem pro desktop publishing je 
        <a href="http://www.scribus.net/">Scribus</a>, který je zdarma 
        <a href="http://wiki.scribus.net/canvas/Download">dostupný pro 
        nejvýznamnější desktopové operační systémy</a>.
    </p>
    <a href="pictures/scribus.png">
        <img class="centered"
             width="90%"
             src="pictures/scribus.png"
             alt="DTP program Scribus – pohled na hlavní okno s&nbsp;podokny s&nbsp;nástroji a&nbsp;šablonou několikastránkového věstníku"/>
    </a>
    <ul>
        <li>
            Práce ve Scribusu je založena na vkládání různých typů rámců 
            (textové, obrázkové, generované) a&nbsp;jiných objektů (tabulek, 
            grafických tvarů, &hellip;) do stránky.
            <ul>
                <li>
                    Text do textového rámce je možné vložit/připojit 
                    z&nbsp;externího souboru:
                    <code class="ukazka_kodu">
                        pravý klik na textový rámec → Vložit text&thinsp;&hellip; (Ctrl+I)<br/>
                        pravý klik na textový rámec → Připojit text&thinsp;&hellip;
                    </code>
                    Obsah textového rámce je možné upravit ve vestavěném 
                    textovém editoru:
                    <code class="ukazka_kodu">
                        pravý klik na textový rámec → Upravit text&thinsp;&hellip; (Ctrl+T)
                    </code>
                    Zajímavou možností je také vložení uměle vygenerovaného 
                    výplňového textu (klasické <a href="https://en.wikipedia.org/wiki/Lorem_ipsum">Lorem 
                    Ipsum</a> či text užívající znaky vybraného jazyka), což 
                    umožňuje připravit design a&nbsp;otestovat podporu jazyka 
                    v&nbsp;použitých fontech ještě před tím, než je k&nbsp;dispozici 
                    skutečný text publikace.
                    <code class="ukazka_kodu">
                        pravý klik na textový rámec → Výplňový text
                    </code>
                </li>
                <li>
                    Více textových rámců je možné propojit. Nalitý text pak 
                    při úpravách velikosti a&nbsp;tvaru rámců mezi rámci volně 
                    přetéká a&nbsp;designér se může soustředit na umístění rámců 
                    místo ručního dělení textu na úseky vhodné délky.
                    <code class="ukazka_kodu">
                        levý klik na textový rámec → Objekty → Propojit textové rámce (N) → levý klik na další textový rámec
                    </code>
                </li>
                <li>
                    Dělení slov je nutné explicitně zapnout/vypnout pro 
                    každý (řetězec) textových rámců:
                    <code class="ukazka_kodu">
                        levý klik na textový rámec → Extra → Dělení slov v&nbsp;textu<br/>
                        levý klik na textový rámec → Extra → Zrušit dělení slov v&nbsp;textu
                    </code>
                </li>
                <li>
                    Tvar rámce nemusí být pravoúhlý, ale je možné jej 
                    libovolně deformovat.
                    <code class="ukazka_kodu">
                        Okna → Vlastnosti (F2) → Tvar → Upravit
                    </code>
                </li>
                <li>
                    Zajímavým typem jsou tzv. generované rámce. Ty umožňují 
                    vložit zdrojový kód v&nbsp;LaTeXu, <a href="http://gnuplot.info/">GNU
                    Plot</a> apod. Zdrojový kód je pak zpracován patřičným 
                    kompilátorem a&nbsp;do dokumentu vložen výsledek jeho práce, 
                    tj. obsahu dokumentu vysázeného LaTeXem, graf 
                    vygenerovaný GNU Plot atd.
                </li>
            </ul>
        </li>
        <li>
            Dle zásady <a href="../html/#oddeleni-formy-od-obsahu">oddělení
            formy od obsahu</a> definujeme vzhled textu zásadně pomocí stylů 
            definovaných ve Správci stylů:
            <code class="ukazka_kodu">
                Úpravy → Styly&thinsp;&hellip; (F3)
            </code>
            <ul>
                <li>
                    Styly jsou definovány hierarchicky, tzn. veškerá 
                    nastavení jsou přebírána z&nbsp;nadřazeného stylu, dokud 
                    nejsou explicitně změněna. Změněná nastavení jsou pak 
                    v&nbsp;editoru stylů vyznačena použitím tučného písma, aby 
                    bylo na první pohled zřejmé, která nastavení jsou 
                    definována v&nbsp;daném stylu a&nbsp;která už u&nbsp;jeho rodiče.
                </li>
                <li>
                    Při editaci stylu Scribus umožňuje použití zavěšené 
                    interpunkce známé 
                    z&nbsp;<a href="../mikrotypografie/#hz-program-v-indesign">HZ 
                    programu</a>:
                    <code class="ukazka_kodu">
                        Vlastnosti<br/>
                        Vzdálenosti a&nbsp;zarovnání → Do bloku<br/>
                        Optické okraje → Na obou stranách
                    </code>
                </li>
            </ul>
        </li>
        <li>
            Pro tiskovou přípravu je důležitá správa barev:
            <code class="ukazka_kodu">
                Soubory → Nastavení dokumentu&thinsp;&hellip; → Správa barev<br/>
                Úpravy → Barvy&thinsp;&hellip;<br/>
                Úpravy → Vzorky&thinsp;&hellip;<br/>
                Úpravy → Nahradit barvy&thinsp;&hellip;
            </code>
        </li>
        <li>
            Velmi důležitou funkcí je export výsledného dokumentu do PDF.
            <code class="ukazka_kodu">
                Soubory → Exportovat → Uložit jako PDF&thinsp;&hellip;
            </code>
            <ul>
                <li>
                    Samotnému exportu by měla předcházet kontrola 
                    korektnosti dokumentu:
                    <code class="ukazka_kodu">
                        Okna → Předtisková kontrola
                    </code>
                    Ta může odhalit nejrůznější potíže typu chybějícího 
                    textu (přetečení nalitého textu mimo prostor daný 
                    současnou velikostí rámců), objektů mimo oblast tisku 
                    atd.
                </li>
                <li>
                    Do každého PDF je velmi důležité vždy vložit použitá 
                    písma:
                    <code class="ukazka_kodu">
                        Písma → Vložit vše
                    </code>
                </li>
                <li>
                    V&nbsp;případě profesionálního tisku je důležité správné 
                    nastavení barev a&nbsp;přidání tiskových značek:
                    <code class="ukazka_kodu">
                        Barva → Všeobecné → Plánovaný výstup na<br/>
                        Předtisková kontrola → Značky pro tisk<br/>
                    </code>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ul>
        <li>
            V&nbsp;programu <a href="#gimp">Gimp</a> si z&nbsp;obrázků
            <a href="pictures/jezek.png"><tt>jezek.png</tt></a>
            a&nbsp;<a href="pictures/tux.png"><tt>tux.png</tt></a> zkuste
            složit následující obrázek:
            <a href="pictures/tux-na-jezkovi.png">
                <img class="centered"
                     width="40%"
                     src="pictures/tux-na-jezkovi.png"
                     alt="PNG obrázek tučňáka na ježkovi"/>
            </a>
        </li>
        <li>
            V&nbsp;programu <a href="#gimp">Gimp</a> si otevřete nějaký obrázek 
            a&nbsp;vyzkoušejte si aplikaci obrazových úprav, např. plugin 
            <a href="http://docs.gimp.org/en/plug-in-gimpressionist.html">GIMPresionista</a>:
            <code class="ukazka_kodu">
                Filtry → Umělecké → GIMPresionista&thinsp;&hellip;
            </code>
        </li>
        <li>
            V&nbsp;programu <a href="#inkscape">Inkscape</a> připravte jednoduchý 
            vektorový obrázek.
        </li>
        <!-- <li>
            V&nbsp;Inkscape připravený vektorový obrázek použijte v&nbsp;rámci 
            jednoduchého letáčku s&nbsp;upoutávkou na poslední ročník
            <a href="http://festival.fi.muni.cz">Filmového festivalu FI</a>,
            který připravíte pomocí programu 
            <a href="#scribus">Scribus</a>.
        </li> -->
    </ul>
    <!-- Konec textu. -->
</div>
