<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: XML</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        <a href="http://www.w3.org/TR/REC-xml/">XML (Extensible Markup 
        Language)</a> je textový značkovací jazyk, který byl vyvinut jako 
        zjednodušení principielně obdobného, ale mnohem složitějšího 
        značkovacího jazyka 
        <a href="https://en.wikipedia.org/wiki/Standard_Generalized_Markup_Language">SGML</a>. 
    </p>
    <p>
        XML je metajazyk určený k&nbsp;vytváření značkovacích jazyků pro 
        konkrétní použití (jedním z&nbsp;takových jazyků je např. 
        <a href="../html/#html">XHTML</a>). Slouží k&nbsp;textové 
        a&nbsp;člověkem čitelné serializaci dat. (V&nbsp;tomto ohledu 
        v&nbsp;dnešní době soupeří s&nbsp;dalšími standardy, zejména 
        s&nbsp;jazykem <a href="https://en.wikipedia.org/wiki/JSON">JSON</a>.)
    </p>
    <p>
        Díky standardizaci a&nbsp;široké podpoře v&nbsp;programovacích jazycích 
        a&nbsp;nástrojích pro vývojáře je XML hojně využívaným jazykem pro výměnu 
        dat ve strojově zpracovatelné podobě s&nbsp;výhodou jejich čitelnosti 
        člověkem v&nbsp;prostém textovém editoru. 
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="vlastni-xml-jazyk">
            Vlastní XML jazyk
        </span>
    </h2>
    <p>
        Využití <a href="http://www.w3schools.com/xml/">XML</a> pro definici 
        vlastního jazyka si můžeme ukázat na příkladu jednoduchého katalogu 
        software.
    </p>
    <p>
        Představme si situaci, kdy si chceme vést evidenci o&nbsp;software, 
        který používáme na svých osobních počítačích. Budeme si proto 
        vytvářet jednoduchý katalog takového software v&nbsp;XML formátu. V&nbsp;tomto 
        katalogu chceme pro každý produkt uchovávat název programu, 
        informaci o&nbsp;instalačním souboru a&nbsp;jeho verzi, odkaz na domovskou 
        stránku výrobce a&nbsp;krátký popis. V&nbsp;případě některých produktů se celá 
        instalační sada může skládat z&nbsp;více částí (např. program a&nbsp;dodatečné 
        pluginy). V&nbsp;našem katalogu chceme proto mít možnost popsat 
        i&nbsp;tuto situaci.
    </p>
    <p>
        Příklad takového katalogu v&nbsp;XML si můžete prohlédnout v&nbsp;souboru 
        <a href="files/programy.xml"><tt>programy.xml</tt></a>.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="formalni-definice-xml-jazyka">
            Formální definice XML jazyka
        </span>
    </h2>
    <p>
        Značkování v&nbsp;našem souboru 
        <a href="files/programy.xml"><tt>programy.xml</tt></a> jsme si 
        stanovili sami. Nikomu (<em>možná</em> krom autora souboru
        <a href="files/programy.xml"><tt>programy.xml</tt></a>) 
        proto nemůže být zřejmé, jak přesně je dané značkování definováno. 
        (Je uvedení odkazu na domovskou stránku povinné? Je povolené uvádět 
        uživatelské hodnocení daného produktu? Je možné elementy
        <tt>program-group</tt> zanořovat více než jednou do sebe?) Na druhou
        stranu jsme díky textové reprezentaci i&nbsp;bez jakékoliv
        předchozí znalosti daného jazyka schopni <em>odhadnout</em> význam
        dat v&nbsp;souboru obsažených.
    </p>
    <p>
        Bez přesné definice daného značkování (našeho XML jazyka) nejsme 
        schopni naznačkovaná data dále automatizovaně zpracovávat.
        Nejsme schopni provést import dat do databáze (nevíme, jaká 
        data v&nbsp;jakých elementech můžeme očekávat), univerzálně
        definovat převod libovolného katalogu software v&nbsp;tomto 
        značkovaní na HTML stránku ani bezpečně exportovat data
        z&nbsp;našeho systému (existuje například omezení na maximální
        povolenou délku popisu?) atd.
    </p>
    <p>
        Uvedené problémy řeší formální definice XML jazyka. Existuje 
        <a href="https://en.wikipedia.org/wiki/XML_schema_languages">několik 
        standardů, které se pro definici XML jazyků používají</a>. 
        Historicky nejstarší je 
        <a href="https://en.wikipedia.org/wiki/Document_type_definition">Document 
        Type Definition (DTD)</a>.
        <span class="tip-box">
            <strong class="tip-headline">Tip:</strong>
            DTD se hojně využívá u&nbsp;(X)HTML. Pokud si 
            <a href="../html/#oddeleni-formy-od-obsahu">zobrazíte 
            zdrojový kód</a> této webové stránky, uvidíte 
            <a href="https://en.wikipedia.org/wiki/Document_type_definition#Associating_DTDs_with_documents">odkaz 
            na DTD</a> na jejím druhém řádku těsně za XML prologem.
        </span>
        Dalšími možnostmi jsou např. 
        <a href="https://en.wikipedia.org/wiki/RELAX_NG">RELAX NG</a>,
        <a href="https://en.wikipedia.org/wiki/Schematron">Schematron</a>,
        anebo hojně užívané a&nbsp;velmi mocné 
        <a href="https://www.w3schools.com/xml/xml_schema.asp">XML Schema</a>.
    </p>
    <p>
        Formální definice našeho XML jazyka užitého 
        v&nbsp;<a href="files/programy.xml"><tt>programy.xml</tt></a> 
        v&nbsp;jazyce XML Schema je k&nbsp;dispozici v&nbsp;souboru 
        <tt><a href="files/seznam-software.xsd">seznam-software.xsd</a></tt>.
        Z&nbsp;uvedené definice je zřejmé mimo jiné to, že uvedení odkazu 
        na domovskou stránku <em>není</em> povinné, <em>není</em> povolené 
        uvádět uživatelské hodnocení daného produktu („hvězdičky“), elementy 
        <tt>program-group</tt> <em>je</em> možné <em>neomezeně</em> zanořovat do 
        sebe a&nbsp;<em>neexistuje</em> omezení na maximální povolenou délku 
        popisu.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="validace">
            Validace
        </span>
    </h3>
    <p>
        Výhodou striktních syntaktických požadavků XML a&nbsp;existence formální 
        definice jazyka je, že dokumenty v&nbsp;takovém značkování můžeme 
        bezpečně algoritmicky zpracovávat.
    </p>
    <p>
        Nejzákladnější syntaktické požadavky na každý XML dokument vychází 
        přímo ze syntaktických požadavků XML. XML dokument je dobře utvořený 
        (well formed), pokud neobsahuje neuzavřené elementy, neobsahuje 
        překřížené elementy, má právě jeden kořenový element atd.
    </p>
    <p>
        Kontrolu, zda je libovolný XML dobře utvořený, můžeme provést např. 
        nástrojem <a href="http://xmlsoft.org/"><tt>xmllint</tt></a>:
        <code class="ukazka_kodu">
            xmllint --noout <a href="files/programy.xml">programy.xml</a>
        </code>
        Takovou kontrolu můžeme provést na libovolném XML dokumentu, 
        <em>není</em> k&nbsp;ní třeba žádná formální definice použitého XML 
        jazyka, neboť se kontroluje pouze základní XML syntaxe, nikoliv 
        formát kódovaných dat. <em>Pokud dokument není well formed, žádná 
        aplikace nesmí pokračovat v&nbsp;jeho dalším zpracování a&nbsp;musí ohlásit 
        chybu.</em>
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Parametr <tt>--noout</tt> zajistí, že <tt>xmllint</tt> vypisuje 
            pouze chyby. Pokud tedy po spuštění příkazu program bez 
            jakéhokoliv hlášení skončí, znamená to, že žádné chyby nebyly 
            v&nbsp;dokumentu nalezeny.
        </p>
        <p>
            Pokud chcete výsledek kontroly testovat automatizovaně např. ve 
            skriptu, můžete kontrolovat návratovou hodnotu vrácenou 
            programem při jeho ukončení:
            <code class="ukazka_kodu">
                $ xmllint --noout <a href="files/programy.xml">programy.xml</a><br/>
                $ echo $?<br/>
                0
            </code>
            Hodnota <tt>0</tt> znamená úspěšnou kontrolu bez nalezených 
            chyb, nenulové hodnoty indikují výskyt různých typů chyb (viz 
            manuálová stránka programu: <code>man xmllint</code>).
        </p>
        <p>
            Pokud dokument chyby obsahuje, jsou vypsány. Vyzkoušejte si toto 
            chování úmyslným zanesením chyby do dokumentu (např. smazáním 
            uzavírací značky některého elementu apod.).
        </p>
    </div>
    <p>
        Pokud je k&nbsp;dispozici formální definice použitého jazyka, je na 
        vstupním dokumentu, který o&nbsp;sobě tvrdí, že obsahuje značkování 
        v&nbsp;daném jazyce, možné provést validaci, tzn. kontrolu shody obsahu 
        dokumentu s&nbsp;definicí daného jazyka. Při použití definice v&nbsp;jazyce 
        XML Schema můžeme opět použít např. nástroj <tt>xmllint</tt>:
        <code class="ukazka_kodu">
            xmllint --noout --schema <a href="files/seznam-software.xsd">seznam-software.xsd</a> <a href="files/programy.xml">programy.xml</a>
        </code>
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Rozdíl mezi kontrolou dobrého utvoření XML dokumentu a&nbsp;validací 
            dle formální definice jazyka si můžete snadno vyzkoušet: 
            Přidejte do dokumentu <tt>programy.xml</tt> nějaký vlastní 
            element, který není součástí jazyka definovaného schématem 
            <tt>seznam-software.xsd</tt>, ale zároveň nebude porušovat 
            syntaktická pravidla XML. Následně zkuste upravený dokument 
            zkontrolovat na správnost utvoření i&nbsp;validitu vůči schématu 
            <tt>seznam-software.xsd</tt>.
        </p>
    </div>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Nástroj <a href="http://xmlsoft.org/""><tt>xmllint</tt></a>
            podporuje pouze jazyk XML Schema 1.0.
            Pro využití jazyka XML Schema 1.1
            můžete využít nástroj
            <a href="https://xerces.apache.org/#xerces2-j">Apache Xerces2-J</a>.
        </p>
    </div>
    <p>
        Pokud je vstupní dokument dobře utvořený (well formed) a&nbsp;validní, 
        můžeme jej bezpečně automaticky zpracovávat&nbsp;– máme jistotu, 
        že přesně známe formát dat, která se v&nbsp;takovém dokumentu mohou 
        vyskytnout, a&nbsp;zpracovávající software by na ně tedy měl být plně 
        připraven.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="css">
            Stylování XML dokumentů
        </span>
    </h2>
    <p>
        XML jazyky slouží k&nbsp;předávání dat ve strojově zpracovatelném 
        formátu. Často však může být užitečné definovat způsob, jakým se XML
        dokument vykreslí při zobrazení ve webovém prohlížeči.
    </p>
    <p>
        Pokud si v&nbsp;prohlížeči otevřeme soubor 
        <a href="files/programy.xml"><tt>programy.xml</tt></a>, zobrazí se
        nám pouze zdrojový kód příslušného XML dokumentu. Pokud si však
        vytvoříme <a href="../html/#css">CSS stylopis</a> a&nbsp;k&nbsp;XML
        dokumentu jej připojíme, vyobrazí se nám dokument v&nbsp;moderních
        prohlížečích jako běžná webová stránka.
    </p>
    <p>
        Stylování XML dokumentů ilustruje CSS stylopis
        <a href="files/seznam-software.css"><tt>seznam-software.css</tt></a>,
        který je určený pro libovolný XML dokument v jazyce definovaném XML
        schématem <a href="files/seznam-software.xsd"><tt>seznam-software.xsd</tt></a>.
        Ukázkový výsledek je možné si prohlédnout na souboru
        <a href="files/programy-s-css.xml"><tt>programy-s-css.xml</tt></a>,
        který je krom přidání odkazu na CSS stylopis shodný s&nbsp;dokumentem
        <a href="files/programy.xml"><tt>programy.xml</tt></a>:
    </p>
    <!-- Generator: diff -u programy.xml programy-s-xsl.xml | pygmentize -l diff -f html -O classprefix=pygments_,linenos=inline -->
<div class="ukazka_kodu"><pre><span class="lineno">1</span> <span class="pygments_gd">--- programy.xml        2015-10-30 15:23:16.521464364 +0200</span>
<span class="lineno">2</span> <span class="pygments_gi">+++ programy-s-css.xml  2015-10-30 15:25:43.325325463 +0200</span>
<span class="lineno">3</span> <span class="pygments_gu">@@ -1,4 +1,5 @@</span>
<span class="lineno">4</span>  &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
<span class="lineno">5</span> <span class="pygments_gi">+&lt;?xml-stylesheet type=&quot;text/css&quot; href=&quot;seznam-software.css&quot;?&gt;</span>
<span class="lineno">6</span>  &lt;programs title=&quot;Programy&quot;
<span class="lineno">7</span>            xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
<span class="lineno">8</span>            xsi:noNamespaceSchemaLocation=&quot;seznam-software.xsd&quot;&gt;
</pre></div>


    <!-- Návěští sekce. -->
    <h2>
        <span id="xslt">
            XML transformace
        </span>
    </h2>
    <p>
        Stylování pomocí jazyka CSS je užitečné, ale často nedostačující.
        V&nbsp;rámci stylopisu například nemůžeme do výsledné stránky dodat
        další navigační a&nbsp;strukturní prvky ani data jinak předzpracovat ze
        strojové do lidsky čitelné podoby. Mnohdy proto potřebujeme silnější
        transformační mechanismus.
    </p>
    <p>
        Jednou z možností, jak transformovat data ve formátu XML, jsou
        stylopisy v jazyce XSLT. XSLT je deklarativní programovací jazyk, který
        popisuje převod z jednoho XML jazyka buďto do XML jazyka jiného, nebo do
        libovolného jiného textového formátu, jako je HTML, LaTeX, apod.
    </p>
    <p>
        Libovolný XML dokument v&nbsp;jazyce definovaném XML schématem 
        <tt><a href="files/seznam-software.xsd">seznam-software.xsd</a></tt> 
        můžeme převést do HTML pomocí XSLT stylopisu
        <a href="files/seznam-software-do-html.xsl"><tt>seznam-software-do-html.xsl</tt></a>.

        Vyzkoušet si to můžeme na našem dokumentu 
        <a href="files/programy.xml"><tt>programy.xml</tt></a> pomocí XSLT 
        procesoru <a href="http://xmlsoft.org/XSLT/"><tt>xsltproc</tt></a>:
        <code class="ukazka_kodu">
            xsltproc --output programy.html <a href="files/seznam-software-do-html.xsl">seznam-software-do-html.xsl</a> <a href="files/programy.xml">programy.xml</a>
        </code>
        Informace obsažené v&nbsp;XML dokumentu tak mohou být přímo vizuálně 
        prezentovány čtenáři ve webovém prohlížeči otevřením HTML stránky 
        <tt>programy.html</tt>.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Procesor <a href="http://xmlsoft.org/XSLT/"><tt>xsltproc</tt></a>
            podporuje pouze jazyk
            <a href="https://www.w3.org/TR/1999/REC-xslt-19991116">XSLT 1.0</a>.
            Pro využití jazyka
            <a href="https://www.w3.org/TR/2021/REC-xslt20-20210330/">XSLT 2.0</a>
            a <a href="https://www.w3.org/TR/2017/REC-xslt-30-20170608/">XSLT 3.0</a>
            můžete využít procesor <a href="https://saxon.sourceforge.net/">Saxon-HE</a>.
        </p>
    </div>
    <p>
        XSLT stylopis můžeme odkazovat přímo z&nbsp;XML dokumentu. Některé webové 
        prohlížeče pak při otevření takového XML dokumentu nezobrazí samotná 
        XML data, ale přímo výslednou HTML stránku, která je výsledkem XSLT 
        transformace daným stylopisem. Vyzkoušet si to můžete na souboru 
        <a href="files/programy-s-xsl.xml"><tt>programy-s-xsl.xml</tt></a>, 
        který je krom přidání odkazu na XSLT stylopis shodný s&nbsp;dokumentem
        <a href="files/programy.xml"><tt>programy.xml</tt></a>:
    </p>
    <!-- Generator: diff -u programy.xml programy-s-xsl.xml | pygmentize -l diff -f html -O classprefix=pygments_,linenos=inline -->
<div class="ukazka_kodu"><pre><span class="lineno">1</span> <span class="pygments_gd">--- programy.xml        2014-10-20 00:38:11.211197875 +0200</span>
<span class="lineno">2</span> <span class="pygments_gi">+++ programy-s-xsl.xml  2014-10-20 00:38:17.135173512 +0200</span>
<span class="lineno">3</span> <span class="pygments_gu">@@ -1,4 +1,5 @@</span>
<span class="lineno">4</span>  &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
<span class="lineno">5</span> <span class="pygments_gi">+&lt;?xml-stylesheet type=&quot;text/xsl&quot; href=&quot;seznam-software-do-html.xsl&quot;?&gt;</span>
<span class="lineno">6</span>  &lt;programs title=&quot;Programy&quot;
<span class="lineno">7</span>            xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
<span class="lineno">8</span>            xsi:noNamespaceSchemaLocation=&quot;seznam-software.xsd&quot;&gt;
</pre></div>

    <!-- Návěští sekce. -->
    <h2>
        <span id="ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h2>
    <ol>
        <li>
            Přidejte si do 
            <a href="files/programy.xml"><tt>programy.xml</tt></a> další 
            položku <tt>&lt;program&gt;&hellip;&lt;/program&gt;</tt> 
            s&nbsp;popisem nějakého svého oblíbeného programu.
            <ul>
                <li>
                    <a href="#validace">Ověřte, že je dokument po úpravě 
                    stále validní</a>.
                </li>
                <li>
                    Prohlédněte si novou podobu dokumentu po 
                    <a href="#xslt">transformaci do HTML</a>.
                </li>
            </ul>
        </li>
        <li>
            Rozšiřte definici jazyka <a href="files/seznam-software.xsd"><code>seznam-software.xsd</code></a>
            o&nbsp;nový podelement elementu 
            <tt>program</tt>, který se bude jmenovat <tt>user-rating</tt>, 
            bude nepovinný, neopakovatelný, a&nbsp;povolenou hodnotou bude 
            celé číslo od nuly do pěti (tzn. hodnocení „nula až pět 
            hvězdiček“).
            <ul>
                <li>
                    Přidejte nově definovaný element k&nbsp;jednomu nebo více 
                    záznamům ve vašem katalogu software 
                    <tt>programy.xml</tt>.
                </li>
                <li>
                    Ověřte, že je dokument po úpravě stále validní.
                </li>
            </ul>
        </li>
        <li>
            Rozšiřte ukázkovou <a href="#xslt">XML transformaci</a> 
            v&nbsp;souboru <a href="files/seznam-software-do-html.xsl"><code>seznam-software-do-html.xsl</code></a> 
            o&nbsp;podporu nově definovaného elementu <tt>user-rating</tt>.
            <ul>
                <li>
                    <strong>[do výšky 2 bonusových bodů dle chytrosti řešení]</strong>
                    Hodnocení uvedené ve vstupním XML dokumentu je možné 
                    reprezentovat i&nbsp;jinak než prostým výpisem čísla 
                    uvedeného přímo v&nbsp;XML. Může být reprezentováno 
                    např. graficky opakovaným výpisem symbolů „★“ a&nbsp;„☆“ 
                    (např. tedy „★★★☆☆“ pro hodnocení 3) apod.
                </li>
            </ul>
        </li>
        <li>
            <strong>[za 3 bonusové body]</strong>
            Vytvořte vlastní předpis <a href="#xslt">XML transformace</a>, 
            která libovolný dokument v&nbsp;XML jazyce definovaném XML 
            schématem <tt><a href="files/seznam-software.xsd">seznam-software.xsd</a></tt> 
            převede do jazyka LaTeX.
            <ul>
                <li>
                    Z&nbsp;důvodu lepší podpory 
                    <a href="../textove-soubory/#unicode">Unicode</a> je 
                    vhodné vytvářet zdrojový text pro sazbu 
                    <a href="../ceska-sazba-texem/#xelatex-polyglossia">XeLaTeXem/LuaLaTeXem</a>.
                </li>
                <li>
                    Symboly hvězdiček naleznete např. v&nbsp;LaTeXovém
                    balíčku
                    <a href="https://www.ctan.org/pkg/pifont"><tt>pifont</tt></a>.
                </li>
                <li>
                    Výslednou transformaci aplikujte na svůj dokument 
                    <tt>programy.xml</tt> a&nbsp;získaný zdrojový text 
                    přeložte TeXem.
                </li>
                
            </ul>
        </li>
    </ol>
    <!--
    <p>
        Pokud odevzdáváte práci ze cvičení e-mailem, přiložte veškeré textové soubory,
        které jste vyrobili.
    </p>
    -->
    <!-- Konec textu. -->
</div>
