<!-- Začátek záhlaví. -->
<div id="header">
    <h1><a href="../../">
        <span class="logo-text">PB029: Textové soubory</span>
    </a></h1>
</div>
<!-- Konec záhlaví. -->

<!-- Začátek textu. -->
<div id="text">
    <p class="prvni_element_na_strance">
        Jedním z&nbsp;nejjednodušších elektronických dokumentů je prostý textový 
        soubor. I&nbsp;když to tak nemusí na první pohled vypadat, i&nbsp;prosté 
        textové soubory skrývají některé záludnosti, pokud je chceme editovat a
        přenášet mezi různými platformami. Jelikož jsou i&nbsp;webové stránky
        a&nbsp;TeXové zdrojové texty čistě textové soubory, je dobré být si
        těchto úskalí vědom.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="konce-radku">
            Znak konce řádků
        </span>
    </h2>
    <p>
        Znak, který v&nbsp;textovém souboru signalizuje konec řádku (často 
        označováno <abbr title="End of Line">EOL</abbr>), je na různých 
        platformách různý, z&nbsp;těch nejrozšířenějších:
    </p>
    <ul>
        <li>
            Windows: dvojice znaků
            <tt><abbr title="Carriage Return">CR</abbr></tt>+<tt><abbr title="Line Feed">LF</abbr></tt>
        </li>
        <li>
            Unix (tedy včetně Apple MacOS od <abbr title="verze 10">verze X</abbr>): znak
            <tt><abbr title="Line Feed">LF</abbr></tt>
        </li>
        <li>
            Apple MacOS do verze 9 včetně: znak
            <tt><abbr title="Carriage Return">CR</abbr></tt>
        </li>
    </ul>
    <p>
        Znaky <tt><abbr title="Carriage Return">CR</abbr></tt>
        a&nbsp;<tt><abbr title="Line Feed">LF</abbr></tt> mají kořeny v&nbsp;technologii 
        dálnopisných terminálů:
    </p>
    <ul>
        <li>
            Znak <tt>LF</tt> (Line Feed; ASCII kód <tt>0x0A</tt>, 
            v&nbsp;programovacích jazycích často reprezentován sekvencí 
            <code>\n</code>) byl interpretován jako posun papíru o&nbsp;řádek 
            vzhůru.
        </li>
        <li>
            Znak <tt>CR</tt> (Carriage Return; ASCII kód <tt>0x0D</tt>, 
            v&nbsp;programovacích jazycích často reprezentován sekvencí 
            <code>\r</code>) byl interpretován jako návrat vozíku s&nbsp;papírem 
            nebo tiskovou hlavou.
        </li>
    </ul>

    <!-- Návěští sekce. -->
    <h3>
        <span id="konce-radku-ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h3>
    <p>
        Vytvořte si v&nbsp;libovolném textovém editoru několikařádkový textový 
        soubor. Ověřte, jaký znak konce řádků je použit:
    </p>
    <ul>
        <li>
            Linux:
            <code class="ukazka_kodu">
                $ cat plaintext.txt<br/>
                prvni radek souboru<br/>
                druhy radek souboru<br/>
                <br/>
                $ hexdump -C plaintext.txt<br/> 
                00000000  70 72 76 6e 69 20 72 61  64 65 6b 20 73 6f 75 62  |prvni radek soub|<br/>
                00000010  6f 72 75 <strong>0a</strong> 64 72 75 68  79 20 72 61 64 65 6b 20  |oru<strong>.</strong>druhy radek |<br/>
                00000020  73 6f 75 62 6f 72 75 <strong>0a</strong> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;                        |souboru<strong>.</strong>|<br/>
                00000028
            </code>
            Z&nbsp;výpisu nástroje <tt>hexdump</tt> je vidět, že soubor byl
            pravděpodobně vytvořen na unixovém systému, protože konce řádků
            jsou reprezentovány bajty s&nbsp;hodnotou <tt>0a</tt> (ve výpisu
            zvýrazněné).
        </li>
        <li>
            Ve Windows je možné nad souborem <tt>plaintext.txt</tt> použít
            například integrovaný prohlížeč správce souborů 
            <a href="../software/#obecne-informace">Altap Salamander</a>:
            <code class="ukazka_kodu">
                Nabídka Start → All Programs → Altap Salamander<br/>
                vybrat soubor plaintext.txt<br/>
                Soubory → Zobrazit (F3)<br/>
                Zobrazit → Šestnáctkově (Ctrl&nbsp;+&nbsp;H)
            </code>
        </li>
    </ul>
    <p>
        Následně soubor konvertujte do podoby obvyklé na ostatních platformách.
    </p>
    <ul>
        <li>
            Linux: použijte konverzí programy <tt>dos2unix</tt>,
            <tt>mac2unix</tt>, <tt>unix2dos</tt> a&nbsp;<tt>unix2mac</tt>.
        </li>
        <li>
            Windows: použijte Altap Salamander:
            <code class="ukazka_kodu">
                Nabídka Start → All Programs → Altap Salamander<br/>
                vybrat soubor plaintext.txt<br/>
                Soubory → Převést (Ctrl&nbsp;+&nbsp;K)
            </code>
        </li>
    </ul>
    <p>
        Vyzkoušejte si, jaké problémy může přinést použití chybného znaku 
        konce řádku:
    </p>
    <ul>
        <li>
            V&nbsp;libovolném textovém editoru vytvořte jednoduchý skript pro 
            unixový shell Bash:
            <code class="ukazka_kodu">
                #!/bin/bash<br/><br/>
                echo 'Hello World!'<br/>
                exit 0
            </code>
        </li>
        <li>
            Uložte skript v&nbsp;kódování UTF-8 <em>s&nbsp;Windows reprezentací konců 
            řádků znaky
            <tt><abbr title="Carriage Return">CR</abbr></tt>+<tt><abbr title="Line Feed">LF</abbr></tt></em>
            do souboru <tt>skript.sh</tt>.
        </li>
        <li>
            Na unixovém systému nastavte souboru práva pro spuštění 
            a&nbsp;pokuste se skript spustit:
            <code class="ukazka_kodu">
                $ chmod u+x skript.sh<br/>
                $ ./skript.sh<br/>
                bash: ./skript.sh: /bin/bash^M: chybný interpretr: Adresář nebo soubor neexistuje
            </code>
            Proč došlo k&nbsp;uvedené chybě?
        </li>
    </ul>
    <p>
        TeX se k&nbsp;znakům konce řádku staví rozumně a&nbsp;<tt><abbr
        title="Carriage Return">CR</abbr></tt>+<tt><abbr title="Line
        Feed">LF</abbr></tt>, <tt><abbr title="Line Feed">LF</abbr></tt>
        i&nbsp;<tt><abbr title="Carriage Return">CR</abbr></tt> jsou během čtení
        souboru nahrazeny znakem, který se nachází v&nbsp;registru
        <tt>\endlinechar</tt> (implicitně <tt><abbr title="Carriage
        Return">CR</abbr></tt>). HTML je k&nbsp;použitému znaku konce řádku
        rovněž lhostejný.
    </p>

    <!-- Návěští sekce. -->
    <h2>
        <span id="kodovani-textu">
            Kódování textu
        </span>
    </h2>
    <p>
        Daleko větší problémy než různé znaky ukončení řádků však přináší
        rozdíly v&nbsp;kódování textu, tzn. interpretaci významu bajtů
        v&nbsp;textovém souboru.
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="jednobajtova-kodovani">
            Jednobajtová kódování
        </span>
    </h3>
    <p>
        V&nbsp;současné době je nejzákladnějším standardem pro kódování 
        textu na <abbr title="x86 desktopové počítače&nbsp;/&nbsp;servery s&nbsp;Windows/unixem/MacOS.">nejrozšířenějších
        platformách</abbr> kód 
        <a href="https://en.wikipedia.org/wiki/ASCII">ASCII</a>. Ten však
        nepokrývá potřeby většiny jazyků krom angličtiny, má jen velmi
        omezené pokrytí speciálních znaků apod.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            <a href="https://en.wikibooks.org/wiki/LaTeX/Special_Characters#Escaped_codes">Pomocí 
            ASCII escape sekvencí ve zdrojovém textu umožňuje TeX 
            sázet i&nbsp;různé cizokrajné znaky.</a> V&nbsp;případě nedostupnosti 
            vhodného znaku v&nbsp;použitém fontu je však výsledek vytvořen 
            složením samotatného znaku písmene (např. <tt>d</tt>) a&nbsp;znaku 
            akcentu (např. <tt>ˇ</tt>). Výsledek strojové kombinace obou 
            znaků však často nemusí dávat optimální optický výsledek 
            v&nbsp;porovnání s&nbsp;ručně optimalizovanou kresbou znaku (nevhodné 
            zarovnání na osu znaku, potřeba zcela odlišné kresby háčku 
            při kombinaci s&nbsp;písmenem <tt>d</tt> než při kombinaci s&nbsp;písmenem 
            <tt>c</tt> apod.). K&nbsp;tomu řešení se tedy přistupuje jen 
            v&nbsp;nouzi.
        </p>
    </div>
    <p>
        Historicky se pro potřeby neanglických jazyků začala nejdříve
        používat různá jednobajtová kódování. Vznikly různé standardní
        kódové stránky, které specifikovaly, jak interpretovat který bajt
v&nbsp;textovém souboru. Pro češtinu se mimo jiné používalo kódování
    </p>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/Windows-1250"><abbr title="Code Page 1250">CP1250</abbr></a>
            na Windows,
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/ISO/IEC_8859-2">ISO-8859-2</a>
            na unixových systémech,
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Macintosh_Central_European_encoding">Mac CE</a>
            na starších verzích Mac OS.
        </li>
    </ul>
    <p>
        Problém je, že jednobajtové kódování má vždy k&nbsp;dispozici pro jeden
        znak právě jeden bajt. Není tedy možné v&nbsp;jedné kódové stránce mít
        více než 256 různých znaků, což je pro některé jazyky značně
        omezující (extrémním příkladem může být například tradiční čínština
        používající tisíce různých znaků).
    </p>
    <p>
        Informace o&nbsp;použité kódové stránce navíc není v&nbsp;čistě textovém
        souboru nikde uvedena. Zpracovatel tedy musí vědět, která kódová
        stránka byla použita, jinak dojde k&nbsp;chybné interpretaci textu.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Existují nástroje, které mohou zkusit kódování textu 
            <em>odhadnout</em>. Jedním z&nbsp;nich je např. program 
            <a href="http://linux.die.net/man/1/enca"><tt>enca</tt></a>.
            <br>
            Jinou možností pro detekci kódování je např.
            <a href="https://man7.org/linux/man-pages/man1/file.1.html">
                <tt>file -bi</tt></a>.
        </p>
    </div>
    <p>
        Kvůli chybějící indikaci není ani možné používat více kódových
        stránek v&nbsp;jednom souboru (např. pro zakódování textu ve dvou různých
        jazycích, kdy každý z&nbsp;nich vyžaduje jiné jednobajtové kódování).
    </p>

    <!-- Návěští sekce. -->
    <h3>
        <span id="unicode">
            Unicode
        </span>
    </h3>
    <p>
        Problémy <a href="#jednobajtova-kodovani">jednobajtových
        kódování</a> řeší standard <a href="https://en.wikipedia.org/wiki/Unicode">Unicode</a>.
        Zjednodušeně si jej můžeme představit jako seznam dvojic
        <i>číslo:znak</i>, kde je každému znaku 
        přiřazeno nějaké jednoznačné identifikační („katalogové“) číslo.
        Například znak <tt>š</tt> má přiděleno číslo 353, znak <tt>–</tt>
        (pomlčka) číslo 8211 atd.
    </p>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Tip:</strong>
            Velmi užitečnou aplikací pro vyhledávání informací o&nbsp;Unicode 
            znacích a&nbsp;hledání znaků samotných je webová aplikace 
            <a href="https://r12a.github.io/uniview/">UniView</a>.
        </p>
    </div>
    <p>
        Povšimněte si, že počet znaků, které Unicode pokrývá, mnohonásobně 
        převyšuje 256 možností zakódovatelných do jediného bajtu&nbsp;– například ona
        pomlčka (<tt>–</tt>) už je spolehlivě mimo tento rozsah. Musí tedy být 
        definován i&nbsp;nějaký způsob, jak vysoká „katalogová“ čísla znaků uložit jako
        posloupnost bajtů do souboru (k&nbsp;zakódování čísel větších než 255 už 
        nám nestačí jeden bajt, takové číslo musí být uloženo v&nbsp;několika 
        bajtech). Existuje 
        <a href="https://en.wikipedia.org/wiki/Comparison_of_Unicode_encodings">několik 
        způsobů Unicode kódování</a>:
    </p>
    <ul>
        <li>
            Nejjednodušší přístup je vyhradit pro každý znak pevný
            a&nbsp;dostatečně velký počet bajtů, aby tak bylo možné uložit i&nbsp;velká
            „katalogová“ čísla znaků. Tento postup reprezentuje např.
            <a href="https://en.wikipedia.org/wiki/UTF-32">Unicode
            Transformation Format UTF-32</a>, kde je každý znak reprezentován
            právě čtyřmi bajty (tzn. 32&nbsp;bity, odtud název UTF-32).
            <ul>
                <li>
                    Tento postup však značně plýtvá místem, i&nbsp;nízká
                    „katalogová“ čísla znaků jsou uložena na celých čtyřech
                    bajtech, z&nbsp;nich většina je ale nulová.
                </li>
                <li id="bom">
                    Je problém s&nbsp;různou <a href="https://en.wikipedia.org/wiki/Endianness">endianitou</a>
                    různých platforem&nbsp;– protože je číslo uloženo ve
                    více bajtech, musí být možné nějak zjistit, na které
                    straně čtveřice bajtů v&nbsp;souboru je uložen nejvíce/nejméně významný
                    bajt čísla. Tento problém se řeší přidáváním 
                    <a href="https://en.wikipedia.org/wiki/Byte_order_mark"><abbr title="Byte Order Mark">BOM</abbr></a>
                    na začátek souboru, což ale může vést k&nbsp;problémům při
                    zpracování souboru programy, které na to nejsou
                    připravené.
                </li>
            </ul>
        </li>
    </ul>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Příklad&nbsp;– endianita:</strong>
            Mějmě (desítkově zapsaná) čísla (mezery ve všech zápisech 
            v&nbsp;příkladu jsou přidány jen pro přehlednost):
        </p>
        <ul>
            <li>1&nbsp;245&nbsp;391&nbsp;901</li>
            <li>379&nbsp;976&nbsp;145</li>
        </ul>
        <p>
            Šestnácková reprezentace čísel pak je:
        </p>
        <ul>
            <li>4A&nbsp;3B&nbsp;2C&nbsp;1D</li>
            <li>16&nbsp;A5&nbsp;F9&nbsp;D1</li>
        </ul>
        <p>
            Binární reprezentace čísel pak je:
        </p>
        <ul>
            <li>0100&nbsp;1010&nbsp;&nbsp;0011&nbsp;1011&nbsp;&nbsp;0010&nbsp;1100&nbsp;&nbsp;0001&nbsp;1101</li>
            <li>0001&nbsp;0110&nbsp;&nbsp;1010&nbsp;0101&nbsp;&nbsp;1111&nbsp;1001&nbsp;&nbsp;1101&nbsp;0001</li>
        </ul>
        <p>
            Little-endian posloupnost bajtů v&nbsp;souboru při zápisu obou čísel za sebou:
        </p>
        <ul>
            <li><tt>1D&nbsp;2C&nbsp;3B&nbsp;4A&nbsp;&nbsp;D1&nbsp;F9&nbsp;A5&nbsp;16</tt></li>
        </ul>
        <p>
            Big-endian posloupnost bajtů v&nbsp;souboru při zápisu obou čísel za sebou:
        </p>
        <ul>
            <li><tt>4A&nbsp;3B&nbsp;2C&nbsp;1D&nbsp;&nbsp;16&nbsp;A5&nbsp;F9&nbsp;D1</tt></li>
        </ul>
    </div>
    <ul>
        <li>
            Propracovaným, a&nbsp;asi nejrozšířenějším Unicode kódováním 
            textových souborů je kódování
            <a href="https://en.wikipedia.org/wiki/UTF-8">UTF-8</a>.
            <ul>
                <li>
                    Šetří místo – jednotlivé znaky jsou ukládány na jednom
                    až čtyřech bajtech tak, aby nebyly zbytečně ukládány
                    vedoucí nulové bajty. Počet bajtů použitých pro kódování 
                    jednoho znaku je signalizován několikabitovým prefixem 
                    ve všech bajtech použitých pro kódování daného znaku 
                    (viz např. 
                    <a href="https://en.wikipedia.org/wiki/UTF-8#Examples">příklad na Wikipedii</a>).
                    <ul>
                        <li>
                            Takový postup navíc pomáhá s&nbsp;hledáním 
                            hranic jednotlivých znaků při náhodném přístupu 
                            doprostřed textového souboru, při ztrátě části 
                            obsahu souboru (vinou chyby při přenosu po síti, 
                            chyby při čtení z&nbsp;disku, &hellip;) apod.
                        </li>
                        <li>
                            Díky tomu je UTF-8 také neutrální 
                            z&nbsp;hlediska endianity, čímž odpadají
                            problémy s&nbsp;<a href="https://en.wikipedia.org/wiki/Byte_order_mark"><abbr title="Byte Order Mark">BOM</abbr></a>.
                            (Pozor, zejména na Windows některé programy 
                            vkládají BOM značky i&nbsp;do UTF-8 kódovaných 
                            souborů, což často způsobuje problémy, protože 
                            BOM u&nbsp;UTF-8 nemá žádný praktický význam 
                            a&nbsp;mnoho programů zpracovávajících UTF-8 
                            soubory s&nbsp;BOM nepočítá.)
                        </li>
                    </ul>
                </li>
                <li>
                    Prvních 128 znaků v&nbsp;UTF-8 binárně jedna ku jedné
                    odpovídá základnímu <a href="https://en.wikipedia.org/wiki/ASCII">ASCII</a>,
                    což je výhodné z&nbsp;hlediska kompatibility&nbsp;– různé
                    jednoduché textové soubory (např. konfigurační soubory), 
                    které si vystačí se základním ASCII, jsou „zdarma“ 
                    korektně kódovány v&nbsp;UTF-8 a&nbsp;naopak.
                </li>
            </ul>
        </li>
    </ul>
    <div class="tip-box">
        <p>
            <strong class="tip-headline">Příklad&nbsp;– kódování UTF-8:</strong>
            Mějme následující Unicode znak:
        </p>
        <ul>
            <li>Ǻ – <a href="https://www.compart.com/en/unicode/U+01FA">Latin Capital Letter A with Ring Above and Acute</a></li>
        </ul>
        <p>
            Tento znak má několik možných reprezentací.
            Jedna možná reprezentace sestává ze tří samostatných grafémů:
        </p>
        <ul>
            <li>A – <a href="https://www.compart.com/en/unicode/U+0041">Latin Capital Letter A</a> (číslo grafému: 65)</li>
            <li>◌̊ – <a href="https://www.compart.com/en/unicode/U+030A">Combining Ring Above</a> (číslo grafému: 778)</li>
            <li>◌́ – <a href="https://www.compart.com/en/unicode/U+0301">Combining Acute Accent</a> (číslo grafému: 769)</li>
        </ul>
        <p>
            Binární reprezentace čísel jednotlivých grafémů je následující:
        </p>
        <ul>
            <li>100 0001</li>
            <li>11 0000 1010</li>
            <li>11 0000 0001</li>
        </ul>
        <p>
            <a href="https://cs.wikipedia.org/wiki/UTF-8#Způsob_kódování_znaků">Kódování UTF-8</a>
            nám jednoznačné zadává, jak binární reprezentaci grafémů zakódovat:
        </p>
        <ul>
            <li><strong>0</strong>100 0001</li>
            <li><strong>110</strong>0 1100 <strong>10</strong>00 1010</li>
            <li><strong>110</strong>0 1100 <strong>10</strong>00 0001</li>
        </ul>
        <p>
            Znak Ǻ tedy zakódujeme následující posloupností pěti bajtů:
        </p>
        <ul>
            <li><tt>41 CC 8A CC 81</tt></li>
        </ul>
        <p>
            Jak jsme zmínili, existuje několik reprezentací znaku Ǻ. Namísto
            výše uvedené trojice grafémů můžeme např. přímo použít grafém
            <a href="https://www.compart.com/en/unicode/U+01FA">Latin Capital
            Letter A with Ring Above and Acute</a> (grafém číslo 506), který
            zakódujeme pomocí dvou bajtů <tt>C7 BA</tt>.
        </p>
        <p>
            Toto nám činí problémy např. tehdy, když chceme v textu najít
            konkrétní slovo. Prohlížeče a editory textových dokumentů totiž
            většinou pracují na úrovni grafémů, ne znaků, a jinak
            reprezentované slovo nemusí najít. Abychom se tomuto problému
            vyhnuli, můžeme reprezentaci znaků v dokumentu sjednotit pomocí tzv.
            <a href="https://unicode.org/reports/tr15/#Norm_Forms">Unicode
            normalizace</a> implementované např. nástrojem
            <a href="http://www.linuxfromscratch.org/blfs/view/svn/general/icu.html"><tt>uconv</tt></a>:
            <code class="ukazka_kodu">
                $ printf '\x41\xCC\x8A\xCC\x81' | hexdump -C<br/>
                00000000  41 cc 8a cc 81                                    |A....|<br/>
                00000005<br/><br/>
                $ printf '\x41\xCC\x8A\xCC\x81' | uconv -x any-nfc | hexdump -C<br/>
                00000000  c7 ba                                             |..|<br/>
                00000002
            </code>
        </p>
    </div>

    <!-- Návěští sekce. -->
    <h3>
        <span id="kodovani-textu-ukoly-k-procviceni">
            Praktické úkoly k procvičení
        </span>
    </h3>
    <p>
        Prohlédněte si odkazované články o&nbsp;jednobajtových kódováních 
        a&nbsp;porovnejte rozdíly mezi kódovými stránkami.
    </p>
    <p>
        Vyzkoušejte si, jak vypadá chybná interpretace textu při chybně
        zvoleném kódování v&nbsp;programu text zpracovávajícím.
    </p>
    <ul>
        <li>
            Vytvořte si v&nbsp;libovolném textovém editoru (<em>plain textovém
            editoru, tzn. programy typu Poznámkový blok, Vim, Visual Studio Code
            apod., nikoliv v&nbsp;textovém procesoru typu MS Word, LibreOffice
            Writer apod., které text ukládají ve složitém binárním formátu</em>) soubor
            <tt>plaintext-cp1250.txt</tt> s&nbsp;jediným řádkem obsahujícím text
            <code>Šíleně žluťoučký kůň úpěl ďábelské ódy.</code> a&nbsp;uložte jen
            v&nbsp;kódování Windows CP1250.
        <ul>
            <li>
                Visual Studio Code pod Windows:
                <code class="ukazka_kodu">
                    Soubor → Nový textový soubor<br/>
                    V pravém dolním rohu: UTF-8 → Central European (Windows 1250)<br/>
                    Soubor → Uložit jako → plaintext-cp1250.txt
                </code>
            </li>
            <li>
                Vim na libovolné platformě:
                <code class="ukazka_kodu">
                    :w&nbsp;++enc=cp1250
                </code>
            </li>
        </ul>
        </li>
        <li>
            Otevřete si takto vytvořený soubor ve webovém prohlížeči, kde je
            snadné ručně zvolit kódování zpracovávaného souboru. Např. v prohlížeči
            Google Chrome si za tímto účelem můžete nainstalovat rozšíření
            <a href="https://chrome.google.com/webstore/detail/set-character-encoding/bpojelgakakmcfmjfilgdlmhefphglae">Set Character Encoding</a>.
            Vyberte nejdříve kódování CP1250 (další možné názvy zahrnují „Windows 1250“
            a „Central European“). Text by měl být zobrazen správně. Následně vyberte
            jiná kódování a&nbsp;podívejte se, jak je obsah souboru prohlížečem interpretován.
        </li>
    </ul>
    <p>
        Převeďte soubor <tt>plaintext-cp1250.txt</tt> do Unicode v&nbsp;kódování UTF-8.
    </p>
    <ul>
        <li>
            Prohlédněte si, jak je vypadá binární reprezentace českého textu
            v&nbsp;<tt>plaintext-cp1250.txt</tt> v&nbsp;kódování CP1250. Viz 
            <a href="#konce-radku-ukoly-k-procviceni">výše</a>.
        </li>
        <li>
            Převeďte soubor do UTF-8.
            <ul>
                <li>
                    Visual Studio Code pod Windows:
                    <code class="ukazka_kodu">
                        Soubor → Otevřít soubor&hellip; → plaintext-cp1250.txt<br/>
                        V pravém dolním rohu: UTF-8 → Znovu otevřít s kódováním → Central European (Windows 1250)<br/>
                        V pravém dolním rohu: Central European (Windows 1250) → Uložit s kódováním → UTF-8<br/>
                        Soubor → Uložit jako → plaintext-utf8.txt
                    </code>
                </li>
                <li>
                    Vim na libovolné platformě:
                    <code class="ukazka_kodu">
                        :e&nbsp;++enc=cp1250<br/>
                        :w&nbsp;++enc=utf8
                    </code>
                </li>
                <li>
                    <a href="https://linux.die.net/man/1/iconv">Linux</a>:
                    <code class="ukazka_kodu">
                        iconv -f cp1250 -t utf8 --output plaintext-utf8.txt plaintext-cp1250.txt
                    </code>
                    <!-- mv -v plaintext-utf8.txt plaintext.txt -->
                </li>
                <li>
                    <a href="https://ss64.com/osx/iconv.html">macOS</a>:
                    <code class="ukazka_kodu">
                        iconv -f CP1250 -t UTF-8 < plaintext-cp1250.txt > plaintext-utf8.txt
                    </code>
                </li>
            </ul>
        </li>
        <li>
            Prohlédněte si, jak vypadá binární reprezentace českého textu
            v&nbsp;<tt>plaintext-utf8.txt</tt> po převodu do UTF-8. Viz 
            <a href="#konce-radku-ukoly-k-procviceni">výše</a>.
        </li>
        <li>
            Vyzkoušejte také další jednobajtová/Unicode kódování 
            a&nbsp;prohlédněte si výslednou binární reprezentaci souboru.
        </li>
        <li>
            Vyzkoušejte chování různých konverzních programů při pokusu 
            o&nbsp;konverzi textu obsahujícího znaky, které v&nbsp;cílovém
            (jednobajtovém) kódování nemají reprezentaci (cílová kódová 
            stránka nemá pro daný znak žádnou reprezentaci).
        </li>
        <li>
            Pokud pracujete na Unixu, vyzkoušejte si, jaké problémy může
            přinést použití <abbr title="Byte Order Mark">BOM</abbr>
            u&nbsp;textového souboru v&nbsp;kódování UTF-8.
            <ul>
                <li>
                    Soubor <tt>skript.sh</tt> 
                    <a href="#konce-radku-ukoly-k-procviceni">z předchozího 
                    cvičení</a> uložte s&nbsp;unixovou reprezentací znaků konce 
                    řádků, ale s&nbsp;<abbr title="Byte Order Mark">BOM</abbr>.
                    <ul>
                        <li>
                            Vim na libovolné platformě:
                            <code class="ukazka_kodu">
                                :set&nbsp;fileformat=unix<br/>
                                :set&nbsp;bomb<br/>
                                :w&nbsp;++enc=utf8
                            </code>
                        </li>
                    </ul>
                </li>
                <li>
                    Na unixovém systému nastavte souboru práva pro spuštění 
                    a&nbsp;pokuste se skript spustit:
                    <code class="ukazka_kodu">
                        $ chmod u+x skript.sh<br/>
                        $ ./skript.sh<br/>
                        ./skript.sh: řádek 1: ﻿#!/bin/bash: Adresář nebo soubor neexistuje<br/>
                        Hello World!
                    </code>
                    Proč došlo k&nbsp;uvedené chybě?
                </li>
            </ul>
        </li>
    </ul>
    <!--
    <p>
        Pokud odevzdáváte práci ze cvičení e-mailem, přiložte veškeré textové soubory,
        které jste vyrobili. Pokud jste pracovali pod Unixem, uveďte i odpověď
        na otázku z posledního bodu.
    </p>
    -->
    <!-- Konec textu. -->
</div>
